extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "Страница не найдена";
	- var pageDescription = pageTitle;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	.wrong
		.inner.inner_box
			.wrong__image: img(src='../img/404.png')
			.wrong__title Страница не найдена
			.wrong__text К сожалению, страница, которую Вы запросили, не была найдена.#[br.only-desktop] Вы&nbsp;можете перейти на главную страницу или воспользоваться каталогом цветов.
			.wrong__btn
				a(href='/').btn.btn_fill на главную
			.wrong__menu
				.wrong__menu-title Популярные категории
				.wrong__menu-list
					.picker__type
						.picker__type-swiper

							.picker__type-list
								.picker__type-item
									a(href='#').picker__type-card
										.picker__type-inner
											.picker__type-image: img(src='../img/svg/flowers_rose.svg', alt='Розы')
											.picker__type-text Розы

								.picker__type-item
									a(href='#').picker__type-card
										.picker__type-inner
											.picker__type-image: img(src='../img/svg/flowers_tulip.svg', alt='Тюльпаны')
											.picker__type-text Тюльпаны

								.picker__type-item
									a(href='#').picker__type-card
										.picker__type-inner
											.picker__type-image: img(src='../img/svg/flowers_bouquet.svg', alt='Букеты')
											.picker__type-text Букеты

								.picker__type-item
									a(href='#').picker__type-card
										.picker__type-inner
											.picker__type-image: img(src='../img/svg/flowers_composition.svg', alt='Композиции')
											.picker__type-text Композиции

								.picker__type-item
									a(href='#').picker__type-card
										.picker__type-inner
											.picker__type-image: img(src='../img/svg/flowers_wedding.svg', alt='Букеты невесты')
											.picker__type-text Букеты#[br]невесты

								.picker__type-item
									a(href='#').picker__type-card
										.picker__type-inner
											.picker__type-image: img(src='../img/svg/flowers_gift.svg', alt='Подарки')
											.picker__type-text Подарки




block append
