extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "О нас";
	- var pageDescription = pageTitle;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	.head
		.inner
			.title: h1= pageTitle

			.breadcrumbs
				.breadcrumbs__item: a(href='/') Главная
				.breadcrumbs__item= pageTitle

	.about
		.inner.inner_box
			.about__title #[span Интернет-магазин «Цветочная Ярмарка»] по праву считается одним из лучших интернет-магазинов Северной столицы. У нас всегда свежие цветы&nbsp;и&nbsp;богатый выбор готовых букетов.

			.about__text.about__text_left
				p Мы доставляем цветы семь дней в неделю. Мы работаем на рынке Санкт-Петербурга уже неколько лет и наши букеты по праву снискали славу у покупателей. Сделав у нас заказ на цветы хотя бы один раз, вы вернетесь к нам снова. Нас рекомендуют своим друзьям.
				p Наши магазины работают круглосуточно. Вы можете заказать доставку дизайнерских букетов из живых цветов в Санкт-Петербурге, по любому адресу – на дом или в офис получателю.

			.clearfix.only-desktop
			.inner__wide.about__conditions
				.about__bouquet
				.about__conditions-inner
					.about__conditions-list
						.about__conditions-item
							.about__conditions-ico: img(src='../img/svg/about_1.svg', alt='')
							.about__conditions-title Низкие цены
							.about__conditions-text Специальные предложения и&nbsp;акции 365&nbsp;дней в&nbsp;году
						.about__conditions-item
							.about__conditions-ico: img(src='../img/svg/about_2.svg', alt='')
							.about__conditions-title Поддержка 24/7
							.about__conditions-text Доставка или самовывоз цветов строго по&nbsp;вашему заказу или&nbsp;креатив от&nbsp;наших мастеров
						.about__conditions-item
							.about__conditions-ico: img(src='../img/svg/about_3.svg', alt='')
							.about__conditions-title Оперативность
							.about__conditions-text Доставка от&nbsp;2-х часов после оформления заказа или более 100 магазинов для самовывоза
						.about__conditions-item
							.about__conditions-ico: img(src='../img/svg/about_4.svg', alt='')
							.about__conditions-title Индивидуальный подход
							.about__conditions-text К каждому клиенту от букетов до vip-оформления под ключ
						.about__conditions-item
							.about__conditions-ico: img(src='../img/svg/about_5.svg', alt='')
							.about__conditions-title Свой склад цветов
							.about__conditions-text Гарантирует свежесть и наличие более полумиллиона цветов

			.about__text.about__text_left
				p В регулярно обновляемом каталоге компании представлено более 200 цветочных композиций. "Цветочная ярмарка" полностью гарантирует безупречное качество доставляемых букетов: наличие только свежих цветов в составе, полное соответствие изображению в каталоге, высокое мастерство исполнения.

			.clearfix.only-desktop

			.about__text.about__text_right
				p Наши букеты соответствуют любому Вашему настроению и поводу их вручения: воздушные гортензии, экзотические орхидеи, благородные каллы, нежные ромашки…И, конечно, какое женское сердце устоит перед бархатом 101 розы?
				p Вспомните, как приятно получать в подарок цветы. Ещё приятней их дарить — особенно если это цветочные композиции, которые предлагает флористическая мастерская «Цветочная Ярмарка». Не нужно лишних слов, ваши эмоции воплотятся в изящную композицию цветов, стоит вам лишь сделать заказ букетов. Красноречивее любых признаний будут подаренные вами цветы.

			.about__logo: img(src='../img/about_logo.png')

	//-.deliverinfo.only-desktop
	.deliverinfo
		.inner
			.deliverinfo__title Доставка цветов по Санкт-Петербургу и&nbsp;Ленобласти | «Цветочная Ярмарка»
			.deliverinfo__text Заказать цветы в интернет-магазине «Цветочная Ярмарка» – это просто и удобно! Подберите подходящий вам по вкусу и цене букет в каталоге, авторизуйтесь на сайте и выберите удобный способ доставки и оплаты. Готово! Ваш заказ доставят получателю уже через 1 час. А если у вас остались вопросы, позвоните по телефону 8 (812) 770-49-44 и наши флористы помогут определиться с выбором.


block append
