extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "Красные российские розы от 36 руб. / шт";
	- var pageDescription = pageTitle;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	.head
		.inner
			.title: h1= pageTitle

			.breadcrumbs
				.breadcrumbs__item: a(href='/') Главная
				.breadcrumbs__item: a(href='/') Акции
				.breadcrumbs__item= pageTitle

	.article
		.inner.inner_box
			.article__image
				picture
					source(media="(max-width: 1199px)" srcset="../img/temp/action_mob.jpg")
					source(media="(min-width: 1200px)" srcset="../img/temp/action_desk.jpg")
					img(src="../img/temp/action_desk.jpg" alt="красные российские розы от 36 руб.")


			.article__text.article__padding
				p Роза всегда считалась самым популярным и любимым всеми женщинами цветком. Недаром во флористике розу называют «Королевой цветов». Благоухающие сочные и нежные розы идеально подходят в качестве подарка абсолютно любой женщине, будь то дама вашего сердца или коллега.
				p Роза всегда считалась самым популярным и любимым всеми женщинами цветком. Недаром во флористике розу называют «Королевой цветов». Благоухающие сочные и нежные розы идеально подходят в качестве подарка абсолютно любой женщине, будь то дама вашего сердца или коллега.

			.article__title.article__padding Акция распространяется на следующий цветы:

			.card.card_carousel.card_five
				.card__list
					+cardItem('25 роз 50 см сорта Пич Аваланш в крафте', '2 500', '5 000', [])
					+cardItem('101 розовый тюльпан', '2 500', '5 000', [])
					+cardItem('25 роз 50 см сорта Пич Аваланш в крафте', '1 900', false, [])
					+cardItem('Букет Лунная соната', '3 500', '5 000', [])
					+cardItem('25 роз 50 см сорта Пич Аваланш в крафте', '1 900', false, [])
					+cardItem('Букет Лунная соната', '3 500', '5 000', [])

			.article__share.article__padding
				.article__share-title Поделиться в соцсетях
				.article__share-list(data-share)
					.article__share-item(data-share-type="vk"): include ../img/svg/ico-soc-vk.svg
					.article__share-item(data-share-type="fb"): include ../img/svg/ico-soc-fb.svg
					.article__share-item(data-share-type="ok"): include ../img/svg/ico-soc-ok.svg
					.article__share-item(data-share-type="tw"): include ../img/svg/ico-soc-tw.svg

block append
