extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "Новости";
	- var pageDescription = pageTitle;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	.head
		.inner
			.title: h1= pageTitle

		.breadcrumbs
			.breadcrumbs__item: a(href='/') Главная
			.breadcrumbs__item= pageTitle

	.news
		.inner
			.card.card_news
				.card__list
					+cardNews('Акция выходного дня ', 'Обратите внимание. При заказе любого букета с понедельник по четверг включительно, с доставкой по четверг включительно, с доставкой', '30 Июля 2017')
					+cardNews('Уроки флористики: выбираем букет из роз ', 'Роза всегда считалась самым популярным и любимым всеми женщинами цветкомлюбимым всеми женщинами цветком', '19 Июля 2017')
					+cardNews('Цветы на выпускной', 'Букет цветов на выпускной в школе или детском саду всегда был и остается замечательным подарком для...', '19 Июля 2017')
					+cardNews('Цветы на свадьбу, букет невесты ', 'Без цветов не обходится ни одно свадебное мероприятие. Букет нежных цветов всегда считался традиционным...', '30 Июля 2017')
					+cardNews('Цветы на Пасху: что из цветов подарить', 'В первую очередь цветочная композиция должна быть выдержана в традициях Пасхи.', '19 Июля 2017')
					+cardNews('Цветы на выпускной', 'Букет цветов на выпускной в школе или детском саду всегда был и остается замечательным подарком для...', '19 Июля 2017')

			.more
				.btn.btn_fill показать еще



block append
