extends layout/template

block vars
	- var pageName = "orderback";
	- var pageTitle = 'Корзина';
	- var pageDescription = pageTitle;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	.head
		.inner
			.title: h1= pageTitle

	.cart
		.inner
			.cart__main
				.cart__product
					+cartProductItem('Букет с герберами, фиалками и&nbsp;пионовидными розами', 1000, 1)
					+cartProductItem('Букет Корал Ми', 1000, 2)
					+cartProductItem('Букет осенний с тыквой и тюльпанами (мини)', 3200, 1)
					+cartProductItem('Букет осенний с тыквой (мини)', 3200, 1)

			.cart__aside
				.cart__bill
					.cart__bill-inner
						.cart__bill-title Промокод
						.cart__bill-promo
							form(action='', method='post')#couponSend
								.cart__bill-promo-code: input(type='text', name='promo-code', placeholder='Промокод', data-regex='^[\\W\\w]+$', maxlength='5')
								.cart__bill-promo-submit: button(type='submit', disabled).btn применить
								.cart__bill-promo-message
						.cart__bill-list
							.cart__bill-item
								.cart__bill-item-key: span Стоимость:
								.cart__bill-item-val: span 3 000 ₽
							.cart__bill-item
								.cart__bill-item-key: span Скидка:
								.cart__bill-item-val: span 0 ₽
							.cart__bill-item
								.cart__bill-item-key: span Доставка:
								.cart__bill-item-val: span 0 ₽
							.cart__bill-item.cart__bill-item_result
								.cart__bill-item-key: span ИТОГО:
								.cart__bill-item-val: span 3 000 ₽
						.cart__bill-btn
							.btn.btn_fill продолжить оформление
							.btn.btn_poor вернуться к покупкам



	.elected
		.inner
			.title.title_min: h2 вас могут заинтересовать

			.card.card_carousel
				.card__list
					+cardItem('25 роз 50 см сорта Пич Аваланш в крафте', '2 500', '5 000', [['Акция', 'red']])
					+cardItem('101 розовый тюльпан', '2 500', '5 000', [])
					+cardItem('25 роз 50 см сорта Пич Аваланш в крафте', '1 900', false, [['новинка', 'blue']])
					+cardItem('Букет Лунная соната', '3 500', '5 000', [['хит продаж', 'green'], ['Акция', 'red']])
					+cardItem('25 роз 50 см сорта Пич Аваланш в крафте', '1 900', false, [['новинка', 'blue']])
					+cardItem('Букет Лунная соната', '3 500', '5 000', [['хит продаж', 'green'], ['Акция', 'red']])



block append