extends layout/template

block vars
	- var pageName = 'home';
	- var pageTitle = 'букеты';
	- var pageDescription = pageTitle;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	.head
		.inner
			.title: h1= pageTitle
			.breadcrumbs
				.breadcrumbs__item: a(href='/') Главная
				.breadcrumbs__item: a(href='catalog_enter.html') Каталог
				.breadcrumbs__item= pageTitle

	.catalog
		.inner
			.catalog__head
				.catalog__head-text Найденo #[b 25 товаров]
				.catalog__head-filter фильтры

			.catalog__filter
				.catalog__filter-overlay
				.catalog__filter-inner
					.catalog__filter-close
					.catalog__filter-head фильтры

					.catalog__filter-item.catalog__filter-item_sort
						.catalog__filter-title.is-open Сортировать по
						.catalog__filter-group.is-open
							.form__field
								.form__input
									input(type='text', readonly, value='Популярности').form__input-text
									input(type='text', name='select', value='1').form__input-value
									.form__input-arrow
									.form__select
										.form__select-item(data-value='1') Популярности
										.form__select-item(data-value='2') Стоимости
										.form__select-item(data-value='3') Наличию

					.catalog__filter-item
						.catalog__filter-title.is-open Цена
						.catalog__filter-group.is-open
							.form__field
								+formInput('range')
								+formInput('radio local', '0, 2500', 'До 2 500 ₽')
								+formInput('radio local', '2500, 4000', 'От 2 500  до 4 000 ₽')
								+formInput('radio local', '4000, 6000', 'От 4 000  до 6 000 ₽')
								+formInput('radio local', '6000', 'От 6 000 ₽')

							.form__field
								+formInput('checkbox', 'actions', 'Акции')

					.catalog__filter-item
						.catalog__filter-title Наличие
						.catalog__filter-group
							.form__field
								+formInput('radio', 'availability', 'Все', true)
								+formInput('radio', 'availability', 'В наличии (15)')


					.catalog__filter-item
						.catalog__filter-title Цвет
						.catalog__filter-group
							.form__field
								+formInput('checkbox', 'color_1', 'Белый (3)')
								+formInput('checkbox', 'color_2', 'Зеленый (1)')
								+formInput('checkbox', 'color_3', 'Красный (2)')
								+formInput('checkbox', 'color_4', 'Оранжевый (1)')
								+formInput('checkbox', 'color_5', 'Разноцветный (6)')
								+formInput('checkbox', 'color_6', 'Розовый (7)')
								+formInput('checkbox', 'color_7', 'Сиреневый (1)')
								+formInput('checkbox', 'color_8', 'Сиреневый (1)')


					.catalog__filter-item
						.catalog__filter-title Состав букета
						.catalog__filter-group
							.form__field
								+formInput('checkbox', 'composition_1', 'Розы')
								+formInput('checkbox', 'composition_2', 'Герберы')
								+formInput('checkbox', 'composition_3', 'Фалинопсис')
								+formInput('checkbox', 'composition_4', 'Хризантемы')

					.catalog__filter-item
						.catalog__filter-title Упаковка
						.catalog__filter-group
							.form__field
								+formInput('checkbox', 'who_1', 'Корзина')
								+formInput('checkbox', 'who_2', 'Бумага')
								+formInput('checkbox', 'who_3', 'Фольга')

					.catalog__filter-item
						.catalog__filter-title Кому
						.catalog__filter-group
							.form__field
								+formInput('checkbox', 'who_1', 'Девушке')
								+formInput('checkbox', 'who_2', 'Коллеге')
								+formInput('checkbox', 'who_3', 'Ветерану')

					.catalog__filter-item
						.catalog__filter-title Повод
						.catalog__filter-group
							.form__field
								+formInput('checkbox', 'reason_1', 'Свадьба')
								+formInput('checkbox', 'reason_2', 'День рождения')
								+formInput('checkbox', 'reason_3', 'Свидание')

					.catalog__filter-control
						.btn.btn_fill применить фильтр
						.btn сбросить

			.catalog__list
				.card
					.card__list
						+cardItem('25 роз 50 см сорта Пич Аваланш в крафте', '2 500', '5 000', [['Акция', 'red'], ['новинка', 'blue']])
						+cardItem('51 оранжевая роза Кения 50 см в крафте', '2 500', '5 000', [['Акция', 'red']])
						+cardItem('25 роз 50 см сорта Пич Аваланш в крафте', '1 900', false, [['новинка', 'blue']])
						+cardItem('Букет Лунная соната', '3 500', '5 000', [['хит продаж', 'green'], ['Акция', 'red']])
						+cardItem('25 роз 50 см сорта Пич Аваланш в крафте', '1 900', false, [['новинка', 'blue']])
						+cardItem('Букет Лунная соната', '3 500', '5 000', [['хит продаж', 'green'], ['Акция', 'red']])
						+cardItem('Букет Лунная соната', '3 500', '5 000', [['хит продаж', 'green'], ['Акция', 'red']])
						+cardItem('25 роз 50 см сорта Пич Аваланш в крафте', '1 900', false, [['новинка', 'blue']])
						+cardItem('Букет Лунная соната', '3 500', '5 000', [['хит продаж', 'green'], ['Акция', 'red']])
				.more
					.btn.btn_fill показать еще



	.deliverinfo
		.inner
			.deliverinfo__title Доставка цветов по Санкт-Петербургу и&nbsp;Ленобласти | «Цветочная Ярмарка»
			.deliverinfo__text Заказать цветы в интернет-магазине «Цветочная Ярмарка» – это просто и удобно! Подберите подходящий вам по вкусу и цене букет в каталоге, авторизуйтесь на сайте и выберите удобный способ доставки и оплаты. Готово! Ваш заказ доставят получателю уже через 1 час. А если у вас остались вопросы, позвоните по телефону 8 (812) 770-49-44 и наши флористы помогут определиться с выбором.

block append
	//-script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
	//-script.
		$(".form__range-value-input").on("change", function () {
			console.info('change')
		});