extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "каталог";
	- var pageDescription = pageTitle;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	.poster
		.poster__list
			.poster__item
				.poster__item-image(style='background-image:url(../img/poster/01.jpg);')
				.inner
					.poster__item-inner
						.poster__item-title Букет из тюльпанов
						.poster__item-price от 1200 ₽ / шт.
						.poster__item-btn
			.poster__item
				.poster__item-image(style='background-image:url(../img/poster/02.jpg);')
				.inner
					.poster__item-inner
						.poster__item-title Букеи из роз
						.poster__item-price от 2500 ₽ / шт.
						.poster__item-btn
			.poster__item
				.poster__item-image(style='background-image:url(../img/poster/03.jpg);')
				.inner
					.poster__item-inner
						.poster__item-title Букет из хризантем
						.poster__item-price от 999 ₽ / шт.
						.poster__item-btn

	.head
		.inner
			.title: h1= pageTitle
			.breadcrumbs
				.breadcrumbs__item: a(href='/') Главная
				.breadcrumbs__item Каталог

	.catalog
		.inner
			.catalog__enter
				.catalog__enter-list
					.catalog__enter-item
						a(href='catalog.html').catalog__enter-card
							.catalog__enter-inner
								.catalog__enter-image: img(src='../img/svg/flowers_rose.svg', alt='Розы')
								.catalog__enter-text Розы

					.catalog__enter-item
						a(href='catalog.html').catalog__enter-card
							.catalog__enter-inner
								.catalog__enter-image: img(src='../img/svg/flowers_tulip.svg', alt='Тюльпаны')
								.catalog__enter-text Тюльпаны

					.catalog__enter-item
						a(href='catalog.html').catalog__enter-card
							.catalog__enter-inner
								.catalog__enter-image: img(src='../img/svg/flowers_bouquet.svg', alt='Букеты')
								.catalog__enter-text Букеты

					.catalog__enter-item
						a(href='catalog.html').catalog__enter-card
							.catalog__enter-inner
								.catalog__enter-image: img(src='../img/svg/flowers_composition.svg', alt='Композиции')
								.catalog__enter-text Композиции

					.catalog__enter-item
						a(href='catalog.html').catalog__enter-card
							.catalog__enter-inner
								.catalog__enter-image: img(src='../img/svg/flowers_wedding.svg', alt='Букеты невесты')
								.catalog__enter-text Букеты невесты

					.catalog__enter-item
						a(href='catalog.html').catalog__enter-card
							.catalog__enter-inner
								.catalog__enter-image: img(src='../img/svg/flowers_gift.svg', alt='Подарки')
								.catalog__enter-text Подарки


	.deliverinfo
		.inner
			.deliverinfo__title Доставка цветов по Санкт-Петербургу и&nbsp;Ленобласти | «Цветочная Ярмарка»
			.deliverinfo__text Заказать цветы в интернет-магазине «Цветочная Ярмарка» – это просто и удобно! Подберите подходящий вам по вкусу и цене букет в каталоге, авторизуйтесь на сайте и выберите удобный способ доставки и оплаты. Готово! Ваш заказ доставят получателю уже через 1 час. А если у вас остались вопросы, позвоните по телефону 8 (812) 770-49-44 и наши флористы помогут определиться с выбором.


block append
