extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "Контакты";
	- var pageDescription = pageTitle;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head
	script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU')

block content

	.head
		.inner
			.title: h1= pageTitle

			.breadcrumbs
				.breadcrumbs__item: a(href='/') Главная
				.breadcrumbs__item= pageTitle


	.contacts
		.inner.inner_box
			.contacts__title Интернет-магазин цветов "Цветочная Ярмарка"
			.contacts__table
				.contacts__table-item
					.contacts__table-name Телефон
					.contacts__table-val 8 (812) 770-49-81
				.contacts__table-item
					.contacts__table-name Адрес
					.contacts__table-val Санкт-Петербург, Метро "Парнас",#[br] 8-й Верхний переулок, д. 4А
				.contacts__table-item
					.contacts__table-name E-mail:
					.contacts__table-val #[a(href='mailto:elitflowers@yandex.ru') elitflowers@yandex.ru]
				.contacts__table-item
					.contacts__table-name Время работы:
					.contacts__table-val ежедневно с 09:00 до 22:00, доставка#[br]цветов и букетов с 09:00 до 23:00

			.inner__wide
				.contacts__map

		.contacts__form
			.contacts__form-title свяжитесь с нами

			form.form(action='', method='post', novalidate, autocomplete='off')

				.form__field
					.form__title ФИО*
					.form__input
						input(type='text', name='fio', data-require='true')


				.form__field
					.form__title E-mail*
					.form__input
						input(type='email', name='email', data-require='true')

				.form__field
					.form__title Сообщение*
					.form__input
						textarea(name='message', data-require='true')

				.form__field.form__field_submit
					.form__input
						button(type='submit').btn.btn_fill отправить

				.form__field
					.form__footnote * - Поля. обязательные для заполнения


block append
