extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = 'Доставка';
	- var pageDescription = pageTitle;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	.head
		.inner
			.title: h1= pageTitle
			.breadcrumbs
				.breadcrumbs__item: a(href='/') Главная
				.breadcrumbs__item= pageTitle

	include block/delivery





block append
