extends layout/template

block vars
	- var pageName = "order";
	- var pageTitle = 'Оформление заказа';
	- var pageDescription = pageTitle;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	.head
		.inner
			.title: h1= pageTitle

	.auth
		.inner
			.auth__wrap
				.auth__box.auth__box_fill.auth__box_va
					.auth__box-inner
						.auth__box-content
							.auth__title.ta-c ВОЙТИ
							.auth__text.ta-c Чтобы получить доступ к эксклюзивным скидкам, отслеживать статус заказа в личном кабинете
							.auth__form
								form.form(action='', method='post', novalidate, autocomplete='off')

									.form__field
										.form__title E-mail или телефон*
										.form__input
											input(type='text', name='plus', data-require='true')

									.form__field
										.form__title Пароль*
										.form__input
											input(type='password', name='password', data-require='true')

									.form__field
										.form__link: a(href='#') Забыли пароль?

									.form__field.form__field_dhalf
										.form__input
											label
												input(type='checkbox', name='remember', checked)
												.form__label Запомнить меня



									.form__field.form__field_submit.form__field_dhalf
										.form__input
											button(type='submit').btn.btn_fill продолжить
											.btn.btn_poor.only-mobile вернуться к покупкам
						.auth__box-content
							.auth__soc
								.auth__soc-title Войти с помощью социальных сетей
								.auth__soc-list
									a(href='#').auth__soc-item: include ../img/svg/ico-soc-vk.svg
									a(href='#').auth__soc-item: include ../img/svg/ico-soc-fb.svg
									a(href='#').auth__soc-item: include ../img/svg/ico-soc-ok.svg
									a(href='#').auth__soc-item: include ../img/svg/ico-soc-tw.svg


				.auth__box.auth__box_va
					.auth__box-inner
						.auth__box-content
							.auth__title.ta-c Нет учетной записи?
							.auth__text.ta-c Вы сможете создать ее после оформления заказа и получить все преимущества зарегистрированного клиента
							.auth__btn: .btn.btn_fill продолжить без авторизации



block append
