extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "Цветочная ярмарка";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	.poster
		.poster__list
			a(href='#').poster__item
				.poster__item-image(style='background-image:url(../img/poster/01.jpg);')
				.inner
					.poster__item-inner
						.poster__item-title Букет из тюльпанов
						.poster__item-price от 1200 ₽ / шт.
						.poster__item-btn
			a(href='#').poster__item
				.poster__item-image(style='background-image:url(../img/poster/02.jpg);')
				.inner
					.poster__item-inner
						.poster__item-title Букет из роз
						.poster__item-price от 2500 ₽ / шт.
						.poster__item-btn
			a(href='#').poster__item
				.poster__item-image(style='background-image:url(../img/poster/03.jpg);')
				.inner
					.poster__item-inner
						.poster__item-title Букет из хризантем
						.poster__item-price от 999 ₽ / шт.
						.poster__item-btn

	.conditions
		.inner
			.conditions__list
				.conditions__item
					.conditions__item-ico: img(src='../img/svg/conditions_1.svg')
					.conditions__item-text Доставка#[br]от часа
				.conditions__item
					.conditions__item-ico: img(src='../img/svg/conditions_2.svg')
					.conditions__item-text Гарантия#[br]возврата
				.conditions__item
					.conditions__item-ico: img(src='../img/svg/conditions_3.svg')
					.conditions__item-text Бесплатная#[br]доставка от 3900
				.conditions__item
					.conditions__item-ico: img(src='../img/svg/conditions_4.svg')
					.conditions__item-text Кэш Бэк#[br]за отзывы
				.conditions__item
					.conditions__item-ico: img(src='../img/svg/conditions_5.svg')
					.conditions__item-text Скидки постоянным#[br]клиентам

	.picker

		form(action='', method='')
			.inner
				.title.title_min: h2 подбери букет в два клика

			.picker__type

				.inner
					.picker__type-title Категория

				.picker__type-swiper
					.inner
						.picker__type-list
							.picker__type-item
								label
									input(type='radio', name='picker_type')
									.picker__type-card
										.picker__type-inner
											.picker__type-image: img(src='../img/svg/flowers_rose.svg', alt='Розы')
											.picker__type-text Розы

							.picker__type-item
								label
									input(type='radio', name='picker_type')
									.picker__type-card
										.picker__type-inner
											.picker__type-image: img(src='../img/svg/flowers_tulip.svg', alt='Тюльпаны')
											.picker__type-text Тюльпаны

							.picker__type-item
								label
									input(type='radio', name='picker_type')
									.picker__type-card
										.picker__type-inner
											.picker__type-image: img(src='../img/svg/flowers_bouquet.svg', alt='Букеты')
											.picker__type-text Букеты

							.picker__type-item
								label
									input(type='radio', name='picker_type')
									.picker__type-card
										.picker__type-inner
											.picker__type-image: img(src='../img/svg/flowers_composition.svg', alt='Композиции')
											.picker__type-text Композиции

							.picker__type-item
								label
									input(type='radio', name='picker_type')
									.picker__type-card
										.picker__type-inner
											.picker__type-image: img(src='../img/svg/flowers_wedding.svg', alt='Букеты невесты')
											.picker__type-text Букеты невесты

							.picker__type-item
								label
									input(type='radio', name='picker_type')
									.picker__type-card
										.picker__type-inner
											.picker__type-image: img(src='../img/svg/flowers_gift.svg', alt='Подарки')
											.picker__type-text Подарки

			.inner
				.picker__price
					.picker__price-list
						.picker__price-item
							label
								input(type='radio', name="picker_price")
								.picker__price-label До 2&nbsp;500&nbsp;₽

						.picker__price-item
							label
								input(type='radio', name="picker_price")
								.picker__price-label От 2&nbsp;500  до&nbsp;4&nbsp;000&nbsp;₽

						.picker__price-item
							label
								input(type='radio', name="picker_price")
								.picker__price-label От 4&nbsp;000  до&nbsp;6&nbsp;000&nbsp;₽

						.picker__price-item
							label
								input(type='radio', name="picker_price")
								.picker__price-label От 6&nbsp;000&nbsp;₽

				.more
					button(type='submit').btn.btn_fill подобрать


	.elected
		.inner
			.title.title_min: h2 лучшее предложение

			.card.card_carousel.card_dots
				.card__list
					+cardItem('25 роз 50 см сорта Пич Аваланш в крафте', '2 500', '5 000', [['Акция', 'red'], ['новинка', 'blue']])
					+cardItem('101 розовый тюльпан', '2 500', '5 000', [['Акция', 'red'], ['новинка', 'blue']])
					+cardItem('25 роз 50 см сорта Пич Аваланш в крафте', '1 900', false, [['новинка', 'blue']])
					+cardItem('Букет Лунная соната', '3 500', '5 000', [['хит продаж', 'green'], ['Акция', 'red']])
					+cardItem('25 роз 50 см сорта Пич Аваланш в крафте', '1 900', false, [['новинка', 'blue']])
					+cardItem('Букет Лунная соната', '3 500', '5 000', [['хит продаж', 'green'], ['Акция', 'red']])
			.more
				.btn.btn_fill смотреть все


	.elected
		.inner
			.title.title_min: h2 хиты продаж

			.card.card_carousel.card_dots
				.card__list
					+cardItem('25 роз 50 см сорта Пич Аваланш в крафте', '2 500', '5 000', [['Акция', 'red'], ['новинка', 'blue']])
					+cardItem('101 розовый тюльпан', '2 500', '5 000', [['Акция', 'red'], ['новинка', 'blue']])
					+cardItem('25 роз 50 см сорта Пич Аваланш в крафте', '1 900', false, [['новинка', 'blue']])
					+cardItem('Букет Лунная соната', '3 500', '5 000', [['хит продаж', 'green'], ['Акция', 'red']])
					+cardItem('25 роз 50 см сорта Пич Аваланш в крафте', '1 900', false, [['новинка', 'blue']])
					+cardItem('Букет Лунная соната', '3 500', '5 000', [['хит продаж', 'green'], ['Акция', 'red']])
			.more
				.btn.btn_fill смотреть все


	.delivery
		.inner
			.title.title_min: h2 информация о доставке и оплате

			.delivery__list
				.delivery__item
					.delivery__item-ico: img(src='../img/svg/deliver_1.svg')
					.delivery__item-num 1.
					.delivery__item-text.only-desktop Подберите подходящий #[br]вам букет в каталоге #[br]и положите его в корзину
					.delivery__item-text.only-mobile Добавьте #[br]в корзину
				.delivery__item
					.delivery__item-ico: img(src='../img/svg/deliver_2.svg')
					.delivery__item-num 2.
					.delivery__item-text.only-desktop Авторизуйтесь на сайте #[br]и выберите удобный #[br]способ доставки
					.delivery__item-text.only-mobile Выберете #[br]способ доставки
				.delivery__item
					.delivery__item-ico: img(src='../img/svg/deliver_3.svg')
					.delivery__item-num 3.
					.delivery__item-text.only-desktop Укажите удобный вам способ #[br]оплаты - при получении #[br]наличными или картой
					.delivery__item-text.only-mobile Выберете форму #[br]оплаты
				.delivery__item
					.delivery__item-ico: img(src='../img/svg/deliver_4.svg')
					.delivery__item-num 4.
					.delivery__item-text.only-desktop Готово! Наш менеджер #[br]свяжется с вами для #[br]уточнения заказа
					.delivery__item-text.only-mobile Готово! Менеджер #[br]перезвонит вам #[br]через 15 минут!


	.feedback
		.inner
			.title.title_min: h2 отзывы

			.feedback__slider
				.feedback__slide
					.feedback__slide-inner
						.feedback__slide-text Огромное спасибо! Заказывала доставку на полседьмого утра, привезли вовремя, именинница в восторге! Букет шикарный, сервис замечательный, до последнего принимали все дополнения (вечером перед доставкой меня осенило, что доставка не подписана, выслушали, сказали что напишут записку)
						.feedback__slide-author Виктория
						.feedback__slide-date 8 Апреля 2017
				.feedback__slide
					.feedback__slide-inner
						.feedback__slide-text Огромное спасибо! Заказывала доставку на полседьмого утра, привезли вовремя, именинница в восторге! Букет шикарный, сервис замечательный, до последнего принимали все дополнения (вечером перед доставкой меня осенило.
						.feedback__slide-author Виктория
						.feedback__slide-date 8 Апреля 2017
				.feedback__slide
					.feedback__slide-inner
						.feedback__slide-text Огромное спасибо! Заказывала доставку на полседьмого утра, привезли вовремя, именинница в восторге! Букет шикарный, сервис замечательный, до последнего принимали все дополнения (вечером перед доставкой меня осенило, что доставка не подписана, выслушали, сказали что напишут записку)
						.feedback__slide-author Виктория
						.feedback__slide-date 8 Апреля 2017
				.feedback__slide
					.feedback__slide-inner
						.feedback__slide-text Огромное спасибо! Заказывала доставку на полседьмого утра, привезли вовремя, именинница в восторге! Букет шикарный, сервис замечательный, до последнего принимали все дополнения (вечером перед доставкой меня осенило.
						.feedback__slide-author Виктория
						.feedback__slide-date 8 Апреля 2017
				.feedback__slide
					.feedback__slide-inner
						.feedback__slide-text Огромное спасибо! Заказывала доставку на полседьмого утра, привезли вовремя, именинница в восторге! Букет шикарный, сервис замечательный, до последнего принимали все дополнения (вечером перед доставкой меня осенило, что доставка не подписана, выслушали, сказали что напишут записку)
						.feedback__slide-author Виктория
						.feedback__slide-date 8 Апреля 2017

			.more
				a(href='#').btn.btn_fill Все отзывы

	.deliverinfo
		.inner
			.deliverinfo__title Доставка цветов по Санкт-Петербургу и&nbsp;Ленобласти | «Цветочная Ярмарка»
			.deliverinfo__text Заказать цветы в интернет-магазине «Цветочная Ярмарка» – это просто и удобно! Подберите подходящий вам по вкусу и цене букет в каталоге, авторизуйтесь на сайте и выберите удобный способ доставки и оплаты. Готово! Ваш заказ доставят получателю уже через 1 час. А если у вас остались вопросы, позвоните по телефону 8 (812) 770-49-44 и наши флористы помогут определиться с выбором.

block append
