extends layout/template

block vars
	- var pageName = "home";
	- var auth = true;
	- var pageTitle = "личный кабинет";
	- var pageDescription = pageTitle;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	.head
		.inner
			.title: h1= pageTitle
			.breadcrumbs
				.breadcrumbs__item: a(href='/') Главная
				.breadcrumbs__item= pageTitle


	.auth.auth_lk
		.inner
			.auth__wrap
				.auth__box.auth__box_fill
					.auth__box-inner
						.auth__box-content
							.auth__title персональные данные
							.auth__text
								p: b Александр Виноградов
								p +7 921 258- 55-00-45
								p mail@example.com

							.auth__form
								form.form(action='', method='post', novalidate, autocomplete='off')

									.form__field
										.form__input
											label
												input(type='checkbox', name='remember')
												.form__label Подписаться на&nbsp;рассылку о&nbsp;скидках и&nbsp;акциях


									.form__field.form__field_submit.form__field_half
										.form__tab: .form__tab-link(data-tab-link='lk_data', data-tab-group='lk') Изменить данные

									.form__field.form__field_submit.form__field_half
										.form__tab: .form__tab-link(data-tab-link='lk_pass', data-tab-group='lk') Изменить пароль


									div(data-tab-target='lk_data', data-tab-group='lk')

										.form__field
											.form__title Имя*
											.form__input
												input(type='password', name='name')

										.form__field
											.form__title Фамилия
											.form__input
												input(type='password', name='sername')

										.form__field
											.form__title Отчество
											.form__input
												input(type='password', name='thirdname')

										.form__field
											.form__title E-mail*
											.form__input
												input(type='email', name='email', data-require='email')

										.form__field
											.form__title Номер телефона*
											.form__input
												input(type='text', name='phone', data-require='true', data-mask='+7 (999) 999 99 99')

										.form__field
											.form__footnote Этот номер используется при авторизации и оформлении заказа


										.form__field
											.form__title Дополнительный телефон
											.form__input
												input(type='text', name='morephone', data-mask='+7 (999) 999 99 99')

										.form__field
											.form__title Дата вашего рождения
											.form__input.form__input_date
												input(type='text', name='date')

										.form__field.form__field_submit
											.form__input
												button(type='submit').btn.btn_fill сохранить изменения

									//-

									div(data-tab-target='lk_pass', data-tab-group='lk')
										.form__field
											.form__title Старый пароль*
											.form__input
												input(type='password', name='old_pass', data-require='true')

										.form__field
											.form__title Новый пароль*
											.form__input
												input(type='password', name='old_pass', data-require='true')

										.form__field
											.form__title Повторите пароль*
											.form__input
												input(type='password', name='repeat_pass', data-require='true')

										.form__field.form__field_submit
											.form__input
												button(type='submit').btn.btn_fill изменить пароль



				.auth__box.auth__box_fill
					.auth__box-inner
						.auth__box-content
							.auth__title мои заказы

							.auth__ordering
								.auth__ordering-list
									.auth__ordering-item
										.auth__ordering-ico.ico-ok
										.auth__ordering-title № 54789520 от&nbsp;29.04.2018
										.auth__ordering-status Заказ выполнен
										.auth__ordering-price 1 990 ₽
									.auth__ordering-item
										.auth__ordering-ico.ico-wait
										.auth__ordering-title № 54789520 от&nbsp;29.04.2018
										.auth__ordering-status Ожидает оплаты
										.auth__ordering-price 6 590 ₽
									.auth__ordering-item
										.auth__ordering-ico.ico-ok
										.auth__ordering-title № 34789520 от&nbsp;29.04.2018
										.auth__ordering-status Оплачен. Заказ выполнен
										.auth__ordering-price 6 590 ₽
									.auth__ordering-item
										.auth__ordering-ico.ico-error
										.auth__ordering-title № 34789520 от&nbsp;29.04.2018
										.auth__ordering-status Отменен
										.auth__ordering-price 6 590 ₽


								.auth__ordering-more
									.btn.btn_fill показать еще






block append
