extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "Вход в личный кабинет";
	- var pageDescription = pageTitle;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	.head
		.inner
			.title: h1= pageTitle
			.breadcrumbs
				.breadcrumbs__item: a(href='/') Главная
				.breadcrumbs__item= pageTitle

	.auth
		.inner
			.auth__wrap
				.auth__box.auth__box_fill
					.auth__box-inner
						.auth__box-content
							.auth__title.ta-c авторизация
							.auth__form
								form.form(action='', method='post', novalidate, autocomplete='off')

									.form__field
										.form__title E-mail или телефон*
										.form__input
											input(type='text', name='login', data-require='true')

									.form__field
										.form__title Пароль*
										.form__input
											input(type='password', name='password', data-require='true')

									.form__field
										.form__link: a(href='#') Забыли пароль?

									.form__field
										.form__input
											label
												input(type='checkbox', name='remember', checked)
												.form__label Запомнить меня



									.form__field.form__field_submit.form__field_dhalf
										.form__input
											button(type='submit').btn.btn_fill войти
									.form__field.form__field_submit.form__field_dhalf
										.form__input
											.btn регистрация
						.auth__box-content
							.auth__soc.ta-c
								.auth__soc-title Авторизация через социальные сети
								.auth__soc-list
									a(href='#').auth__soc-item: include ../img/svg/ico-soc-vk.svg
									a(href='#').auth__soc-item: include ../img/svg/ico-soc-fb.svg
									a(href='#').auth__soc-item: include ../img/svg/ico-soc-ok.svg
									//-a(href='#').auth__soc-item: include ../img/svg/ico-soc-gp.svg
									a(href='#').auth__soc-item: include ../img/svg/ico-soc-tw.svg
									//-a(href='#').auth__soc-item: include ../img/svg/ico-soc-mr.svg


block append
