extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "Регистрация";
	- var pageDescription = pageTitle;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	.head
		.inner
			.title: h1= pageTitle
			.breadcrumbs
				.breadcrumbs__item: a(href='/') Главная
				.breadcrumbs__item= pageTitle

	.auth
		.inner
			.auth__wrap
				.auth__box.auth__box_fill
					.auth__box-inner
						.auth__box-content
							.auth__typo
								.auth__typo-title Это быстро и удобно:

								ul
									li Используйте введенные ранее данные
									li Отслеживайте статус заказа
									li Получайте первыми информацию об акции и спецпредложениях

							.auth__form
								form.form(action='', method='post', novalidate, autocomplete='off')

									.form__field
										.form__title Имя*
										.form__input
											input(type='text', name='name', data-require='true')

									.form__field
										.form__title Номер телефона*
										.form__input
											input(type='text', name='phone', data-require='true', data-mask='+7 999 999 99 99')

									.form__field.form__field_submit
										.form__input
											a(href='#').btn.btn_fill подтвердить по SMS

									.form__field
										.form__title E-mail*
										.form__input
											input(type='email', name='email', data-require='email')

									.form__field
										.form__title Создайте пароль*
										.form__input
											input(type='password', name='password', data-require='true')

									.form__field
										.form__title Повторите пароль*
										.form__input
											input(type='password', name='password2', data-require='[name=password]')

									.form__field
										.form__input
											label
												input(type='checkbox', name='subscribe', checked)
												.form__label Хочу получать рассылки о&nbsp;скидках и&nbsp;акциях

									.form__field
										.form__input
											label
												input(type='checkbox', name='confirm', data-require='true')
												.form__label Я ознакомлен с условиями Политики конфиденциальности

									.form__field.form__field_submit
										.form__input
											button(type='submit').btn.btn_fill зарегистрироваться

						.auth__box-content
							.auth__soc.ta-c
								.auth__soc-title Войти используя аккаунт социальной сети
								.auth__soc-list
									a(href='#').auth__soc-item: include ../img/svg/ico-soc-vk.svg
									a(href='#').auth__soc-item: include ../img/svg/ico-soc-fb.svg
									a(href='#').auth__soc-item: include ../img/svg/ico-soc-ok.svg
									//-a(href='#').auth__soc-item: include ../img/svg/ico-soc-gp.svg
									a(href='#').auth__soc-item: include ../img/svg/ico-soc-tw.svg
									//-a(href='#').auth__soc-item: include ../img/svg/ico-soc-mr.svg


block append
