extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = " Карта";
	- var pageDescription = pageTitle;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	.article
		.inner.inner_box

			.article__text

				p: a(href='404.html') 404
				p: a(href='about.html') about
				p: a(href='action.html') action
				p: a(href='all_news.html') all_news
				p: a(href='basket.html') basket
				p: a(href='catalog.html') catalog
				p: a(href='catalog_enter.html') catalog_enter
				p: a(href='contacts.html') contacts
				p: a(href='dostavka.html') dostavka
				p: a(href='enter.html') enter
				p: a(href='index.html') index
				p: a(href='lk.html') lk
				p: a(href='lk_enter.html') lk_enter
				p: a(href='lk_enter_sms.html') lk_enter_sms
				p: a(href='lk_register.html') lk_register
				p: a(href='news.html') news
				p: a(href='oplata.html') oplata
				p: a(href='order.html') order
				p: a(href='otziv.html') otziv
				p: a(href='password.html') password
				p: a(href='tovar_card.html') tovar_card
				p: a(href='zakaz.html') zakaz
				p: a(href='#', data-popup-open='#thenxForFeedback') Попап "Спасибо за ваш отзыв"
				p: a(href='#', data-popup-open='.popup_add') Попап "Товар добавлен в корзину"
				p: a(href='#', data-popup-open='.popup_feedback') Попап "Обратный звонок"

				h2 Комментарии

				hr
				p При изменении количества продукта в корзине, срабатывает глобальная функция window.app.productBasketChange(id, count)
				p Пример:
				p: pre.
					window.app.productBasketChange = function (productId, productCount) {
						// все что тут прописано будет происходить при каждом изменении количества товаров в корзине
						console.info(productId, productCount)
					}

				hr
				p При удалении продукта из корзины, срабатывает глобальная функция window.app.productBasketRemove(id)
				p Пример:
				p: pre.
					window.app.productBasketRemove = function (productId) {
						// все что тут прописано будет происходить при удалении товара из корзины
						console.info(productId)
					}

				hr
				p Попапы вызываются глобальной функцией window.app.popup.open(popupSelector)
				p Пример:
				p: pre.
					window.app.popup.open('.popup_add')

				p Принудительное закрытие попапов функцией window.app.popup.close()
				hr
				p Если необходимо можно узнать текущий вид устройства 'mobile' или 'desktop'? Значение храниться в переменной window.app.breakpoint
				p Пример:
				p: pre.
					if ( window.app.breakpoint === 'mobile') {
						// что то если мобильный вид
					} else if ( window.app.breakpoint === 'desktop' ) {
						// что то если десктопный вид
					}
				hr
				p Валидация форм.
				p Вывод результата обработки форм бекендом, можно произвести функцией window.app.formResult(data);
				p Пример:
				p: pre.
					$.ajax({
						url: '{{url}}',
						success: function(result){
							window.app.formResult(result)
						}
					});
				p В функцию необходимо передать массив объектов со значениями полей:
				p: pre.
					name - имя инпута - string
					error - наличие ошибки - boolean
					success - успешное заполнение - boolean
					message - сообщение - string (опционально)

				p Пример
				p: pre.
					[
						{
							name: 'login',
							success: true,
							message: 'Логин свободен'
						},
						{
							name: 'email',
							error: true,
							message: 'Такой адрес уже зарегестрирован'
						},
						{
							name: 'password',
							error: true,
							message: 'Пароль должен содержать больше 6 символов'
						}
					]








block append
