extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "Уроки флористики: выбираем букет из роз";
	- var pageDescription = pageTitle;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content
	.head
		.inner
			.title: h1= pageTitle
			.breadcrumbs
				.breadcrumbs__item: a(href='/') Главная
				.breadcrumbs__item: a(href='/') Новости
				.breadcrumbs__item= pageTitle

	.article
		.inner.inner_box
			.article__date.article__padding 30 Июля 2017

			.article__text.article__padding
				p Роза всегда считалась самым популярным и любимым всеми женщинами цветком. Недаром во флористике розу называют «Королевой цветов». Благоухающие сочные и нежные розы идеально подходят в качестве подарка абсолютно любой женщине, будь то дама вашего сердца или коллега.

			.article__image
				picture
					source(media="(max-width: 1199px)" srcset="../img/temp/news_mob.jpg")
					source(media="(min-width: 1200px)" srcset="../img/temp/news_desk.jpg")
					img(src="../img/temp/news_desk.jpg" alt="красные российские розы от 36 руб.")

			.article__title.article__padding Какие розы подарить?

			.article__text.article__padding
				p Несомненно самым идеальным вариантом будет, если вы знаете заранее, какие оттенки или сорт розы предпочитает женщина. Однако, если вы этого не знаете, не беда. Давайте воспользуемся правилами флористического этикета.
				ul
					li Белые розы и розы светлых оттенков принято дарить молодым женщинам или девушкам. Они символизируют нежность, трепетность и искренность ваших чувств. Хрупкие нераспустившиеся бутоны прекрасно подчеркнут молодость и красоту женщины.
					li Букеты из красных распустившихся роз замечательно подойдут для женщин постарше. Ароматные бархатистые розы могут находится в букете самостоятельно или же составлять цветочную композицию с другими цветами, такими как: хризантемы, гиацинты, лилии и другие.
					li Дамам пожилого возраста идеально подойдут букеты из роз с крупными распустившимися бутонами насыщенного бордового оттенка. Такой букет непременно порадует маму, коллегу или любимую учительницу.


			.article__share.article__padding
				.article__share-title Поделиться в соцсетях
				.article__share-list(data-share)
					.article__share-item(data-share-type="vk"): include ../img/svg/ico-soc-vk.svg
					.article__share-item(data-share-type="fb"): include ../img/svg/ico-soc-fb.svg
					.article__share-item(data-share-type="ok"): include ../img/svg/ico-soc-ok.svg
					.article__share-item(data-share-type="tw"): include ../img/svg/ico-soc-tw.svg


block append
