extends layout/template

block vars
	- var pageName = "order";
	- var pageTitle = "Оформление заказа";
	- var pageDescription = pageTitle;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	.head
		.inner
			.title: h1= pageTitle
			.breadcrumbs
				.breadcrumbs__item: a(href='/') Главная
				.breadcrumbs__item= pageTitle

	.auth
		.inner
			// ico-ok - выполнен
			// ico-wait - в ожидании
			// ico-error - отменен
			.order__comment Всего 4 простых шага отделяют вас от покупки!

			form.form(action='/', method='post', novalidate, autocomplete='off')#forrrrm
				.auth__wrap

					.auth__box.auth__box_fill.auth__box_2-3.auth__box_checkout
						.auth__box-inner
							.auth__box-content
								.auth__title 1. Укажите ваши личные данные

								.form
									.form__field
										.form__title E-mail*
										.form__input
											input(type='email', name='order[email]', data-require='email')

									.form__field
										.form__title Телефон*
										.form__input
											input(type='text', name='order[phone]', data-require='true', data-mask='+7 (999) 999 99 99')

									.form__field
										.form__title ФИО*
										.form__input
											input(type='text', name='order[fio]', data-require='true')


						.auth__box-inner
							.auth__box-content
								.auth__title 2. Кто получает заказ?

								.form
									.form__field.form__field_dhalf
										.form__input
											label
												input(type='radio', name='order[recipient]', data-require='true', data-show='.form__field--im')
												.form__label.form__label_box
													.form__label-inner: b Я сам


									.form__field.form__field_dhalf
										.form__input
											label
												input(type='radio', name='order[recipient]', data-require='true', data-show='.form__field--other')
												.form__label.form__label_box
													.form__label-inner: b Иное лицо

									.form__field--im.is-hidden
									.form__field--other.is-hidden
										.form__field
											.form__title ФИО получателя
											.form__input
												input(type='text', name='fio1', data-require='true')

										.form__field
											.form__title Телефон получателя
											.form__input
												input(type='text', name='phone1', data-require='true', data-mask='+7 (999) 999 99 99')



						.auth__box-inner
							.auth__box-content
								.auth__title 3. Как вы хотите получить заказ?

								.form
									.form__field.form__field_dhalf
										.form__input
											label
												input(type='radio', name='radio_2', data-require='true', data-show='.form__field--shop')
												.form__label.form__label_box
													.form__label-inner #[b В магазине] #[br] Сегодня


									.form__field.form__field_dhalf
										.form__input
											label
												input(type='radio', name='radio_2', data-require='true', data-show='.form__field--courier')
												.form__label.form__label_box
													.form__label-inner #[b Курьером] #[br] Завтра 20 сентября

									.form__field.form__field_dhalf
										.form__input
											label
												input(type='radio', name='radio_2', data-require='true', data-show='.form__field--courier')
												.form__label.form__label_box
													.form__label-inner #[b Другим курьером] #[br] Вчера 18 сентября

									.form__field--shop.is-hidden
										.form__field
											.form__text Выберите магазин *

										.form__field
											.form__input
												label
													input(type='radio', name='radio_12321', data-require='true')
													.form__label Санкт-Петербург, Метро "Парнас", 8-й Верхний переулок, д. 4А

										.form__field.form__field_half
											.form__title Дата*
											b.form__input.form__input_date
												input(type='text', name='date', data-require='date')

										.form__field.form__field_half
											.form__title Время*
											b.form__input
												input(type='text', readonly, value='22:00 - 23:00').form__input-text
												input(type='text', name='time', value='3').form__input-value
												.form__input-arrow
												.form__select
													.form__select-item(data-value='1') 20:00 - 21:00
													.form__select-item(data-value='2') 21:00 - 22:00
													.form__select-item(data-value='3') 22:00 - 23:00

									.form__field--courier.is-hidden
										.form__field
											.form__text Доставка осуществляется с 9 до 23 ежедневно в удобное для вас время.

										.form__field
											.auth__title Адрес доставки:

										.form__field.form__field_third
											.form__title Дом*
											.form__input
												input(type='text', name='house', data-require='true')

										.form__field.form__field_third
											.form__title Корпус*
											.form__input
												input(type='text', name='korp', data-require='true')

										.form__field.form__field_third
											.form__title Кв/офис
											.form__input
												input(type='text', name='office')

										.form__field.form__field_half
											.form__title Дата*
											b.form__input.form__input_date
												input(type='text', name='date', data-require='date')

										.form__field.form__field_half
											.form__title Время*
											b.form__input
												input(type='text', readonly, value='22:00 - 23:00').form__input-text
												input(type='text', name='time', value='3').form__input-value
												.form__input-arrow
												.form__select
													.form__select-item(data-value='1') 20:00 - 21:00
													.form__select-item(data-value='2') 21:00 - 22:00
													.form__select-item(data-value='3') 22:00 - 23:00


										.form__field
											.form__input
												label
													input(type='checkbox', name='checkbox1')
													.form__label Доставка без звонка получателю
										.form__field
											.form__input
												label
													input(type='checkbox', name='checkbox2')
													.form__label Уведомить меня по телефону после доставки
										.form__field
											.form__input
												label
													input(type='checkbox', name='checkbox3', data-show='.form__field--postcard')
													.form__label Добавить открытку

										.form__field.form__field--postcard.is-hidden
											.form__title Текст открытки
											.form__input
												textarea(name='text')

										.form__field
											.form__input
												label
													input(type='checkbox', name='checkbox4')
													.form__label Прислать фото букета перед доставкой

						.auth__box-inner
							.auth__box-content
								.auth__title 4. Как вам удобнее оплатить заказ?

								.form
									.form__field.form__field_dhalf
										.form__input
											label
												input(type='radio', name='radio_delivery', data-require='true')
												.form__label.form__label_box
													.form__label-inner: b Наличными курьеру
									.form__field.form__field_dhalf
										.form__input
											label
												input(type='radio', name='radio_delivery', data-require='true')
												.form__label.form__label_box
													.form__label-inner: b Картой онлайн
									.form__field.form__field_dhalf
										.form__input
											label
												input(type='radio', name='radio_delivery', data-require='true')
												.form__label.form__label_box
													.form__label-inner: b Сбербанк Онлайн
									.form__field
										.form__text Оплата производится банковской картой через сервис RoboKassa. Подтверждением вашей оплаты является электронное почтовое уведомление, пришедшее после оплаты.

									.form__field
										.form__title Комментарий к заказу (необязательно)
										.form__input
											textarea(name='message')

									.only-desktop
										.form__field.form__field_submit.form__field_dhalf
											.form__input
												button(type='submit').btn.btn_fill оформить заказ

										.form__field.form__field_submit.form__field_dhalf
											.form__input
												.btn вернуться в корзину

										.form__field
											.form__text.form__text_footnote Завершая оформление заказа, я даю свое согласие на обработку персональных данных и подтверждаю ознакомление с #[a(href='#') Политикой конфиденциальности]

					.auth__box.auth__box_fill.auth__box_order
						.auth__box-inner
							.auth__box-content
								.auth__order
									.auth__order-title.auth__order-title_drop.only-mobile В заказе 3 товара
									.auth__order-title.only-desktop состав корзины
									.auth__order-inner
										.auth__order-list
											.auth__order-item
												a.auth__order-item-image(href='news.html', style='background-image:url(https://via.placeholder.com/300x300);')
												.auth__order-item-info
													.auth__order-item-name Букет с герберами и пионовидными розами
													.auth__order-item-count 1 шт.
													.auth__order-item-price 3 990 ₽
											.auth__order-item
												a.auth__order-item-image(href='news.html', style='background-image:url(https://via.placeholder.com/300x300);')
												.auth__order-item-info
													.auth__order-item-name Букет Корал Ми
													.auth__order-item-count 2 шт.
													.auth__order-item-price 2 000 ₽
											.auth__order-item
												a.auth__order-item-image(href='news.html', style='background-image:url(https://via.placeholder.com/300x300);')
												.auth__order-item-info
													.auth__order-item-name Букет с герберами и пионовидными розами
													.auth__order-item-count 1 шт.
													.auth__order-item-price 3 990 ₽

										.auth__order-bill
											.auth__order-bill-item
												.auth__order-bill-key: span: b Товары (3):
												.auth__order-bill-val: span: b 8 990 ₽
											.auth__order-bill-item
												.auth__order-bill-key: span Доставка:
												.auth__order-bill-val: span: b.c-green Бесплатно
											.auth__order-bill-item
												.auth__order-bill-key: span Промокод BIRTHDAY
												.auth__order-bill-val: span: .b-yellow 1000 ₽
											.auth__order-bill-item.auth__order-bill-item_result
												.auth__order-bill-key: span ИТОГО:
												.auth__order-bill-val: span 7 990 ₽
									.auth__order-btn.only-mobile
										.auth__order-bill-btn
											button(type='submit').btn.btn_fill оформить заказ
											.btn.only-mobile вернуться в корзину
										.auth__order-bill-footnote.only-mobile Завершая оформление заказа, я даю свое согласие на обработку персональных данных и подтверждаю ознакомление с #[a(href='#') Политикой конфиденциальности]

	.inner.only-mobile
		.more
			.btn.btn_poor вернуться к покупкам

block append
	//-script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
	//-script.
		$("#forrrrm").on("formSubmit", function (event) {
			event.preventDefault();
			console.info('formSubmit')
			console.info(event)

			$(this).submit()
		});