extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "Восстановление пароля";
	- var pageDescription = pageTitle;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	.head
		.inner
			.title: h1= pageTitle
			.breadcrumbs
				.breadcrumbs__item: a(href='/') Главная
				.breadcrumbs__item= pageTitle

	.auth
		.inner
			.auth__wrap
				.auth__box.auth__box_fill
					.auth__box-inner
						.auth__box-content
							.auth__typo
								.auth__typo-title Чтобы восстановить пароль, введите ваш E-mail или номер телефона

							.auth__form
								form.form(action='', method='post', novalidate, autocomplete='off')

									.form__field
										.form__input.form__input_inline
											label
												input(type='radio', name='radio', data-require='true', checked, data-show='.form__field_email')
												.form__label E-mail

											label
												input(type='radio', name='radio', data-require='true', data-show='.form__field_phone')
												.form__label Номер телефона

									.form__field.form__field_email
										.form__title E-mail*
										.form__input
											input(type='email', name='email', data-require='email')


									.form__field.form__field_phone.is-hidden
										.form__title Номер телефона*
										.form__input
											input(type='text', name='phone', data-require='true', data-mask='+7 999 999 99 99')


									.form__field
										.form__capture
											script(src='https://www.google.com/recaptcha/api.js')
											div.g-recaptcha(data-sitekey="6LfRjHoUAAAAACA49Zq7SDrO08uLMo0PZKsH404x")

									.form__field.form__field_submit
										.form__input
											button(type='submit').btn.btn_fill восстановить пароль

block append
