extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "Красные розы из кении 90 см в коробке на день рождение девушке";
	- var pageDescription = pageTitle;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	.head
		.inner
			.title: h1= pageTitle
			.breadcrumbs
				.breadcrumbs__item: a(href='/') Главная
				.breadcrumbs__item: a(href='/') Каталог
				.breadcrumbs__item: a(href='/') Букеты
				.breadcrumbs__item= pageTitle


	.product
		.inner
			.product__image
				.product__image-view
					video#previewPlayer
				.product__image-preview
					.product__image-preview-list
						.product__image-preview-item: .product__image-preview-img(data-image='../img/temp/news_mob.jpg', style='background-image: url(../img/temp/news_mob.jpg)')
						.product__image-preview-item: .product__image-preview-img(data-image='../img/temp/action_mob.jpg', style='background-image: url(../img/temp/action_mob.jpg)')
						.product__image-preview-item: .product__image-preview-img(data-video='youtube', data-src='zTDebRyvSk4', style='background-image: url(https://img.youtube.com/vi/zTDebRyvSk4/hqdefault.jpg)')

			.product__info
				.product__info-status.product__info-status_many В наличии
				.product__info-favorite: include ../img/svg/path-favorite.svg
				.product__info-price
					.product__info-price-act 1 900 ₽
					.product__info-price-old 5 000 ₽
				.product__info-add
					.btn.btn_fill В корзину

			.product__label
				.product__label-group
					.product__label-title Цвет #[b Синий]
					.product__label-list
						.product__label-item
							label
								input(type='radio', name='product_color', value='Синий', checked)
								.product__label-inner Синий
						.product__label-item
							label
								input(type='radio', name='product_color', value='Розовый')
								.product__label-inner Розовый
						.product__label-item
							label
								input(type='radio', name='product_color', value='Желтый')
								.product__label-inner Желтый
						.product__label-item
							label
								input(type='radio', name='product_color', value='Фиолетовый')
								.product__label-inner Фиолетовый
						.product__label-item
							label
								input(type='radio', name='product_color', value='Малиновый')
								.product__label-inner Малиновый

				.product__label-group
					.product__label-title Количество #[b 101 шт]
					.product__label-list
						.product__label-item
							label
								input(type='radio', name='product_count', value='25')
								.product__label-inner 25 шт
						.product__label-item
							label
								input(type='radio', name='product_count', value='51')
								.product__label-inner 51 шт
						.product__label-item
							label
								input(type='radio', name='product_count', value='101', checked)
								.product__label-inner 101 шт
						.product__label-item
							label
								input(type='radio', name='product_count', value='137')
								.product__label-inner 137 шт

			.product__features
				.product__features-title Преимущества покупки в&nbsp;интернет-магазине
				.product__features-list
					.product__features-item
						.product__features-ico: img(src='../img/svg/card_features_1.svg')
						.product__features-text Доставка от часа
					.product__features-item
						.product__features-ico: img(src='../img/svg/card_features_2.svg')
						.product__features-text Гарантия возврата
					.product__features-item
						.product__features-ico: img(src='../img/svg/card_features_3.svg')
						.product__features-text Кэш Бэк за отзывы
					.product__features-item
						.product__features-ico: img(src='../img/svg/card_features_4.svg')
						.product__features-text Скидки постоянным клиентам
					.product__features-item
						.product__features-ico: img(src='../img/svg/card_features_5.svg')
						.product__features-text Бесплатная доставка от 3900

			.product__share.only-desktop
				.product__share-title Поделиться в социальных сетях
				.product__share-list(data-share)
					.product__share-item(data-share-type="vk"): include ../img/svg/ico-soc-vk.svg
					.product__share-item(data-share-type="fb"): include ../img/svg/ico-soc-fb.svg
					.product__share-item(data-share-type="ok"): include ../img/svg/ico-soc-ok.svg
					.product__share-item(data-share-type="tw"): include ../img/svg/ico-soc-tw.svg
					.product__share-item(data-share-type="mr"): include ../img/svg/ico-soc-mr.svg


	.tabs
		.inner.inner_box
			.tabs__menu
				.tabs__menu-list
					.tabs__menu-item(data-tab-link='product_description', data-tab-group='product').is-active Описание
					.tabs__menu-item(data-tab-link='product_delivery', data-tab-group='product') Доставка
					.tabs__menu-item(data-tab-link='product_payment', data-tab-group='product') Оплата
					.tabs__menu-item(data-tab-link='product_feedback', data-tab-group='product') Отзывы #[span 3]


	div(data-tab-target='product_description', data-tab-group='product').is-active
		.elected
			.inner
				.title.title_min: h2 С этим товаром также покупают

				.card.card_carousel.card_six
					.card__list
						+cardItem('25 роз 50 см сорта Пич Аваланш в крафте', '2 500', '5 000', [])
						+cardItem('101 розовый тюльпан', '2 500', '5 000', [])
						+cardItem('25 роз 50 см сорта Пич Аваланш в крафте', '1 900', false, [])
						+cardItem('Букет Лунная соната', '3 500', '5 000', [])
						+cardItem('25 роз 50 см сорта Пич Аваланш в крафте', '1 900', false, [])
						+cardItem('Букет Лунная соната', '3 500', '5 000', [])
						+cardItem('Букет Лунная соната', '3 500', '5 000', [])
						+cardItem('25 роз 50 см сорта Пич Аваланш в крафте', '1 900', false, [])
						+cardItem('Букет Лунная соната', '3 500', '5 000', [])

		.article
			.inner.inner_box

				.article__text
					table
						tr
							td: b Состав букета
							td Розы
						tr
							td: b Количество цветов
							td 101
						tr
							td: b Цвет
							td Синий
						tr
							td: b Размер
							td 60х75 см

					p Заказать цветы в интернет-магазине «Цветочная Ярмарка» – это просто и удобно! Подберите подходящий вам по вкусу и цене букет в каталоге, авторизуйтесь на сайте и выберите удобный способ доставки и оплаты. Готово! Ваш заказ доставят получателю уже через 1 час. А если у вас остались вопросы, позвоните по телефону #[nobr 8 (812) 770-49-44] и наши флористы помогут определиться с выбором.

	div(data-tab-target='product_delivery', data-tab-group='product')
		include block/delivery

	div(data-tab-target='product_payment', data-tab-group='product')
		include block/payment

	div(data-tab-target='product_feedback', data-tab-group='product')
		include block/otziv



	.elected
		.inner
			.title.title_min: h2 похожие товары

			.card.card_carousel
				.card__list
					+cardItem('25 роз 50 см сорта Пич Аваланш в крафте', '2 500', '5 000', [['Акция', 'red'], ['новинка', 'blue']])
					+cardItem('101 розовый тюльпан', '2 500', '5 000', [['Акция', 'red'], ['новинка', 'blue']])
					+cardItem('25 роз 50 см сорта Пич Аваланш в крафте', '1 900', false, [['новинка', 'blue']])
					+cardItem('Букет Лунная соната', '3 500', '5 000', [['хит продаж', 'green'], ['Акция', 'red']])
					+cardItem('25 роз 50 см сорта Пич Аваланш в крафте', '1 900', false, [['новинка', 'blue']])
					+cardItem('Букет Лунная соната', '3 500', '5 000', [['хит продаж', 'green'], ['Акция', 'red']])


	.deliverinfo
		.inner
			.deliverinfo__title Доставка цветов по Санкт-Петербургу и&nbsp;Ленобласти | «Цветочная Ярмарка»
			.deliverinfo__text Заказать цветы в интернет-магазине «Цветочная Ярмарка» – это просто и удобно! Подберите подходящий вам по вкусу и цене букет в каталоге, авторизуйтесь на сайте и выберите удобный способ доставки и оплаты. Готово! Ваш заказ доставят получателю уже через 1 час. А если у вас остались вопросы, позвоните по телефону #[nobr 8 (812) 770-49-44] и наши флористы помогут определиться с выбором.



	.product.only-mobile
		.inner
			.product__share
				.product__share-title Поделиться в социальных сетях
				.product__share-list(data-share)
					.product__share-item(data-share-type="vk"): include ../img/svg/ico-soc-vk.svg
					.product__share-item(data-share-type="fb"): include ../img/svg/ico-soc-fb.svg
					.product__share-item(data-share-type="ok"): include ../img/svg/ico-soc-ok.svg
					.product__share-item(data-share-type="tw"): include ../img/svg/ico-soc-tw.svg
					.product__share-item(data-share-type="mr"): include ../img/svg/ico-soc-mr.svg



block append
	script(type="application/ld+json").
		{
			"@context": "http://schema.org",
			"@type": "ItemList",
			"url": "tovar_card.html",
			"itemListElement": [{
				"@type": "Product",
				"image": "../img/temp/news_mob.jpg",
				"url": "http://multivarki.ru/brand_502/",
				"name": "Brand 502"
			},{
				"@type": "Product",
				"name": "Красные розы из кении 90 см в коробке на день рождение девушке"
			}
			],
			"offers": {
				"@type": "Offer",
				"price": "1900 p."
			}
		}
