extends layout/template

block vars
	- var pageName = "order";
	- var pageTitle = "заказ № 568901";
	- var pageDescription = pageTitle;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	.head
		.inner
			.title: h1= pageTitle
			.breadcrumbs
				.breadcrumbs__item: a(href='/') Главная
				.breadcrumbs__item: a(href='#') Личный кабинет
				.breadcrumbs__item= pageTitle

	.auth
		.inner
			// ico-ok - выполнен
			// ico-wait - в ожилании
			// ico-error - отменен
			.order__status #[i.ico-ok] Заказ выполнен

			.auth__wrap
				.auth__box.auth__box_fill.auth__box_order
					.auth__box-inner
						.auth__box-content
							.auth__order
								.auth__order-title.only-desktop состав корзины
								.auth__order-list
									.auth__order-item
										a.auth__order-item-image(href='news.html', style='background-image:url(https://via.placeholder.com/300x300);')
										.auth__order-item-info
											.auth__order-item-name Букет с герберами и пионовидными розами
											.auth__order-item-count 1 шт.
											.auth__order-item-price 3 990 ₽
									.auth__order-item
										a.auth__order-item-image(href='news.html', style='background-image:url(https://via.placeholder.com/300x300);')
										.auth__order-item-info
											.auth__order-item-name Букет Корал Ми
											.auth__order-item-count 2 шт.
											.auth__order-item-price 2 000 ₽
									.auth__order-item
										a.auth__order-item-image(href='news.html', style='background-image:url(https://via.placeholder.com/300x300);')
										.auth__order-item-info
											.auth__order-item-name Букет с герберами и пионовидными розами
											.auth__order-item-count 1 шт.
											.auth__order-item-price 3 990 ₽

								.auth__order-bill
									.auth__order-bill-item
										.auth__order-bill-key: span: b Товары (3):
										.auth__order-bill-val: span: b 8 990 ₽
									.auth__order-bill-item
										.auth__order-bill-key: span Доставка:
										.auth__order-bill-val: span: b.c-green Бесплатно
									.auth__order-bill-item
										.auth__order-bill-key: span Промокод BIRTHDAY
										.auth__order-bill-val: span: .b-yellow 1000 ₽
									.auth__order-bill-item.auth__order-bill-item_result
										.auth__order-bill-key: span ИТОГО:
										.auth__order-bill-val: span 7 990 ₽
									.auth__order-bill-btn
										.btn.btn_fill повторить заказ
										.btn.btn_poor.only-mobile вернуться к покупкам

				.auth__box.auth__box_fill.auth__box_2-3.auth__box_info
					.auth__box-inner
						.auth__box-content
							.auth__info
								.auth__info-title информация о заказе
								.auth__info-table
									.auth__info-item
										.auth__info-name Создан:
										.auth__info-val 25 апреля 2018
									.auth__info-item
										.auth__info-name Получатель:
										.auth__info-val Иванонва Мария
									.auth__info-item
										.auth__info-name Телефон получателя:
										.auth__info-val +7 911 752-55-88

						.auth__box-content
							.auth__info
								.auth__info-title доставка и оплата
								.auth__info-table
									.auth__info-item
										.auth__info-name Способ доставки:
										.auth__info-val Курьер
									.auth__info-item
										.auth__info-name Адрес доставки:
										.auth__info-val Ивановская ул., 7, кв. 17
									.auth__info-item
										.auth__info-name Дата доставки:
										.auth__info-val 27 апреля 2018 г
									.auth__info-item
										.auth__info-name Время доставки:
										.auth__info-val 15:00 - 16:00
									.auth__info-item
										.auth__info-name Способ оплаты:
										.auth__info-val Банковская карта

						.auth__box-content
							.auth__info
								.auth__info-title дополнительная информация
								.auth__info-table
									.auth__info-item
										.auth__info-name Комментарий к заказу:
										.auth__info-val «Не говорить, кто отправитель».#[br]Доставить без звонка получателю






block append
