
@import "scss/var";

@import "scss/mixins";

@import "scss/fonts";

@import "scss/print";

@import "scss/normalize";

@import "../../node_modules/slick-carousel/slick/slick.scss";

@import "../../node_modules/air-datepicker/src/sass/datepicker.scss";
@import "../../node_modules/air-datepicker/src/sass/navigation.scss";
@import "../../node_modules/air-datepicker/src/sass/cell.scss";


$plyr-color-main: $colorBlue;
$plyr-color-gunmetal: #2f343d;
$plyr-color-fiord: #4f5b5f;
$plyr-color-lynch: #6b7d85;
$plyr-color-heather: #b7c5cd;
@import "../../node_modules/plyr/src/sass/plyr.scss";

$scrollbarWidth: 20px;
$scrollbarLineColor: none;
$scrollbarLineWidth: 3px;
$scrollbarDragColor: $colorBlue;
$scrollbarDragWidth: 5px;
$scrollbarMargin: 20px;
@import "modules/scrollbar";

@import "modules/nouislider";

@import "scss/form";

@import "scss/global";

@import "scss/main";

@import "scss/popup";