footer.footer
	.footer__scrolltop
	.footer__nav
		.inner
			a(href='about.html').footer__nav-item О нас
			a(href='all_news.html').footer__nav-item Новости
			a(href='#').footer__nav-item Вакансии
			a(href='contacts.html').footer__nav-item Контакты
			a(href='#').footer__nav-item Корпоративным клиентам
	.inner
		.footer__middle
			.footer__location
				.footer__location-ico: include ../../img/svg/ico-location.svg
				.footer__location-text Метро "Парнас", 8-й Верхний переулок, д. 4А
			.footer__phone
				.footer__phone-ico: include ../../img/svg/ico-phone.svg
				.footer__phone-text: a(href='tel:88127704991') 8 (812) 770-49-91
			.footer__feedback
				.btn.btn_fill(data-popup-open='.popup_feedback') обратный звонок
		.footer__bottom
			.footer__soc
				a(href='#').footer__soc-item: include ../../img/svg/ico-soc-vk.svg
				a(href='#').footer__soc-item: include ../../img/svg/ico-soc-fb.svg
				a(href='#').footer__soc-item: include ../../img/svg/ico-soc-ig.svg
			.footer__pay
				.footer__pay-item: img(src='../img/pay/visa.png')
				.footer__pay-item: img(src='../img/pay/mastercard.png')
				.footer__pay-item: img(src='../img/pay/sber.png')
				.footer__pay-item: img(src='../img/pay/qiwi.png')
				.footer__pay-item: img(src='../img/pay/webmoney.png')
				.footer__pay-item: img(src='../img/pay/yandexmoney.png')
			.footer__copy © Интернет-магазин «Цветочная Ярмарка»
