header.header
	.header__handler: i
	.header__top
		.inner
			.header__nav
				a(href='dostavka.html').header__nav-item Доставка
				a(href='oplata.html').header__nav-item Оплата
				a(href='dostavka.html').header__nav-item Возврат
				a(href='otziv.html').header__nav-item Отзывы
			.header__phone
				.header__phone-ico: include ../../img/svg/ico-phone.svg
				.header__phone-text #[b #[a(href='tel:88127704991') 8 (812) 770-49-86]]  (c 9:00 до 22:00)
			.header__location
				.header__location-ico: include ../../img/svg/ico-location.svg
				.header__location-text Метро "Парнас", 8-й Верхний переулок, д. 4А
	.header__middle
		.inner
			.header__auth
				if (auth)
					.header__auth-user
						a(href='#').header__auth-lk
							include ../../img/svg/ico-user.svg
							| Иванов Александр
						a(href='#').header__auth-logout: include ../../img/svg/logout.svg
				else
					.btn
						include ../../img/svg/ico-user.svg
						| Войти / регистрация
			.header__logo: a(href='/'): img(src='../img/logo.svg')
			.header__info
				.header__search
					form(action='', method='')
						.header__search-inner
							input.header__search-input(type='text', name='search', autocomplete='off')
							ul.header__search-result
							// Пример разметки результата поиска внутри header__search-result
								<li><a href="#">Розы и альстромерия в шляпной коробке</a></li>
								<li><a href="#">Сборный букет из пионовидных роз дэвид остин,кустовой розы,эвкалипта</a></li>
								<li><a href="#">Осенний букет с розами</a></li>
								<li><a href="#">Букет из кустовой розы и эвкалипта</a></li>
								<li><a href="#">Корзина сборная розы, гвоздика, зелень</a></li>
								<li><a href="#">25 белых роз 40 см</a></li>
								<li><a href="#">Розы и альстромерия в шляпной коробке</a></li>
								<li class="all"><a href="#">Все результаты</a></li>

								//-li: a(href='#') Розы и альстромерия в шляпной коробке
								//-li: a(href='#') Сборный букет из пионовидных роз дэвид остин,кустовой розы,эвкалипта
								//-li: a(href='#') Осенний букет с розами
								//-li: a(href='#') Букет из кустовой розы и эвкалипта
								//-li: a(href='#') Корзина сборная розы, гвоздика, зелень
								//-li: a(href='#') 25 белых роз 40 см
								//-li: a(href='#') Розы и альстромерия в шляпной коробке
								//-li.all: a(href='#') Все результаты

						.header__search-ico: include ../../img/svg/ico-lens.svg
				.header__favorite
					.header__favorite-ico
						include ../../img/svg/ico-heart.svg
						.header__counter 1
				.header__cart
					.header__cart-ico
						include ../../img/svg/ico-cart.svg
						.header__counter 2
					.header__cart-text 2 800 ₽

	.header__menu
		.inner
			.header__menu-list
				.header__menu-item: a(href='action.html').header__menu-link.is-active Акции
				.header__menu-item: a(href='#').header__menu-link Розы
				.header__menu-item: a(href='#').header__menu-link Тюльпаны
				.header__menu-item
					a(href='#').header__menu-link Букеты
					.header__submenu
						.header__submenu-inner
							.header__submenu-list
								.header__submenu-item: a(href='#').header__submenu-link Гвоздики
								.header__submenu-item: a(href='#').header__submenu-link Герберы
								.header__submenu-item: a(href='#').header__submenu-link Гортензии
								.header__submenu-item: a(href='#').header__submenu-link Ирисы
								.header__submenu-item: a(href='#').header__submenu-link Каллы
								.header__submenu-item: a(href='#').header__submenu-link Кустовые розы
								.header__submenu-item: a(href='#').header__submenu-link Лизиантусы
								.header__submenu-item: a(href='#').header__submenu-link Лилии
								.header__submenu-item: a(href='#').header__submenu-link Матрикарии
								.header__submenu-item: a(href='#').header__submenu-link Пионы
								.header__submenu-item: a(href='#').header__submenu-link Подсолнухи
								.header__submenu-item: a(href='#').header__submenu-link Ранункулюсы
								.header__submenu-item: a(href='#').header__submenu-link Розы
								.header__submenu-item: a(href='#').header__submenu-link Тюльпаны
								.header__submenu-item: a(href='#').header__submenu-link Фисташка
								.header__submenu-item: a(href='#').header__submenu-link Хризантемы
								.header__submenu-item: a(href='#').header__submenu-link Эвкалипт
								.header__submenu-item: a(href='#').header__submenu-link Эустома
				.header__menu-item: .header__menu-link Композиции
				.header__menu-item: .header__menu-link Букет невесты
				.header__menu-item: .header__menu-link Подарки
