header.header.header_order
	.header__middle
		.inner
			.header__logo: a(href='/'): img(src='../img/logo.svg')
			.header__right
				a.header__phone(href='tel:+78126029159')
					.header__phone-ico: include ../../img/svg/ico-phone.svg
					.header__phone-text 8 (812) 602-91-59
				a(href='#').header__link вернуться к покупкам

