mixin cardItem (title, price, old, tags)
	.card__item
		.card__item-inner
			//-a(href='#', style='background-image:url(' + image + ');').card__item-image
			a(href='tovar_card.html', style='background-image:url(https://via.placeholder.com/300x300);').card__item-image
			if (tags)
				.card__item-tags
					each tag in tags
						.card__item-tags-item(class='card__item-tags-item_' + tag[1])= tag[0]
			.card__item-info
				a(href='#').card__item-name= title
				.card__item-control
					.card__item-price
						.card__item-price-actual #{price} ₽
						if (old)
							.card__item-price-old #{old} ₽
					.card__item-favorite: include ../../img/svg/path-favorite.svg
					.card__item-cart
						include ../../img/svg/ico-cart.svg
						| в корзину

mixin cardNews(title, text, date)
	.card__item
		.card__item-inner
			a(href='news.html', style='background-image:url(https://via.placeholder.com/300x300);').card__item-image
			.card__item-info
				a(href='#').card__item-title= title
				.card__item-text= text
				.card__item-date= date

mixin cartProductItem(title, price, count)
	.cart__product-item(data-price= price, data-id='123')
		.cart__product-inner
			a(href='tovar_card.html', style='background-image:url(https://via.placeholder.com/300x300);').cart__product-image
			.cart__product-title!= title
			.cart__product-counter(data-count-max='10')
				.cart__product-counter-btn.cart__product-counter-btn_less
				.cart__product-counter-value= count
				.cart__product-counter-dim шт.
				.cart__product-counter-btn.cart__product-counter-btn_more
				- var i = 1;
				.cart__product-counter-list.scrollbar
					while i < 11
						.cart__product-counter-item(data-value= i, class= count == i ? 'is-active' : '') #{i++} шт.
			.cart__product-price
				if ( count > 1 )
					.cart__product-price-actual #[span 2 000] ₽
					.cart__product-price-calc #[span 2] х 1 000 ₽
				else
					if (price == 1000)
						.cart__product-price-actual #[span 1 000] ₽
						.cart__product-price-calc
					else
						.cart__product-price-actual #[span 3 200] ₽
						.cart__product-price-calc
			.cart__product-delete
				include ../../img/svg/ico-delete.svg

mixin formInput(type, name, value, checked)
	if (type === 'checkbox')
		.form__input
			label
				input(type='checkbox', name= name, checked= checked)
				.form__label!= value

	else if (type === 'radio')
		.form__input
			label
				input(type='radio', name= name, checked= checked)
				.form__label!= value

	else if (type === 'radio local')
		.form__input
			label
				input(type='radio', name='limits' data-limit= name)
				.form__label!= value

	else if (type === 'range')
		.form__range(data-value-min='0', data-value-max='18000', data-value-pmin='0', data-value-pmax='10000')
			.form__range-value
				.form__range-value-item.form__range-value-item_min
					input.form__range-value-input(type='text', name='rangeMin')
				.form__range-value-item.form__range-value-item_max
					input.form__range-value-input(type='text', name='rangeMax')
			.form__range-line
