nav.nav
	.nav__overlay
	.nav__content
		.nav__menu
			.nav__menu-inner
				.nav__menu-control
					if (auth)
						.nav__item
							img.nav__item-ico(src='../img/svg/ico-user.svg')
							a(href='#') Иванов Александр
							a(href='#').nav__item-logout
								img(src='../img/svg/logout.svg')
					else
						a(href='#').nav__item
							img.nav__item-ico(src='../img/svg/ico-user.svg')
							| войти / регистрация
					a(href='#').nav__item
						img.nav__item-ico(src='../img/svg/ico-cart.svg')
						| статус заказа
					a(href='#').nav__item
						img.nav__item-ico(src='../img/svg/ico-heart.svg')
						| избранное
				.nav__menu-list
					a(href='#').nav__item Розы
					a(href='#').nav__item Тюльпаны
					.nav__item.nav__item_sub Букеты
						.nav__submenu
							.nav__submenu-back
								.nav__item
									img.nav__item-ico(src='../img/svg/ico-back.svg')
									.nav__item-link Назад
							.nav__submenu-list
								.nav__item.is-active: .nav__item-link Гвоздики
								a(href='#').nav__item Герберы
								a(href='#').nav__item Гортензии
								a(href='#').nav__item Ирисы
								a(href='#').nav__item Каллы
								a(href='#').nav__item Кустовые розы
								a(href='#').nav__item Лизиантусы
								a(href='#').nav__item Лилии
								a(href='#').nav__item Матрикарии
								a(href='#').nav__item Пионы
								a(href='#').nav__item Подсолнухи
								a(href='#').nav__item Ранункулюсы
								a(href='#').nav__item Розы
								a(href='#').nav__item Тюльпаны
								a(href='#').nav__item Фисташка
								a(href='#').nav__item Хризантемы
								a(href='#').nav__item Эвкалипт
								a(href='#').nav__item Эустома
					a(href='#').nav__item Композиции
					a(href='#').nav__item Букет невесты
					a(href='#').nav__item Подарки
					a(href='#').nav__item Акции
				.nav__menu-links
					a(href='#').nav__item Оплата
					a(href='#').nav__item Доставка
					a(href='#').nav__item Возврат
					a(href='#').nav__item Отзывы
					a(href='#').nav__item Корпоративным клиентам