.popup.popup_info#thenxForFeedback
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title Спасибо за ваш отзыв
				.popup__text: p Он будет опубликован после модерации администратором интернет-магазина.
				.popup__btn: .btn.btn_fill(data-popup-close='.popup') продолжить покупки

.popup.popup_add
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title Товар добавлен в корзину
				.popup__product
					.popup__product-image: img(src='https://via.placeholder.com/300x300')
					.popup__product-info
						.popup__product-name Букет с герберами и пионовидными розами
						.popup__product-price 2 500 ₽
				.popup__btn
					a.btn.btn_fill(href='basket.html') оформить заказ
					.btn(data-popup-close='.popup') продолжить покупки

.popup.popup_feedback
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title Обратный звонок
				.popup__form
					form.form(action='', method='post', novalidate, autocomplete='off')

						.form__field
							.form__title Имя*
							.form__input
								input(type='text', name='feedbackName', data-require='true')


						.form__field
							.form__title Телефон*
							.form__input
								input(type='text', name='feedbackPhone', data-require='true', data-mask='+7 999 999 99 99')


						.form__field.form__field_submit
							.form__input
								button(type='submit').btn.btn_fill отправить

						.form__field
							.form__footnote * - Поля. обязательные для заполнения


