include mixin

block vars
doctype html
html(lang='ru')
	head
		//-if ( LOCAL )
		meta(charset='UTF-8')/
		//-else
			meta(charset='windows-1251')/
		meta(name='viewport', content='width=device-width')/
		meta(http-equiv='X-UA-Compatible', content='IE=edge')/
		title= pageTitle

		meta(property='og:title', content= pageTitle)/
		meta(property='og:description', content= pageDescription)/
		meta(property='og:image', content= pageImage)/
		meta(property='og:url', content= pageUrl)/
		meta(name='twitter:title', content= pageTitle)/
		meta(name='twitter:description', content= pageDescription)/
		meta(name='twitter:image', content= pageImage)/
		meta(name='twitter:card', content='summary_large_image')/
		//-include favicon
		script.
			window.app = window.app || {};

		block head
	body
		.wrapper
			if ( pageName == 'order' || pageName == "orderback")
				include header_order
			else
				include nav
				include header
			.website
				block content
			include footer
			include popups
		block append

