
$fieldHeightM: $formHeightM;
$fieldHeight: $formHeight;
$fieldHeightD: $formHeightD;
$borderRadiusM: $formBorderRadiusM;
$borderRadius: $formBorderRadius;
$borderRadiusD: $formBorderRadiusD;
$inputPaddingM: 0 12px;
$inputPadding: 0 25px;
$inputPaddingD: 0 15px;


.btn{

}

.placeholder{
	position: absolute;
	color: $colorBlack;
	top: 0;
	right: 100%;
	left: 0;
	text-align: right;
	line-height: $fieldHeightM;
	cursor: default;
	pointer-events: none;

	white-space: nowrap;
	box-sizing: border-box;
	transition: all 0.3s ease;
	padding: $inputPaddingM;

	@include breakPoint($breakPointM){
		line-height: $fieldHeight;
		padding: $inputPadding;
	}

	@include breakPoint($breakPoint){
		line-height: $fieldHeightD;
		padding: $inputPaddingD;
	}

	.f-error &{
		color: $colorRed;
	}

	.f-success &{
		color: $colorGreen;
	}

	input:focus ~ &,
	textarea:focus ~ &,
	.f-filled &{
		right: 0;
		font-size: 13px;

		@include breakPoint($breakPointM){
			font-size: 26px;
		}

		@include breakPoint($breakPoint){
			font-size: 14px;
		}
	}
}



.form{
	font-size: 0;
	margin: 0 -7px;

	@include breakPoint($breakPointM){
		margin: 0 -15px;
	}

	@include breakPoint($breakPoint){
		margin: 0 -9px;
	}


	&__title{
		color: #727272;
		font-size: 10px;
		margin-bottom: 7px;

		@include breakPoint($breakPointM){
			font-size: 20px;
			margin-bottom: 15px;
		}

		@include breakPoint($breakPoint){
			font-size: 12px;
			margin-bottom: 8px;
		}
	}

	&__text{

		@include breakPoint($breakPoint){
			margin: 10px 0;
		}

		a{
			color: $colorBlue;

			&:hover{
				color: $colorBlueLight;
			}

		}

		&_footnote{
			color: #888888;

			a{
				color: $colorBlack;
			}
		}
	}

	&__link{
		text-align: right;

		@include breakPoint($breakPoint){
			font-size: 12px;
			color: #717171;
		}
	}

	&__field{
		position: relative;
		margin-bottom: 12px;
		font-size: 13px;
		display: inline-block;
		width: 100%;
		padding: 0 7px;
		box-sizing: border-box;
		vertical-align: top;

		@include breakPoint($breakPointM){
			margin-bottom: 25px;
			padding: 0 15px;
			font-size: $fontSize;
		}

		@include breakPoint($breakPoint){
			font-size: 14px;
			margin-bottom: 12px;
			padding: 0 9px;
		}

		&_half{
			width: 50%;
		}

		&_third{
			width: (100% / 3);
		}

		&_dhalf{

			@include breakPoint($breakPoint){
				width: 50%;

				.btn{
					min-width: 0;
					width: 100%;
				}
			}
		}

		&_submit{
			margin-top: 7px;

			@include breakPoint($breakPointM){
				margin-top: 15px;
			}

			@include breakPoint($breakPoint){
				margin-top: 10px;
				text-align: center;
				margin-bottom: 15px;
			}

			.form__text{

				@include breakPoint(0, $breakPoint){
					font-size: 24px;
				}

				@include breakPoint($breakPoint){
					text-align: left;
				}
			}
		}

		&_rate{

			white-space: nowrap;

			@include breakPoint($breakPoint){
				padding-top: 10px;
				padding-bottom: 10px;
			}

			.form__title{
				display: inline-block;
				vertical-align: middle;
				margin: 0;

				width: calc(100% - 160px);

				@include breakPoint($breakPointM){
					width: calc(100% - 320px);
				}

				@include breakPoint($breakPoint){
					width: auto;
					margin-right: 15px;
				}
			}

			.form__input{
				display: inline-block;
				vertical-align: middle;
				direction: rtl;
				margin: 0 -5px;

				@include breakPoint($breakPointM){
					margin: 0 -10px;
				}

				input{
					position: absolute;
					opacity: 0.5;

					&:checked{
						& ~ .form__input-rate{
							background-image: url("../../img/svg/rate_star_color.svg");
						}
					}
				}

				&-rate{
					display: inline-block;
					vertical-align: middle;
					height: 22px;
					width: 30px;
					background: url("../../img/svg/rate_star.svg") no-repeat 50% 50% ;
					background-size: contain;
					cursor: pointer;

					@include breakPoint($breakPointM){
						height: 45px;
						width: 60px;
					}

					@include breakPoint($breakPoint){
						height: 21px;
						width: 24px;
					}
				}
			}
		}

		&:last-child{
			margin-bottom: 0;
		}

		&.f-error{

			input{
				&[type="email"],
				&[type="password"],
				&[type="tel"],
				&[type="text"]{
					border-color: $colorRed!important;
				}
			}
		}

		&.f-success{

			input{
				&[type="email"],
				&[type="password"],
				&[type="tel"],
				&[type="text"]{
					border-color: $colorGreen!important;

					background: url("../img/svg/checkbox-success.svg") no-repeat top 50% right 10px;
					background-size: 20px 15px;

					@include breakPoint($breakPointM){

						background: url("../img/svg/checkbox-success.svg") no-repeat top 50% right 20px;
						background-size: 40px 30px;
					}

					@include breakPoint($breakPoint){
						background-size: 20px 15px;
						background-position: top 50% right 15px;
					}
				}
			}
		}

	}

	&__message{
		display: none;
		top: 4px;
		position: relative;
		font-size: 10px;
		//padding: $inputPadding;

		@include breakPoint($breakPointM){
			top: 8px;
			font-size: 20px;
		}

		@include breakPoint($breakPoint){
			font-size: 12px;
		}

		.f-message &{
			display: block;
		}

		.f-error &{
			color: $colorRed;
		}

		.f-success &{
			color: $colorGreen;
		}
	}

	&__label{
		position: relative;

		&_box{
			box-sizing: border-box;
			width: 100%;
			display: block;
			color: $colorBlack;
			height: $fieldHeightM;
			border: 1px solid $colorBorder;
			border-radius: $borderRadiusM;
			background: #fff;
			transition: border 0.3s ease;
			padding: $inputPaddingM;
			font-size: 0;

			@include breakPoint($breakPointM){
				border-radius: $borderRadius;
				height: $fieldHeight;
				padding: $inputPadding;
			}

			@include breakPoint($breakPoint){
				height: 60px;
				border-radius: $borderRadiusD;
				padding: $inputPaddingD;
			}

			&:after{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

		}
		&-inner{
			display: inline-block;
			vertical-align: middle;
			font-size: 11px;
			color: #616161;

			@include breakPoint($breakPointM){
				font-size: 22px;
			}

			@include breakPoint($breakPoint){
				font-size: 12px;
			}

			b{
				font-size: 26px;
				color: $colorBlack;

				@include breakPoint($breakPoint){
					font-size: 14px;
				}
			}
		}
	}

	&__input{
		position: relative;
		display: block;

		textarea,
		input[type="email"],
		input[type="password"],
		input[type="tel"],
		input[type="text"]{
			box-sizing: border-box;
			width: 100%;
			display: block;
			color: $colorBlack;
			line-height: ($fieldHeightM - 2px);
			height: $fieldHeightM;
			border: 1px solid $colorBorder;
			border-radius: $borderRadiusM;
			background-color: #fff;
			transition: border 0.3s ease;
			padding: $inputPaddingM;

			@include breakPoint($breakPointM){
				border-radius: $borderRadius;
				line-height: ($fieldHeight - 2px);
				height: $fieldHeight;
				padding: $inputPadding;
			}

			@include breakPoint($breakPoint){
				line-height: ($fieldHeightD - 2px);
				height: $fieldHeightD;
				border-radius: $borderRadiusD;
				padding: $inputPaddingD;
			}

			&:focus{
				border-color: $colorBlue;
				box-shadow: 0 0 3px 1px rgba($colorBlue, 0.25);

				@include breakPoint($breakPointM){
					box-shadow: 0 0 6px 1px rgba($colorBlue, 0.25);
				}

				& ~ .form__select{
					opacity: 1;
					pointer-events: all;
				}

				& ~ .form__input-arrow{
					transform: rotate(180deg);
					margin-top: -7px;

					@include breakPoint($breakPointM){
						margin-top: -15px;
					}

					@include breakPoint($breakPoint){
						margin-top: -9px;
					}
				}
			}

			.f-error &{
				border-color: $colorRed;
			}


			.f-success &{
				border-color: $colorGreen;
			}

			&:hover{
				border-color: $colorBlue;
			}
		}


		input[type="submit"]{
				//@include box-sizing();
				//background: $colorFocus;
				//color: #fff;
				//cursor: pointer;
				//width: 100%;
				//display: block;
				//
				//&:not(.btn){
				//	line-height: $fieldHeight;
				//	@include border-radius($borderRadius);
				//}
				//
				//&:hover{
				//
				//}
			}

		input[type="checkbox"]{
			opacity: 0;
			position: absolute;

			&:checked{
				& ~ {
					.form__label{

						&:before{
							border-width: 9px;
							border-color: $colorBlue;

							@include breakPoint($breakPointM){
								border-width: 19px;
							}

							@include breakPoint($breakPoint){
								border-width: 9px;
							}
						}

						&:after{
							opacity: 1;
						}
					}
				}
			}

			& ~ {
				.form__label{
					padding: 2px 0 2px 33px;

					@include breakPoint($breakPointM){
						padding: 4px 0 4px 66px;
					}

					@include breakPoint($breakPoint){
						padding: 3px 0 3px 33px;
					}

					&:before{
						content: '';
						width: 18px;
						box-sizing: border-box;
						height: 18px;
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						border-radius: $borderRadiusM;
						background: #fff;
						border: 1px solid $colorBorder;
						transition: border 0.2s ease;

						@include breakPoint($breakPointM){
							width: 38px;
							height: 38px;
							border-radius: $borderRadius;
						}

						@include breakPoint($breakPoint){
							width: 19px;
							height: 19px;
							border-radius: $borderRadius / 2;
							border-radius: $borderRadiusD;
							top: 2px;
						}

						.f-error &{
							border-color: $colorRed;
						}

						.f-success &{
							border-color: $colorGreen;
						}
					}

					&:after{
						content: '';
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						width: 18px;
						height: 18px;
						background: url("../../img/svg/checkbox.svg") no-repeat 50% 50%;
						background-size: contain;
						transition: opacity 0.2s ease;

						@include breakPoint($breakPointM){
							width: 38px;
							height: 38px;
						}

						@include breakPoint($breakPoint){
							width: 19px;
							height: 19px;
							top: 2px;
						}
					}
				}
			}
		}

		input[type="radio"]{
			opacity: 0;
			position: absolute;

			&:checked{
				& ~ {
					.form__label{

						&:before{
							border-color: $colorBlue;
							border-width: 6px;

							@include breakPoint($breakPointM){
								border-width: 12px;
							}

							@include breakPoint($breakPoint){
								border-width: 6px;
							}
						}

						&_box{
							border-color: $colorBlue;
							box-shadow:
								inset 0 0 0 1px $colorBlue,
								0 6px 10px rgba(0,0,0,0.06);

							@include breakPoint($breakPointM){
								box-shadow:
									inset 0 0 0 2px $colorBlue,
									0 12px 20px rgba(0,0,0,0.06);
							}

							@include breakPoint($breakPoint){
								box-shadow:
										inset 0 0 0 1px $colorBlue,
										0 12px 20px rgba(0,0,0,0.06);
							}
						}
					}
				}
			}

			& ~ {
				.form__label{
					padding: 2px 0 2px 30px;

					@include breakPoint($breakPointM){
						padding: 4px 0 4px 60px;
					}

					@include breakPoint($breakPoint){
						padding: 3px 0 3px 33px;
					}

					&:before{
						content: '';
						box-sizing: border-box;
						width: 19px;
						height: 19px;
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						border-radius: 100px;
						background: #fff;
						border: 1px solid $colorBorder;
						transition: border 0.2s ease;

						@include breakPoint($breakPointM){
							width: 38px;
							height: 38px;
						}

						@include breakPoint($breakPoint){
							width: 19px;
							height: 19px;
							top: 2px;
						}

						.f-error &{
							border-color: $colorRed;
						}

						.f-success &{
							border-color: $colorGreen;
						}
					}


					&_box{
						padding: 0 0 0 42px;

						@include breakPoint($breakPointM){
							padding: 0 0 0 85px;
						}

						@include breakPoint($breakPoint){
							padding: 0 0 0 50px;
						}

						&:before{
							top: 25px;
							left: 25px;

							@include breakPoint($breakPoint){
								top: 18px;
								left: 18px;
							}
						}
					}
				}
			}
		}


		textarea{
			resize: none;
			height: 85px;
			line-height: 1.2;

			padding: 10px 12px;

			@include breakPoint($breakPointM){
				height: 170px;
				padding: 20px 25px;
			}

			@include breakPoint($breakPoint){
				height: 150px;
				padding: 10px 15px;;
			}
		}

		&_date{
			input{
				background-image: url("../img/svg/ico-calendar.svg");
				background-repeat: no-repeat;
				background-position: top 50% right 7px;
				background-size: 17px 15px;

				@include breakPoint($breakPointM){
					background-position: top 50% right 15px;
					background-size: 34px 31px;
				}

				@include breakPoint($breakPoint){
					background-size: 21px 19px;
				}
			}
		}

		&_inline{
			white-space: nowrap;

			label{
				display: inline-block;
				white-space: normal;
				margin-right: 25px;

				@include breakPoint($breakPointM){
					margin-right: 50px;
				}

				@include breakPoint($breakPoint){
				}
			}
		}

		&-value{
			display: none!important;
		}

		&-clear{
			position: absolute;
			width: 11px;
			height: 11px;
			top: 50%;
			right: 10px;
			margin-top: -5px;
			cursor: pointer;
			opacity: 0;
			pointer-events: none;
			transition: opacity 0.3s ease;

			@include breakPoint($breakPointM){
				width: 22px;
				height: 22px;
				right: 20px;
				margin-top: -11px;
			}

			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				background: #fff;
				height: 1px;
				width: 13px;
				margin-top: -1px;
				margin-left: -6px;

				@include breakPoint($breakPointM){
					height: 2px;
					width: 26px;
					margin-top: -1px;
					margin-left: -13px;
				}

			}
			&:before {
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}

			&:hover{
				&:before,
				&:after {

				}
			}

			.f-filled &{
				opacity: 1;
				pointer-events: all;
			}
		}

		&-arrow{
			position: absolute;
			width: 0;
			height: 0;
			border: 5px solid transparent;
			border-top-color: $colorBlack;
			top: 50%;
			right: 7px;
			margin-top: -2px;

			@include breakPoint($breakPointM){
				border: 10px solid transparent;
				right: 15px;
				margin-top: -5px;
			}

			@include breakPoint($breakPoint){
				border-width: 6px;
				margin-top: -3px;
			}
		}
	}

	&__select{
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: #fff;
		z-index: 5;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s ease;
		border-radius: $borderRadiusM;
		border: 1px solid $colorBorder;
		padding: 7px 0;
		margin-top: 5px;

		@include breakPoint($breakPointM){
			padding: 15px 0;
			border-radius: $borderRadius;
			margin-top: 10px;
		}

		@include breakPoint($breakPoint){
			border-radius: $borderRadiusD;
			padding: 5px 0;
		}

		&-item{
			cursor: pointer;
			padding: 7px 12px;

			@include breakPoint($breakPointM){
				padding: 15px 25px;
			}

			@include breakPoint($breakPoint){
				padding: 8px 15px;
			}

			&:hover{
				color: $colorBlue;
			}

			&.is-active{

			}
		}
	}



	&__capture{
		//margin: 20px 0;


		@include breakPoint(0, $breakPoint){
			transform: scale(1.65);
			transform-origin: 0 0;
			margin-bottom: 35px;
		}
	}

	&__footnote{
		font-size: 9px;
		color: #727272;

		@include breakPoint($breakPointM){
			font-size: 18px;
		}

		@include breakPoint($breakPoint){
			font-size: 12px;
		}
	}

	&__range{
		height: $fieldHeightM;
		line-height: ( $fieldHeightM - 2px);
		font-size: 13px;
		border: 1px solid $colorBorder;
		box-sizing: border-box;
		position: relative;
		margin-bottom: 80px;
		border-radius: $borderRadiusM;

		@include breakPoint($breakPointM){
			font-size: 26px;
			margin-bottom: 160px;
			height: $fieldHeight;
			line-height: ( $fieldHeight - 2px);
			border-radius: $borderRadius;
		}


		@include breakPoint($breakPoint){
			font-size: 14px;
			height: $fieldHeightD;
			line-height: ( $fieldHeightD - 2px);
			border-radius: $borderRadiusD;
			margin-bottom: 80px;
		}


		&-line{
			position: absolute;
			bottom: -29px;
			height: 3px;
			left: 8px;
			right: 8px;
			border: none;
			background: #ccc;
			border-radius: 3px;
			box-shadow: none;

			@include breakPoint($breakPointM){
				bottom: -58px;
				height: 6px;
				left: 17px;
				right: 17px;
				border-radius: 6px;
			}

			@include breakPoint($breakPoint){
				height: 3px;
				left: 9px;
				right: 9px;
				bottom: -28px;
			}
		}


		&-value{
			font-size: 0;
			white-space: nowrap;

			&-item{
				display: inline-block;
				width: 50%;
				box-sizing: border-box;
				font-size: 13px;

				@include breakPoint($breakPointM){
					font-size: 26px;
				}

				@include breakPoint($breakPoint){
					font-size: 14px;
				}

				&_min{
					border-right: 1px solid $colorBorder;

					@include breakPoint($breakPointM){
						border-right: 2px solid $colorBorder;
					}
				}

				&_max{
					position: relative;

					&:after{
						content: '₽';
						display: block;
						position: absolute;
						right: 10px;
						top: 0;
						color: #747474;
						line-height: $fieldHeightM - 2px;

						@include breakPoint($breakPointM){
							right: 20px;
							line-height: $fieldHeight - 2px;
						}

						@include breakPoint($breakPoint){
							line-height: $fieldHeightD - 2px;
						}

					}
				}
			}

			&-text{
				display: inline-block;
				vertical-align: middle;
			}

			&-input{
				display: inline-block;
				vertical-align: middle;
				width: 40px;
				padding: 0 5px;
				line-height: $fieldHeightM - 2px;
				height: $fieldHeightM - 2px;

				@include breakPoint($breakPointM){
					line-height: $fieldHeight - 2px;
					height: $fieldHeight - 2px;
					width: 80px;
					padding: 0 10px;
				}

				@include breakPoint($breakPoint){
					line-height: $fieldHeightD - 2px;
					height: $fieldHeightD - 2px;
				}
			}
		}


		.noUi-handle{
			width: 17px;
			height: 17px;
			box-sizing: border-box;
			top: -7px;
			background: #fff;
			right: -8px!important;
			border-radius: 50%;
			box-shadow: 0 2px 2px rgba(0,0,0,0.12);

			@include breakPoint($breakPointM){
				width: 34px;
				height: 34px;
				top: -14px;
				right: -17px!important;
				box-shadow: 0 5px 5px rgba(0,0,0,0.12);
			}

			@include breakPoint($breakPoint){
				width: 18px;
				height: 18px;
				top: -8px;
				right: -9px!important;
			}

			&:before{
				display: none;
			}

			&:after{
				display: none;
			}

			&:hover{
				&:before{
					//background: $colorBlue;
				}
			}


			span{
				white-space: nowrap;
				display: block;
				position: absolute;
				pointer-events: none;
				top: 25px;
				left: 50%;
				transform: translateX(-50%);
				background: #fff;
				padding: 0 5px;
				box-shadow: 0 0 5px #fff;
				line-height: 1;

				@include breakPoint($breakPointM){
					top: 50px;
					padding: 0 10px;
					box-shadow: 0 0 10px #fff;
				}

				@include breakPoint($breakPoint){
					top: 30px;
				}
			}

		}

		.noUi-connect{
			background: $colorBlue;
			box-shadow: none;
		}
	}


	&__tab{
		text-align: left;
		cursor: pointer;

		&-link{
			color: $colorBlue;
			display: inline-block;
			position: relative;

			font-size: 12px;

			@include breakPoint($breakPointM){
				font-size: 24px;
			}

			@include breakPoint($breakPoint){
				font-size: 14px;
			}

			&:hover{
				color: $colorBlueLight;
			}

			&.is-active{
				color: $colorBlueLight;
				&:after{
					content: '';
					position: absolute;
					bottom: -8px;
					height: 3px;
					background: $colorBlue;
					left: -10px;
					right: -10px;
				}
			}
		}

	}

	[data-tab-target]{
		padding-top: 15px;
	}
}



.datepicker{
	width: 200px;
	font-size: 12px;

	@include breakPoint($breakPointM){
		width: 400px;
		font-size: 24px;
	}

	@include breakPoint($breakPoint){
		width: 200px;
		font-size: 14px;
	}

	&--pointer{
		display: none;
	}

	&--day-name{
		color: $colorBlue;
	}

	&--nav{
		min-height: 50px;

		@include breakPoint($breakPoint){
			min-height: 25px;
		}
	}

	&--cell{
		height: 20px;

		@include breakPoint($breakPointM){
			height: 40px;
		}

		@include breakPoint($breakPoint){
			height: 20px;
		}

		&.-selected-{
			background-color: $colorBlue;
		}
	}
}