

%navSlide{
	transition: left 0.5s ease;
	left: 0;

	@include breakPoint(0, $breakPointM){
		.is-nav-show &{
			left: $navWidthM;
		}
	}

	@include breakPoint($breakPointM, $breakPoint){
		.is-nav-show &{
			left: $navWidth;
		}
	}
}

html {
	height: 100%;
}

body {
	font-family: $fontMain;
	font-size: 8px;
	width: 100%;
	height: 100%;
	min-width: 320px;
	line-height: 1.2;

	@include breakPoint($breakPointM){
		font-size: 16px;
		min-width: 640px;
	}

	&.is-filter-show,
	&.is-nav-show{
		overflow: hidden;

		@include breakPoint($breakPoint){
			overflow: visible;
		}
	}
}

label{
	cursor: pointer;
}

.wrapper{
	overflow: hidden;
	background: #f5f5f5;
}

.inner{
	//width: 580px;
	margin: 0 15px;
	position: relative;

	@include breakPoint($breakPointM){
		margin: 0 30px;
	}

	@include breakPoint($breakPoint){
		width: 1140px;
		margin: 0 auto;
	}

	&_box{
		background: #fff;
		box-shadow: 0 3px 0 #e6e6e6;
		padding: 30px 15px 17px;
		box-sizing: border-box;
		margin: 17px 0 22px;
		@include shadow;
		border-radius: 0;

		@include breakPoint($breakPointM){
			padding: 60px 30px 35px;
			margin: 35px 0 45px;
		}

		@include breakPoint($breakPoint){
			border-radius: 8px;
			padding: 45px 98px ;
			margin: 40px auto ;

			&:last-child{
				margin-bottom: 60px;
			}
		}
	}


	&__wide{
		margin: 0 -15px;

		@include breakPoint($breakPointM){
			margin: 0 -30px;
		}

		@include breakPoint($breakPoint){
			margin: 0;
		}

		.inner_box &{

			@include breakPoint($breakPoint){
				margin: 0 -98px;
			}
		}
	}
}

.head{

	margin-bottom: 15px;

	@include breakPoint($breakPointM){
		margin-bottom: 30px;
	}

	@include breakPoint($breakPoint){
		margin-bottom: 40px;
	}
}

.title{
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	font-size: 18px;
	margin: 15px 0 7px;

	@include breakPoint($breakPointM){
		font-size: 38px;
		margin: 30px 0 15px;
	}

	@include breakPoint($breakPoint){
		margin: 40px 0 20px;
		font-size: 30px;
	}

	&:before{

		@include breakPoint($breakPoint){
			content: '';
			display: block;
			position: absolute;
			top: 17px;
			background: #e3e3e3;
			height: 1px;
			left: 0;
			right: 0;

		}
	}

	&_min{
		font-size: 13px;
		margin: 37px 0 25px;

		@include breakPoint($breakPointM){
			font-size: 26px;
			margin: 75px 0 50px;
		}

		@include breakPoint($breakPoint){
			font-size: 18px;
		}


		&:before{

			@include breakPoint($breakPoint){
				top: 9px;

			}
		}
	}

	& > * {

		@include breakPoint($breakPoint){
			display: inline;
			background: #f5f5f5;
			position: relative;
			padding: 0 25px;
			font: inherit;

		}
	}
}


.breadcrumbs{
	text-align: center;
	font-size: 8px;

	@include breakPoint($breakPointM){
		font-size: 16px;
	}


	@include breakPoint($breakPoint){
		font-size: 12px;
	}

	&__item{
		color: #878787;
		display: inline-block;

		a{
			color: $colorBlack;

			&:hover{
				text-decoration: underline;
			}
		}

		&:after{
			content: '/';
			display: inline-block;
			margin: 0 5px 0 7px;
			color: $colorBlack;

			@include breakPoint($breakPointM){
				margin: 0 10px 0 15px;
			}
		}

		&:last-child{

			&:after{
				display: none;
			}
		}
	}
}


.btn{

	border: 2px solid $colorBlue;
	background: transparent;
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	font-weight: 600;
	border-radius: 50px;
	box-sizing: border-box;
	display: inline-block;
	color: $colorBlue;
	padding: 11px 15px 10px;
	transition: all 0.2s ease;
	position: relative;
	top: 0;
	user-select: none;
	cursor: pointer;
	width: 100%;
	max-width: 100%;

	@include breakPoint($breakPointM){
		border: 3px solid $colorBlue;
		font-size: 24px;
		border-radius: 100px;
		padding: 22px 30px 21px;
	}

	&:disabled{
		border-color: #b0b0b0!important;
		color: #b0b0b0!important;
	}

	@include breakPoint($breakPoint){
		font-size: 12px;
		border-width: 2px;
		padding: 15px 20px 14px;
		min-width: 225px;
		width: auto;
	}

	&:active{
		top: 2px;

		@include breakPoint($breakPoint){
			top: 1px;
		}
	}

	&:hover{
		border-color: $colorBlueLight;
		color: $colorBlueLight;
	}

	&_fill{
		background-color: $colorBlue;
		color: #fff;
		box-shadow: 0 6px 9px rgba($colorBlue, 0.3);

		&:hover{
			background-color: $colorBlueLight;
			color: #fff;
		}


		&:active{
			box-shadow: 0 1px 1px rgba($colorBlue, 0.7);
		}

		&:disabled{
			background-color: #b0b0b0!important;
			box-shadow: 0 6px 9px rgba(#b0b0b0, 0.3)!important;
		}
	}

	&_poor{
		border-color: transparent;

		&:disabled{
			border-color: transparent!important;
		}
	}
}


.header {
	background: #fff;
	font-size: 0;

	@include breakPoint(0, $breakPoint){
		position: fixed;
		height: $headerHeightM;
		left: 0;
		width: 100%;
		z-index: 10;
	}

	@include breakPoint($breakPointM, $breakPoint){
		height: $headerHeight;
	}

	@extend %navSlide;

	.inner{
		height: 100%;
	}

	&__handler{
		width: 25px;
		height: 25px;
		position: absolute;
		top: 50%;
		margin-top: -12px;
		left: 15px;
		z-index: 1;
		cursor: pointer;

		@include breakPoint($breakPointM){
			width: 50px;
			height: 50px;
			margin-top: -25px;
			left: 30px;
		}

		@include breakPoint($breakPoint){
			display: none;
		}


		i{
			width: 25px;
			height: 3px;
			background: $colorBlack;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			@include breakPoint($breakPointM){
				width: 50px;
				height: 5px;
			}

			&:before,
			&:after{
				width: 100%;
				height: 100%;
				background: inherit;
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			&:before{
				margin-top: -8px;

				@include breakPoint($breakPointM){
					margin-top: -17px;
				}
			}

			&:after{
				margin-top: 8px;

				@include breakPoint($breakPointM){
					margin-top: 17px;
				}
			}
		}
	}

	&__top{
		@include breakPoint(0, $breakPoint){
			display: none;
		}

		@include breakPoint($breakPoint){
			border-bottom: 1px solid #e3e3e3;
			padding: 19px 0 15px;
		}
	}

	&__nav{
		display: inline-block;
		vertical-align: middle;
		font-size: 6px;
		font-weight: bold;
		text-transform: uppercase;
		width: (100% / 3);

		@include breakPoint($breakPointM){
			font-size: 12px;
		}

		&-item{
			display: inline-block;
			vertical-align: middle;
			margin-left: 15px;
			position: relative;

			@include breakPoint($breakPointM){
				margin-left: 30px;
			}

			&:after{
				content: '';
				display: block;
				position: absolute;
				bottom: -9px;
				left: 0;
				right: 0;
				height: 2px;
				background: transparent;
				transition: background 0.3s ease;

				@include breakPoint($breakPointM){
					height: 3px;
					bottom: -18px;
				}
			}

			&:hover{
				&:after{
					background: currentColor;
				}
			}

			&:first-child{
				margin-left: 0;
			}
		}
	}

	&__right{
		.header_order &{
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);

		}
	}

	&__phone{
		display: inline-block;
		vertical-align: middle;
		font-size: 12px;
		width: (100% / 3);
		text-align: center;

		@include breakPoint($breakPointM){
			font-size: 24px;
		}

		@include breakPoint($breakPoint){
			font-size: 12px;
		}

		.header_order &{
			width: auto;

			@include breakPoint($breakPoint){
				font-size: 20px;
			}
		}

		&-ico{
			display: inline-block;
			vertical-align: middle;
			width: 16px;
			height: 16px;
			margin-right: 3px;

			@include breakPoint($breakPointM){
				width: 32px;
				height: 32px;
				margin-right: 5px;
			}

			@include breakPoint($breakPoint){
				width: 21px;
				height: 21px;
			}

			svg{
				fill: $colorBlack;
				width: 100%;
				height: 100%;

				.header_order &{
					fill: $colorBlue;
				}
			}

		}

		&-text{
			display: inline-block;
			vertical-align: middle;

			.header_order &{
				font-weight: bold;
			}

			b{
				font-size: 7px;

				@include breakPoint($breakPointM){
					font-size: 14px;
				}

			}
		}
	}

	&__link{
		display: inline-block;
		vertical-align: middle;
		font-size: 12px;
		font-weight: bold;
		color: $colorBlue;
		text-transform: uppercase;

		@include breakPoint($breakPointM){
			font-size: 24px;
		}

		@include breakPoint($breakPoint){
			font-size: 12px;
		}

		.header_order &{

			@include breakPoint(0, $breakPoint){
				display: none;
			}

			@include breakPoint($breakPoint){
				margin-left: 60px;
			}
		}
	}


	&__location{
		display: inline-block;
		vertical-align: middle;
		font-size: 6px;
		width: (100% / 3);
		text-align: right;

		@include breakPoint($breakPointM){
			font-size: 12px;
		}


		&-ico{
			display: inline-block;
			vertical-align: middle;
			width: 10px;
			height: 10px;
			margin-right: 3px;

			@include breakPoint($breakPointM){
				width: 20px;
				height: 20px;
				margin-right: 5px;
			}

			svg{
				fill: $colorBlack;
				width: 100%;
				height: 100%;
			}

		}

		&-text{
			display: inline-block;
			vertical-align: middle;
		}
	}


	&__middle{

		@include breakPoint(0, $breakPoint){
			height: 100%;
		}

		@include breakPoint($breakPoint){
			border-bottom: 1px solid #e3e3e3;
			padding: 12px 0 14px;
			position: relative;
			z-index: 5;
		}

	}
	&__auth{
		@include breakPoint(0, $breakPoint){
			display: none;
		}

		@include breakPoint($breakPoint){
			display: inline-block;
			vertical-align: middle;
			width: (100% / 3);
		}

		&-user{
			font-size: 6px;
			font-weight: bold;


			@include breakPoint($breakPointM){
				font-size: 12px;
			}

		}

		&-lk{
			padding-left: 25px;
			display: inline-block;
			vertical-align: middle;

			@include breakPoint($breakPointM){
				padding-left: 50px;
			}

			svg{
				position: absolute;
				top: 48%;
				width: 43px;
				left: 8px;
				fill: $colorBlue;
				transform: translateY(-50%);
			}
		}

		&-logout{
			display: inline-block;
			vertical-align: middle;
			margin-left: 7px;
			position: relative;
			top: 1px;

			@include breakPoint($breakPointM){
				margin-left: 15px;
				top: 2px;
			}
		}

		.btn{

			@include breakPoint($breakPoint){
				padding-left: 50px;

				svg{
					position: absolute;
					top: 48%;
					width: 43px;
					left: 8px;
					fill: $colorBlue;
					transform: translateY(-50%);
				}
			}
		}
	}

	&__logo{

		@include breakPoint(0, $breakPointM){
			width: 127px;
			position: absolute;
			top: 50%;
			left: 43px;
			transform: translateY(-50%);
		}

		@include breakPoint($breakPointM, $breakPoint){
			width: 254px;
			position: absolute;
			top: 50%;
			left: 85px;
			transform: translateY(-50%);
		}

		@include breakPoint($breakPoint){
			display: inline-block;
			vertical-align: middle;
			width: (100% / 3);
			text-align: center;
		}

		.header_order &{
			left: 0;
			text-align: left;
		}

		img{
			width: 100%;

			@include breakPoint($breakPointM){

			}

			@include breakPoint($breakPoint){
				width: 210px;
			}
		}
	}



	&__info{
		text-align: right;

		@include breakPoint(0, $breakPointM){
			position: absolute;
			right: 0;
			top: 12px;
		}

		@include breakPoint($breakPointM, $breakPoint){
			position: absolute;
			right: 0;
			top: 24px;
		}

		@include breakPoint($breakPoint){
			display: inline-block;
			vertical-align: middle;
			width: (100% / 3);
		}
	}

	&__search{
		display: inline-block;
		vertical-align: middle;
		position: relative;
		width: 32px;
		height: 32px;
		left: 0;
		transition: all 0.5s ease;
		z-index: 1;

		@include breakPoint($breakPointM){
			width: 63px;
			height: 63px;
		}

		@include breakPoint($breakPoint){
			width: 43px;
			height: 43px;
		}

		.header_search &{

			@include breakPoint(0, $breakPointM){
				left: calc(100% - 32px);
				z-index: 1;
			}

			@include breakPoint($breakPointM, $breakPoint){
				left: calc(100% - 63px);
				z-index: 1;
			}
		}

		&-inner{
			box-sizing: border-box;
			transition: all 0.5s ease;

			@include breakPoint(0, $breakPointM){
				position: fixed;
				pointer-events: none;
				opacity: 0;
				height: 56px;
				left: 0;
				right: 0;
				top: 0;
				background: $colorBlue;
				padding: 12px 15px;

				.header_search &{
					pointer-events: all;
					opacity: 1;
				}
			}

			@include breakPoint($breakPointM, $breakPoint){
				position: fixed;
				pointer-events: none;
				opacity: 0;
				height: 112px;
				left: 0;
				right: 0;
				top: 0;
				background: $colorBlue;
				padding: 24px 30px;

				.header_search &{
					pointer-events: all;
					opacity: 1;
				}
			}

			@include breakPoint($breakPoint){
				position: absolute;
				pointer-events: none;
				opacity: 0;
				width: 100%;
				right: -2px;
				top: -2px;
				bottom: -2px;
				border: 2px solid transparent;
				border-radius: 40px;

				.header_search &{
					pointer-events: all;
					opacity: 1;
					width: 250px;
					border-color: $colorBlue;
				}
			}

		}

		&-input{
			background: #fff;
			border-radius: 25px;
			box-sizing: border-box;
			width: 100%;
			z-index: 1;

			@include breakPoint($breakPointM){
				border-radius: 50px;
			}

			@include breakPoint(0, $breakPointM){
				height: 32px;
				line-height: 32px;
				padding: 0 37px 0 17px;
				font-size: 12px;
			}

			@include breakPoint($breakPointM, $breakPoint){
				height: 63px;
				line-height: 63px;
				padding: 0 75px 0 35px;
				font-size: 24px;
			}

			@include breakPoint($breakPoint){
				height: 43px;
				line-height: 43px;
				padding: 0 40px 0 20px;
				font-size: 14px;
			}
		}

		&-ico{
			width: 31px;
			height: 31px;
			position: absolute;
			top: 0;
			right: 0;
			border-radius: 50%;
			background: $colorBlue;
			cursor: pointer;
			transition: background 0.5s ease;

			@include breakPoint($breakPointM){
				width: 63px;
				height: 63px;
			}

			.header_search &{
				background: #fff;
			}

			@include breakPoint($breakPoint){
				width: 43px;
				height: 43px;
			}

			svg{
				display: block;
				width: 100%;
				height: 100%;
				fill: #fff;
				transition: fill 0.5s ease;

				.header_search &{
					fill: $colorBlue;
				}
			}
		}

		&-result{

			position: absolute;
			padding: 12px 0;
			background: #fff;
			box-shadow: 0 5px 15px rgba(0,0,0,0.15);
			border-radius: 3px;
			box-sizing: border-box;
			top: 100%;
			right: 15px;
			overflow: hidden;
			margin-top: -5px;

			font-size: 11px;
			text-align: left;

			@include breakPoint($breakPointM){
				padding: 25px 0;
				box-shadow: 0 10px 30px rgba(0,0,0,0.15);
				border-radius: 6px;
				right: 30px;
				margin-top: -10px;
				font-size: 22px;
			}


			@include breakPoint(0, $breakPointM){
				left: 15px;
			}

			@include breakPoint($breakPointM, $breakPoint){
				left: 30px;
			}

			@include breakPoint($breakPoint){
				right: -90px;
				margin-top: 6px;
				font-size: 14px;
				width: 340px;
				border: 1px solid $colorBlue;
				border-radius: 4px;
			}

			li{
				white-space: nowrap;
				padding: 6px 20px;
				position: relative;

				@include breakPoint($breakPointM){
					padding: 13px 40px;
				}

				@include breakPoint($breakPoint){
					padding: 8px 20px;
				}

				&.all{
					color: $colorBlue;
					margin: 5px 0;

					@include breakPoint($breakPointM){
						margin: 10px 0;
					}
				}

				&:hover{
					background: #f5f5f5;
				}
			}

			&:empty{
				display: none;
			}

			&:after{
				content: '';
				display: block;
				width: 75px;
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
				background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 80%, rgba(255,255,255,1) 100%);
				background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 80%,rgba(255,255,255,1) 100%);
				background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 80%,rgba(255,255,255,1) 100%);
				//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );


				@include breakPoint($breakPointM){
					width: 150px;
				}
			}
		}
	}

	&__favorite{
		display: inline-block;
		vertical-align: middle;
		position: relative;
		white-space: nowrap;
		margin-left: 10px;

		@include breakPoint(0, $breakPoint){
			display: none;
		}

		&-ico{
			display: inline-block;
			vertical-align: middle;

			svg{
				display: inline-block;
				vertical-align: top;
				width: 31px;
				height: 31px;

				@include breakPoint($breakPointM){
					width: 63px;
					height: 63px;
				}

				@include breakPoint($breakPoint){
					width: 43px;
					height: 43px;
				}
			}
		}
	}

	&__cart{
		display: inline-block;
		vertical-align: middle;
		position: relative;
		white-space: nowrap;
		margin-left: 5px;

		@include breakPoint($breakPointM){
			margin-left: 10px;
		}

		&-ico{
			display: inline-block;
			vertical-align: middle;

			svg{
				width: 31px;
				height: 31px;
				display: inline-block;
				vertical-align: top;

				@include breakPoint($breakPointM){
					width: 63px;
					height: 63px;
				}

				@include breakPoint($breakPoint){
					width: 43px;
					height: 43px;
				}
			}
		}

		&-text{


			@include breakPoint(0, $breakPoint){
				display: none;
			}

			display: inline-block;
			vertical-align: middle;
			font-size: 12px;
			font-weight: bold;
		}
	}

	&__counter{
		display: inline-block;
		vertical-align: top;
		height: 16px;
		border: 1px solid #d6d6d6;
		border-radius: 15px;
		color: $colorBlack;
		font-size: 9px;
		font-weight: bold;
		text-align: center;
		line-height: 15px;
		min-width: 24px;
		background: #fff;
		position: relative;
		box-sizing: border-box;
		padding: 0 5px;
		margin-left: -12px;

		@include breakPoint($breakPointM){
			height: 32px;
			border-radius: 30px;
			font-size: 18px;
			line-height: 30px;
			min-width: 48px;
			padding: 0 10px;
			margin-left: -25px;
		}

		@include breakPoint($breakPoint){
			height: 19px;
			line-height: 17px;
			font-size: 11px;
			padding: 0 5px;
			min-width: 29px;
			margin-left: -18px;
		}

		&:empty{
			display: none;
		}
	}

	&__menu{

		@include breakPoint(0, $breakPoint){
			display: none;
		}

		&-list{
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 14px;
		}

		&-item{

			&:hover{

				.header__menu-link{
					border-bottom: 3px solid $colorBlue;
				}

				.header__submenu{
					opacity: 1;
					pointer-events: all;
				}
			}
		}

		&-link{
			display: inline-block;
			text-transform: uppercase;
			font-weight: bold;
			color: $colorBlue;
			height: 30px;
			line-height: 30px;
			padding: 0 7px;
			cursor: pointer;
			box-sizing: border-box;
			transition: all 0.2s ease;
			border-bottom: 0 solid transparent;
			position: relative;
			z-index: 3;

			@include breakPoint($breakPointM){
				height: 60px;
				line-height: 60px;
				padding: 0 15px;
			}

			&:hover{
			}

			&.is-active{
				background: $colorBlue;
				color: #fff;
			}
		}
	}

	&__submenu{
		position: absolute;
		left: 0;
		width: 100%;
		z-index: 2;
		top: 0;
		padding-top: 33px;
		opacity: 0;
		pointer-events: none;
		transition: all 0.2s ease;

		@include breakPoint($breakPointM){
			padding-top: 66px;
		}

		&-inner{
			border: 1px solid $colorBlue;
			border-radius: 2px;
			background: #fff;
			padding: 10px 0;
			box-shadow: 0 7px 12px rgba($colorBlue, 0.12);

			@include breakPoint($breakPointM){
				border-radius: 4px;
				padding: 20px 0;
				box-shadow: 0 15px 25px rgba($colorBlue, 0.12);
			}
		}

		&-list{
			//columns: 165px 5;
			column-count: 5;
			column-gap: 15px;
			box-sizing: border-box;
			width: 83.15%;
			margin: 0 auto;

			@include breakPoint($breakPointM){
				column-gap: 30px;
			}
		}

		&-item{
			break-inside: avoid;
			padding: 6px 0;

			@include breakPoint($breakPointM){
				padding: 12px 0;
			}
		}

		&-link{

			&:hover{
				color: $colorBlue;
			}
		}
	}
}


.nav{
	position: fixed;
	top: 0;
	bottom: 0;
	width: $navWidthM;
	font-size: 12px;
	left: -$navWidthM;
	transition: all 0.5s ease;
	z-index: 12;


	@include breakPoint($breakPointM){
		font-size: 24px;
		width: $navWidth;
		left: -$navWidth;
	}

	.is-nav-show &{
		left: 0;
	}


	&__overlay{
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		pointer-events: none;
		opacity: 0;
		background: rgba(#000, 0.2);
		transition: all 0.5s ease;

		.is-nav-show &{
			pointer-events: all;
			opacity: 1;
			cursor: pointer;
		}
	}

	&__content{
		position: relative;
		height: 100%;
		width: 100%;
		overflow: hidden;
	}

	&__menu{
		position: relative;
		height: 100%;
		width: 100%;
		background: #f5f5f5;
		overflow: hidden;

		&-inner{
			height: 100%;
			width: 100%;
			overflow: auto;
		}

		&-control{
			font-weight: bold;
			text-transform: uppercase;
			background: #fff;
		}

		&-list{
			font-weight: bold;
			text-transform: uppercase;
			color: $colorBlue;
			background: #fff;
			border-bottom: 1px solid #dddddd;
			//padding: 15px 0;

		}
		&-links{
			//padding: 15px 0;
		}
	}


	&__item{
		padding: 11px 20px;
		transition: all 0.3s ease;
		display: block;
		//cursor: pointer;

		@include breakPoint($breakPointM){
			padding: 22px 40px;
		}

		&:first-child{
			padding-top: 15px;

			@include breakPoint($breakPointM){
				padding-top: 30px;
			}
		}

		&:last-child{
			padding-bottom: 15px;

			@include breakPoint($breakPointM){
				padding-bottom: 30px;
			}
		}

		.nav__submenu-back &,
		.nav__menu-control &{
			border-bottom: 1px solid #dddddd;
			padding: 14px 20px 14px 50px;
			position: relative;

			@include breakPoint($breakPointM){
				padding: 28px 40px 28px 100px;
			}
		}

		.nav__submenu-back &{
			color: $colorBlack;
		}

		&.is-active{
			background: $colorBlue;
			color: #fff;
			padding-top: 15px;
			padding-bottom: 15px;

			@include breakPoint($breakPointM){
				padding-top: 30px;
				padding-bottom: 30px;
			}
		}

		&-ico{
			width: 31px;
			height: 31px;
			position: absolute;
			top: 50%;
			left: 12px;
			margin-top: -15px;

			@include breakPoint($breakPointM){
				left: 25px;
				margin-top: -31px;
				width: 63px;
				height: 63px;
			}

			& ~ .nav__item-link{

			}
		}

		&-logout{
			position: absolute;
			top: 50%;
			right: 12px;
			width: 15px;
			height: 15px;
			margin-top: -7px;

			@include breakPoint($breakPointM){
				right: 25px;
				width: 30px;
				height: 30px;
				margin-top: -15px;
			}

			img{
				width: 100%;
				height: 100%;
			}
		}

		&_sub{
			background: url("../../img/svg/ico-next.svg") no-repeat right 0 top 50%;
			cursor: pointer;
		}
	}

	&__submenu{
		position: absolute;
		top: 0;
		width: 100%;
		left: 100%;
		overflow: auto;
		transition: left 0.3s ease;
		background: #fff;
		height: 100%;

		.nav__item_active & {
			left: 0;
			pointer-events: all;
		}

		&-list{

		}
	}
}


.website {

	@include breakPoint(0, $breakPointM){
		padding-top: $headerHeightM;
	}
	@include breakPoint($breakPointM, $breakPoint){
		padding-top: $headerHeight;
	}
	position: relative;
	@extend %navSlide;
}


.footer {
	position: relative;
	@extend %navSlide;
	z-index: 1;
	text-align: center;
	background: #fff;
	padding: 25px 0 40px;
	font-size: 0;
	margin-top: 25px;

	@include breakPoint($breakPointM){
		padding: 50px 0 80px;
		margin-top: 50px;
	}

	@include breakPoint($breakPoint){
		padding: 0 0 50px;
		margin-top: 58px;
	}


	&__nav{
		margin-bottom: 27px;

		@include breakPoint($breakPointM){
			margin-bottom: 55px;
		}

		@include breakPoint($breakPoint){
			border-bottom: 1px solid #e3e3e3;
			margin: 0;
			padding: 33px 0;
		}

		&-item{
			display: block;
			font-weight: 600;
			font-size: 13px;
			text-transform: uppercase;
			margin-bottom: 17px;

			@include breakPoint($breakPointM){
				margin-bottom: 35px;
				font-size: 26px;
			}

			@include breakPoint($breakPoint){
				font-size: 12px;
				display: inline-block;
				margin: 0 37px;
			}
		}
	}

	&__middle{
		@include breakPoint($breakPoint){
			padding: 40px 0 45px;
		}
	}

	&__location{
		font-size: 11px;
		margin-bottom: 13px;

		@include breakPoint($breakPointM){
			font-size: 22px;
			margin-bottom: 25px;
		}

		@include breakPoint($breakPoint){
			font-size: 14px;
			display: inline-block;
			vertical-align: middle;
			width: (100% / 3);
			margin: 0;
			text-align: left;
		}

		&-ico{
			width: 16px;
			height: 16px;
			display: inline-block;
			vertical-align: middle;

			@include breakPoint($breakPointM){
				width: 32px;
				height: 32px;
			}

			@include breakPoint($breakPoint){
				width: 24px;
				height: 24px;
			}

			svg{
				fill: $colorBlue;
				width: 100%;
				height: 100%;
			}
		}
		&-text{
			display: inline-block;
			vertical-align: middle;
		}
	}

	&__phone{
		font-weight: 600;
		font-size: 18px;
		margin-bottom: 19px;

		@include breakPoint($breakPointM){
			font-size: 36px;
			margin-bottom: 38px;
		}

		@include breakPoint($breakPoint){
			font-size: 20px;
			display: inline-block;
			vertical-align: middle;
			width: (100% / 3);
			margin: 0;
		}

		&-ico{
			width: 16px;
			height: 16px;
			display: inline-block;
			vertical-align: middle;

			@include breakPoint($breakPointM){
				width: 32px;
				height: 32px;
			}

			@include breakPoint($breakPoint){
				width: 24px;
				height: 24px;
			}

			svg{
				fill: $colorBlue;
				width: 100%;
				height: 100%;
			}
		}
		&-text{
			display: inline-block;
			vertical-align: middle;
		}
	}

	&__feedback{
		margin-bottom: 24px;

		@include breakPoint($breakPointM){
			margin-bottom: 48px;
		}

		@include breakPoint($breakPoint){
			font-size: 20px;
			display: inline-block;
			vertical-align: middle;
			width: (100% / 3);
			margin: 0;
			text-align: right;
		}

		.btn{
			width: 100%;

			@include breakPoint($breakPoint){
				width: auto;
			}
		}
	}

	&__bottom{

	}

	&__soc{
		margin-bottom: 25px;

		@include breakPoint($breakPointM){
			margin-bottom: 50px;
		}

		@include breakPoint($breakPoint){
			margin: 0;
			display: inline-block;
			vertical-align: middle;
			width: (100% / 3);
			text-align: left;
		}


		&-item{
			width: 48px;
			height: 48px;
			border: 1px solid #d1d1d1;
			border-radius: 50%;
			margin-left: 26px;
			display: inline-block;
			vertical-align: middle;
			position: relative;
			cursor: pointer;
			transition: all 0.2s ease;

			@include breakPoint($breakPointM){
				margin-left: 53px;
				width: 96px;
				height: 96px;
			}

			@include breakPoint($breakPoint){
				width: 52px;
				height: 52px;
				margin-left: 28px;
			}

			&:hover{
				background: $colorBlue;
				border-color: $colorBlue;

				svg{
					fill: #fff;
				}
			}

			&:first-child{
				margin-left: 0;
			}

			svg{
				fill: $colorBlue;
				width: 50%;
				height: 50%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: fill 0.2s ease;
			}
		}
	}

	&__pay{
		margin-bottom: 13px;

		@include breakPoint($breakPointM){
			margin-bottom: 27px;
		}

		@include breakPoint($breakPoint){
			margin: 0;
			display: inline-block;
			vertical-align: middle;
			width: (100% / 3);
		}

		&-item{
			display: inline-block;
			vertical-align: middle;
			height: 21px;
			margin: 0 9px 9px 9px;

			@include breakPoint($breakPointM){
				height: 42px;
				margin: 0 18px 18px 18px;
			}

			@include breakPoint($breakPoint){
				height: 30px;
				margin: 0 11px 11px 11px;
			}

			img{
				height: 100%;
			}
		}
	}

	&__copy{
		font-size: 11px;

		@include breakPoint($breakPointM){
			font-size: 22px;
		}

		@include breakPoint($breakPoint){
			font-size: 14px;
			text-align: right;
			margin: 0;
			display: inline-block;
			vertical-align: middle;
			width: (100% / 3);
		}
	}


	&__scrolltop{
		position: fixed;
		display: block;
		width: 40px;
		height: 40px;
		bottom: 15px;
		border-radius: 50%;
		right: 15px;
		box-shadow: 0 5px 15px rgba(0,0,0,0.15);
		background: #fff url("../img/svg/scrollup.svg") no-repeat 50% 50%;
		background-size: 120% 120%;
		z-index: 5;
		cursor: pointer;
		opacity: 0;
		pointer-events: none;
		transition: all 0.5s ease;

		@include breakPoint($breakPointM){
			width: 80px;
			height: 80px;
			bottom: 30px;
			right: 30px;
			box-shadow: 0 10px 30px rgba(0,0,0,0.15);
		}

		&.is-active{
			opacity: 1;
			pointer-events: all;
		}

		@include breakPoint($breakPoint){
			display: none;
		}

	}
}



.only{
	&-mobile{
		@include breakPoint($breakPoint){
			display: none!important;
		}
	}
	&-desktop{
		@include breakPoint(0, $breakPoint){
			display: none!important;
		}
	}
}

.is-hidden{
	display: none !important;
}

.slick{
	&-slide{

	}

	&-list{

	}

	&-arrow{
		display: none;
		width: 22px;
		height: 22px;
		position: absolute;
		top: 50%;
		margin-top: -12px;
		z-index: 1;
		background: #fff;
		fill: #8c8c8c;
		border: 1px solid #e8e8e8;
		border-radius: 50%;
		overflow: hidden;
		cursor: pointer;

		@include breakPoint($breakPointM){
			width: 44px;
			height: 44px;
			margin-top: -25px;
		}


		@include breakPoint($breakPoint){

			&:hover{
				fill: $colorBlue;
			}
		}

		&_prev{
			left: 0;
		}

		&_next{
			right: 0;
		}

		svg{
			width: 100%;
			height: 100%;
			transform: scale(1.15);
		}

	}


	&-dots{
		font-size: 0;
		left: 0;
		right: 0;
		margin: 10px auto;
		text-align: center;

		@include breakPoint($breakPointM){
			margin: 20px auto;
		}

		li{
			display: inline-block;
			vertical-align: middle;
			margin: 0 10px;

			@include breakPoint($breakPointM){
				margin: 0 20px;
			}
		}

		button{
			display: block;
			border-radius: 50%;
			background: #bebebe;
			transition: all 0.2s ease;
			width: 6px;
			height: 6px;
			margin: 3px;


			@include breakPoint($breakPointM){
				width: 12px;
				height: 12px;
				margin: 5px;
			}

			@include breakPoint($breakPoint){
				width: 7px;
				height: 7px;
				margin: 3px;
			}
		}


		.slick-active{
			button{
				background: $colorBlue;
				width: 11px;
				height: 11px;
				margin: 0;

				@include breakPoint($breakPointM){
					width: 22px;
					height: 22px;
				}

				@include breakPoint($breakPoint){
					width: 13px;
					height: 13px;
				}
			}
		}
	}
}


[data-tab-target]{
	position: absolute;
	z-index: -1;
	pointer-events: none;


	&.is-active{
		position: static;
		z-index: auto;
		pointer-events: all;
	}
}

[data-tab-link]{
	cursor: pointer;
}


nobr{
	white-space: nowrap;
}


.ta-c{
	text-align: center;

	&m{

		@include breakPoint($breakPoint){
			text-align: left;
		}
	}

	&d{
		@include breakPoint(0, $breakPoint){
			text-align: left;
		}
	}
}


.ico-ok,
.ico-wait,
.ico-error{
	width: 18px;
	height: 18px;
	display: inline-block;
	background: no-repeat 50% 50%;
	background-size: contain;
	vertical-align: middle;
	position: relative;
	top: -3px;

	@include breakPoint($breakPointM){
		width: 36px;
		height: 36px;
	}

	@include breakPoint($breakPoint){
		width: 24px;
		height: 24px;
		top: -1px;
	}
}

.ico-ok{
	background-image: url("../img/svg/status_ok.svg");
}

.ico-wait{
	background-image: url("../img/svg/status_wait.svg");
}

.ico-error{
	background-image: url("../img/svg/status_error.svg");
}