.poster{
	position: relative;

	.inner{}

	&__list{}

	&__item{
		min-height: 200px;
		position: relative;

		@include breakPoint($breakPointM){
			min-height: 400px;
		}

		@include breakPoint($breakPoint){
			min-height: 500px;
		}

		&-image{
			background: no-repeat 50% 50%;
			background-size: cover;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&-inner{
			width: 50%;
			padding-top: 30px;
			padding-bottom: 45px;

			@include breakPoint($breakPointM){
				padding-top: 60px;
				padding-bottom: 90px
			}
		}

		&-title{
			@extend %pacificoFont;
			font-size: 29px;
			margin-bottom: 22px;

			@include breakPoint($breakPointM){
				font-size: 58px;
				margin-bottom: 45px;
			}
		}
		&-price{
			font-size: 17px;

			@include breakPoint($breakPointM){
				font-size: 34px;
			}
		}
		&-btn{

		}
	}


	.slick{

		&-arrow{
			fill: $colorBlack;
			border: 0;

			@include breakPoint(0, $breakPoint){
				display: none!important;
			}

			&_prev{
				left: 20px;

				@include breakPoint($breakPointM){
					left: 40px;
				}
			}

			&_next{
				right: 20px;

				@include breakPoint($breakPointM){
					right: 40px;
				}
			}

		}


		&-dots{
			position: absolute;
			bottom: 20px;
			width: 290px;
			left: 0;
			right: 0;
			margin: 0 auto;
			text-align: left;

			@include breakPoint($breakPointM){
				bottom: 40px;
				width: 580px;
			}

			@include breakPoint($breakPoint){
				width: 1140px;
			}

			li{
				margin-left: 0;
				margin-right: 22px;

				@include breakPoint($breakPointM){
					margin-right: 44px;
				}

				@include breakPoint($breakPoint){
					margin-right: 40px;
				}
			}

			button{
				background: $colorBlack;
			}


			.slick-active{
				button{
					background: #fff;
					width: 11px;
					height: 11px;

					@include breakPoint($breakPointM){
						width: 22px;
						height: 22px;
					}

					@include breakPoint($breakPoint){
						width: 13px;
						height: 13px;
					}
				}
			}
		}
	}
}



.conditions{
	background: $colorBlue;
	color: #fff;
	font-size: 0;
	padding: 12px 0;
	box-shadow: inset 0 12px 10px -10px rgba(0,0,0, 0.2);

	@include breakPoint($breakPointM){
		padding: 25px 0;
		box-shadow: inset 0 25px 20px -20px rgba(0,0,0, 0.2);
	}

	@include breakPoint($breakPoint){
		padding: 20px 0;
	}

	.inner{
		@include breakPoint(0, $breakPoint){
			margin: 0;
		}
	}

	&__list{

		@include breakPoint(0, $breakPointM){
			padding: 0 15px;
			white-space: nowrap;

			@include scrollHor;
		}

		@include breakPoint($breakPointM, $breakPoint){
			padding: 0 30px;
			white-space: nowrap;

			@include scrollHor;
		}

	}

	&__item{
		text-align: center;
		display: inline-block;
		vertical-align: top;
		font-size: 12px;
		font-weight: bold;

		@include breakPoint($breakPointM){
			font-size: 24px;
		}


		@include breakPoint(0, $breakPointM){
			margin-left: 50px;

			&:first-child{
				margin-left: 0;
			}
		}

		@include breakPoint($breakPointM, $breakPoint){
			margin-left: 100px;

			&:first-child{
				margin-left: 0;
			}
		}

		@include breakPoint($breakPoint){
			font-size: 14px;
			width: 20%;
		}

		&-ico{
			height: 45px;
			margin-bottom: 3px;

			@include breakPoint($breakPointM){
				height: 90px;
				margin-bottom: 5px;
			}

			@include breakPoint($breakPoint){
				height: 60px;
			}

			img{
				height: 100%;
				display: inline;
			}
		}

		&-text{
		}
	}
}




.picker{


	&__type{
		background: #fff;
		padding: 15px 0 17px;

		@include breakPoint($breakPointM){
			padding: 30px 0 35px;
		}

		@include breakPoint($breakPoint){
			background: transparent;
			padding: 10px 0;
		}

		&-title{
			font-size: 13px;
			font-weight: bold;
			margin-bottom: 17px;

			@include breakPoint($breakPointM){
				font-size: 26px;
				margin-bottom: 35px;
			}

			@include breakPoint($breakPoint){
				display: none;
			}
		}

		&-card{
			background: #fff;
			box-sizing: border-box;
			border: 1px solid #d8d8d8;
			border-radius: 3px;
			height: 100%;
			display: block;
			transition: all 0.3s ease;

			@include breakPoint($breakPointM){
				border: 2px solid #d8d8d8;
				border-radius: 6px;
			}


			label{
				display: block;
			}

			@include breakPoint($breakPoint){
				border-color: transparent;
				border-width: 2px;
			}

			&:hover{
				border-color: $colorBlue;
			}

			&:after{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}
		}

		&-inner{
			display: inline-block;
			vertical-align: middle;
		}

		&-swiper{
			.inner{
				@include breakPoint(0, $breakPoint){
					margin: 0;
				}
			}
		}

		&-list{
			font-size: 0;
			white-space: nowrap;
			text-align: center;


			@include breakPoint(0, $breakPointM){
				margin: 0 -9px;
				padding: 0 15px;
				@include scrollHor;
			}

			@include breakPoint($breakPointM, $breakPoint){
				margin: 0 -18px;
				padding: 0 30px;
				@include scrollHor;
			}

			@include breakPoint($breakPoint){
				margin: 0 -15px;
			}
		}

		&-item{
			text-align: center;
			display: inline-block;
			vertical-align: top;
			padding: 0 9px;
			box-sizing: border-box;
			width: 120px;
			height: 102px;
			position: relative;

			@include breakPoint($breakPointM){
				padding: 0 18px;
				width: 240px;
				height: 204px;
			}

			@include breakPoint($breakPoint){
				padding: 0 15px;
				width: (100% / 6);
				height: 165px;
			}


			input{
				position: absolute;
				opacity: 0;

				&:checked{
					& ~ .picker__type-card{
						border-color: $colorBlue;

						.picker__type-image{
							opacity: 1;
						}
					}
				}
			}
		}

		&-image{
			opacity: 0.7;
			height: 55px;
			margin-bottom: 5px;

			@include breakPoint($breakPointM){
				height: 110px;
				margin-bottom: 10px;
			}

			@include breakPoint($breakPoint){
				height: 90px;
			}

			img{
				height: 100%;
			}
		}

		&-text{
			font-weight: bold;
			font-size: 12px;
			white-space: normal;

			@include breakPoint($breakPointM){
				font-size: 24px;
			}

			@include breakPoint($breakPoint){
				font-size: 14px;
			}
		}
	}



	&__price{
		padding: 0 0 0;

		@include breakPoint($breakPoint){
			padding-top: 30px;
		}

		&-list{
			font-size: 0;
		}

		&-item{
			display: inline-block;
			width: 50%;
			vertical-align: top;
			padding: 2px 0;
			margin-top: 15px;

			@include breakPoint($breakPointM){
				padding: 5px 0;
				margin-top: 30px;
			}

			@include breakPoint($breakPoint){
				width: 25%;
				padding: 0;
				text-align: center;
				margin-top: 0;
			}

			input{
				position: absolute;
				opacity: 0;

				&:checked ~ .picker__price-label{
					&:before{
						border-width: 4px;
						border-color: $colorBlue;

						@include breakPoint($breakPointM){
							border-width: 8px;
						}

						@include breakPoint($breakPoint){
							border-width: 6px;
						}
					}
				}
			}
		}

		&-label{
			position: relative;
			padding-left: 22px;
			font-size: 12px;
			padding-right: 7px;
			text-align: left;

			@include breakPoint($breakPointM){
				padding-left: 45px;
				font-size: 24px;
				padding-right: 15px;
			}

			@include breakPoint($breakPoint){
				font-size: 14px;
				padding-left: 34px;
				display: inline-block;
			}

			&:before{
				content: '';
				width: 15px;
				height: 15px;
				border: 1px solid #c6c6c6;
				box-sizing: border-box;
				border-radius: 50%;
				position: absolute;
				top: -1px;
				left: 0;
				background: #fff;
				transition: all 0.3s ease;

				@include breakPoint($breakPointM){
					width: 30px;
					height: 30px;
					top: -2px;
				}

				@include breakPoint($breakPoint){
					width: 19px;
					height: 19px;
					top: -1px;
				}
			}

			&:hover{
				&:before{
					border-color: $colorBlue;
				}
			}
		}
	}

}


.more{
	text-align: center;
	margin: 25px 0;

	@include breakPoint($breakPointM){
		margin: 50px 0;
	}


	@include breakPoint($breakPoint){
		margin: 40px 0;
	}
}

.card{

	&_carousel{
		white-space: nowrap;
		margin: -6px 0;

		@include breakPoint($breakPointM){
			margin: -13px 0;
		}



		@include breakPoint(0, $breakPointM){
			padding: 0 15px;
			margin: 0 -15px;
			white-space: nowrap;
			@include scrollHor;

			.card__item{
				&:last-child{
					margin-right: 10px;
				}
			}
		}

		@include breakPoint($breakPointM, $breakPoint){
			padding: 0 30px;
			margin: 0 -30px;
			white-space: nowrap;
			@include scrollHor;

			.card__item{
				&:last-child{
					margin-right: 20px;
				}
			}
		}

		.slick{
			&-slide{

			}

			&-list{
				@include breakPoint(0, $breakPoint){
					overflow: visible;
				}
			}

			&-arrow{
				display: none;
				top: 47%;

				@include breakPoint($breakPoint){
					display: block;

				}

				&_prev{
				}

				&_next{
				}

				svg{
				}

			}


			&-dots{
				margin: -5px auto 35px;

				@include breakPoint($breakPointM){
					margin: -10px auto 70px;
				}

				li{
				}

				button{

				}


				.slick-active{
					button{

					}
				}
			}
		}
	}

	&__list{
		font-size: 0;
		margin: -6px;

		@include breakPoint($breakPointM){
			margin: -13px;
		}

		.card_carousel &{

			@include breakPoint($breakPoint){
				margin-bottom: -43px;
			}
		}
	}

	&__item{
		padding: 6px;
		box-sizing: border-box;
		display: inline-block;
		vertical-align: top;
		white-space: normal;
		width: 50%;

		@include breakPoint($breakPointM){
			padding: 13px;
		}

		@include breakPoint($breakPoint){
			width: 25%;

			.catalog__list &{
				width: (100% / 3);
			}
		}

		.card_carousel &{
			@include breakPoint(0, $breakPointM){
				width: 127px !important;
			}
			@include breakPoint($breakPointM, $breakPoint){
				width: 255px !important;
			}

			@include breakPoint($breakPoint){
				margin-bottom: 30px;
			}
		}

		&-inner{
			background: #fff;
			border-radius: 2px;
			@include shadow;
			position: relative;

			@include breakPoint($breakPointM){
				border-radius: 4px;
			}

			.inner_box &{
				border: 1px solid #e6e6e6;
			}

			@include breakPoint($breakPoint){
				border-radius: 6px;

				&:after{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					border: 2px solid $colorBlue;
					border-radius: 6px;
					pointer-events: none;
					opacity: 0;
					transition: opacity 0.3s ease;
				}

				&:hover{
					box-shadow: 0 20px 30px rgba(0,0,0,.1);
					&:after{
						opacity: 1;
					}
				}
			}
		}

		&-image{
			height: 129px;
			background: no-repeat 50% 50%;
			background-size: cover;
			border-radius: 4px 4px 0 0;
			display: block;

			@include breakPoint($breakPointM){
				height: 258px;
				border-radius: 8px 8px 0 0;
			}

			@include breakPoint($breakPoint){
				height: 280px;
				border-radius: 6px 6px 0 0;

				.card_five &{
					height: 107px;
				}

				.card_six &{
					height: 107px;
				}
			}
		}

		&-tags{
			position: absolute;
			top: 8px;
			left: 9px;
			right: 4px;

			@include breakPoint($breakPointM){
				top: 16px;
				left: 19px;
				right: 9px;
			}

			@include breakPoint($breakPoint){
				top: 20px;
				left: 20px;
			}


			&-item{
				font-size: 6px;
				font-weight: bold;
				display: inline-block;
				height: 14px;
				line-height: 14px;
				padding: 0 7px;
				color: #fff;
				background: gray;
				margin: 0 5px 5px 0;
				border-radius: 15px;
				text-transform: uppercase;

				@include breakPoint($breakPointM){
					font-size: 12px;
					height: 28px;
					line-height: 28px;
					padding: 0 15px;
					margin: 0 10px 10px 0;
					border-radius: 30px;
				}

				@include breakPoint($breakPoint){
					margin: 0 8px 8px 0;
					height: 23px;
					line-height: 23px;
					font-size: 10px;
					padding: 0 13px;
				}


				&_blue{
					background: $colorBlueLight;
				}
				&_red{
					background: $colorRed;
				}
				&_green{
					background: $colorGreen;
				}
			}
		}

		&-info{
			padding: 7px 10px 10px;

			@include breakPoint($breakPointM){
				padding: 15px 20px 20px;
			}
		}

		&-title{
			display: block;
			font-size: 13px;
			font-weight: bold;
			text-transform: uppercase;
			overflow: hidden;
			text-overflow: ellipsis;
			max-height: 32px;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			margin-bottom: 12px;

			@include breakPoint($breakPointM){
				font-size: 26px;
				max-height: 65px;
				margin-bottom: 25px;
			}

			@include breakPoint($breakPoint){
				font-size: 18px;
				margin-bottom: 15px;
				max-height: 42px;
			}
		}

		&-text{
			display: block;
			font-size: 12px;
			line-height: 1.5;
			overflow: hidden;
			text-overflow: ellipsis;
			max-height: 55px;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			margin-bottom: 12px;

			@include breakPoint($breakPointM){
				font-size: 24px;
				max-height: 110px;
				margin-bottom: 25px;
			}

			@include breakPoint($breakPoint){
				font-size: 14px;
				margin-bottom: 15px;
				max-height: 63px;
			}
		}

		&-date{
			font-size: 9px;
			color: $colorGrey;

			@include breakPoint($breakPointM){
				font-size: 18px;
			}

			@include breakPoint($breakPoint){
				font-size: 12px;
			}
		}

		&-name{
			font-size: 9px;
			overflow: hidden;
			text-overflow: ellipsis;
			height: 32px;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			margin-bottom: 5px;

			@include breakPoint($breakPointM){
				font-size: 18px;
				height: 65px;
				margin-bottom: 10px;
			}

			@include breakPoint($breakPoint){
				font-size: 14px;
				-webkit-line-clamp: 2;
				height: 35px;

				&:hover{
					color: $colorBlue;
				}
			}
		}

		&-control{
			//position: relative;
		}

		&-price{
			margin-bottom: 5px;
			height: 23px;

			@include breakPoint($breakPointM){
				margin-bottom: 10px;
				height: 47px;
			}

			@include breakPoint($breakPoint){
				margin-bottom: 0;
				height: 38px;
			}

			&-actual{
				font-size: 12px;
				font-weight: bold;

				@include breakPoint($breakPointM){
					font-size: 24px;
				}


				@include breakPoint($breakPoint){
					font-size: 16px;
					margin-bottom: 5px;
				}
			}
			&-old{
				font-size: 8px;
				color: #767676;
				position: relative;
				display: inline-block;
				padding: 0 3px;

				@include breakPoint($breakPointM){
					font-size: 16px;
					padding: 0 5px;
				}

				@include breakPoint($breakPoint){
					font-size: 12px;
				}

				&:before{
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					height: 1px;
					left: 0;
					right: 0;
					background: #767676;
				}
			}
		}

		&-favorite{
			width: 20px;
			height: 17px;
			position: absolute;
			right: 8px;
			bottom: 43px;
			cursor: pointer;

			@include breakPoint($breakPointM){
				width: 40px;
				height: 34px;
				right: 17px;
				bottom: 85px;
			}

			@include breakPoint($breakPoint){
				width: 21px;
				height: 17px;
				right: 78px;
				bottom: 32px;

				.card_five &{
					display: none;
				}

				.card_six &{
					display: none;
				}
			}

			svg{
				width: 100%;
				height: 100%;
			}

			path{
				fill: transparent;
				stroke-width: 3;
				stroke: $colorBlack;
			}

			&:hover{
				path{
					stroke: $colorBlue;
				}
			}

			&.is-active{
				path{
					fill: $colorBlue;
					stroke: $colorBlue;
				}
			}
		}

		&-cart{
			font-size: 9px;
			font-weight: bold;
			color: $colorBlue;
			border: 1px solid $colorBlue;
			height: 23px;
			text-align: center;
			border-radius: 15px;
			line-height: 20px;
			text-transform: uppercase;
			box-sizing: border-box;
			cursor: pointer;
			transition: all 0.3s ease;

			@include breakPoint($breakPointM){
				font-size: 18px;
				border: 2px solid $colorBlue;
				height: 46px;
				border-radius: 30px;
				line-height: 40px;
			}

			&:hover{
				color: $colorBlueLight;
				border-color: $colorBlueLight;
			}

			@include breakPoint($breakPoint){
				font-size: 0;
				width: 43px;
				height: 43px;
				border: 1px solid #e9e9e9;
				position: absolute;
				bottom: 21px;
				right: 12px;

				&:hover{
					color: #fff;
					background: $colorBlue;
					border-color: $colorBlue;
				}
			}

			svg{
				display: none;
				width: 100%;
				height: 100%;
				fill: currentColor;
				transition: fill 0.3s ease;

				@include breakPoint($breakPoint){
					display: block;
				}
			}
		}
	}


	&_news{
		.card__item{
			width: 100%;

			@include breakPoint($breakPoint){
				width: (100% / 3);
			}

			&-inner{
				border-radius: 4px;

				@include breakPoint($breakPointM){
					border-radius: 8px;
				}
			}

			&-image{
				height: 185px;
				border-radius: 4px 4px 0 0;

				@include breakPoint($breakPointM){
					height: 370px;
					border-radius: 8px 8px 0 0;
				}

				@include breakPoint($breakPoint){
					height: 220px;
				}
			}

			&-info{
				padding: 15px 22px;

				@include breakPoint($breakPointM){
					padding: 30px 45px;
				}

				@include breakPoint($breakPoint){
					padding: 30px;
					height: 210px;
					box-sizing: border-box;
				}
			}

			&-title{
			}

			&-text{
			}
		}
	}
}




.delivery{
	background: #fff;
	padding: 25px 0;

	@include breakPoint($breakPointM){
		padding: 50px 0;
	}

	.inner{
		@include breakPoint(0, $breakPoint){
			margin: 0;
		}
	}

	.title{
		margin-top: 0;

		@include breakPoint($breakPoint){
			& > * {

				background: #fff;
			}
		}
	}

	&__list{
		white-space: nowrap;

		@include breakPoint(0, $breakPointM){
			padding: 0 15px;
			@include scrollHor;
		}

		@include breakPoint($breakPointM, $breakPoint){
			padding: 0 30px;
			@include scrollHor;
		}
	}

	&__item{
		display: inline-block;
		vertical-align: top;
		width: 145px;
		box-sizing: border-box;
		padding-right: 15px;
		white-space: normal;

		@include breakPoint($breakPointM){
			width: 290px;
			padding-right: 30px;
		}


		&-ico{
			width: 53px;
			height: 53px;
			margin-left: 16px;

			@include breakPoint($breakPointM){
				width: 106px;
				height: 106px;
				margin-left: 35px;
			}

			@include breakPoint($breakPoint){
				margin-left: 25px;
			}


			img{
				width: 100%;
			}
		}

		&-num{
			font-size: 12px;
			font-weight: bold;
			color: $colorBlue;
			margin-bottom: 15px;

			@include breakPoint($breakPointM){
				font-size: 24px;
				margin-bottom: 30px;
			}

			@include breakPoint($breakPoint){
				font-size: 20px;
			}
		}

		&-text{
			font-size: 12px;

			@include breakPoint($breakPointM){
				font-size: 24px;
			}

			@include breakPoint($breakPoint){
				font-size: 16px;
				line-height: 1.5;
			}
		}
	}
}



.feedback{
	margin-bottom: 25px;

	@include breakPoint($breakPointM){
		margin-bottom: 50px;
	}

	&__slider{
		text-align: center;
		margin-bottom: 22px;

		@include breakPoint($breakPointM){
			margin-bottom: 45px;
		}

		@include breakPoint($breakPoint){
			margin-bottom: 0;
		}
	}

	&__slide{
		&-inner{
			border-radius: 10px;
			background: #fff;
			padding: 57px 20px 22px;
			position: relative;
			max-width: 472px;
			box-sizing: border-box;
			margin: 0 auto;

			@include breakPoint($breakPointM){
				border-radius: 20px;
				padding: 115px 40px 45px;
				max-width: 945px;
			}

			@include breakPoint($breakPoint){
				border-radius: 6px;
				padding: 125px 97px 45px;
				@include shadow;
				margin-bottom: 35px;
			}

			&:before{
				content: '';
				width: 33px;
				height: 26px;
				display: block;
				position: absolute;
				top: 20px;
				left: 50%;
				margin-left: -16px;
				background: url("../img/svg/quotes.svg") no-repeat 50% 50%;
				background-size: contain;

				@include breakPoint($breakPointM){
					width: 67px;
					height: 53px;
					top: 40px;
					margin-left: -33px;
				}

				@include breakPoint($breakPoint){
					top: 50px;
					width: 55px;
					height: 43px;
				}
			}
		}
		&-text{
			font-size: 12px;
			margin-bottom: 15px;

			@include breakPoint($breakPointM){
				font-size: 24px;
				margin-bottom: 30px;
			}

			@include breakPoint($breakPoint){
				font-size: 16px;
				margin-bottom: 45px;
			}
		}
		&-author{
			font-size: 12px;
			font-weight: bold;
			margin-bottom: 3px;

			@include breakPoint($breakPointM){
				font-size: 24px;
				margin-bottom: 5px;
			}

			@include breakPoint($breakPoint){
				font-size: 18px;
			}
		}
		&-date{
			font-size: 9px;
			color: #939393;

			@include breakPoint($breakPointM){
				font-size: 18px;
			}

			@include breakPoint($breakPoint){
				font-size: 14px;
			}
		}
	}

	.slick{

		&-arrow{
			display: none;
			margin-top: -22px;

			@include breakPoint($breakPointM){
				margin-top: -44px;
			}

			@include breakPoint($breakPoint){
				display: block;
			}

			&_prev{

			}

			&_next{

			}

			svg{

			}

		}


		&-dots{

			button{
				background: #bebebe;
			}


			.slick-active{
				button{
					background: $colorBlack;
				}
			}
		}
	}


	&__collect{
		@include shadow;
		margin-bottom: 30px;

		@include breakPoint($breakPointM){
			margin-bottom: 60px;
		}

		@include breakPoint($breakPoint){
			margin-bottom: 25px;
			padding-bottom: 60px;
		}

		&-head{
			padding: 20px 20px 17px;

			@include breakPoint($breakPointM){
				padding: 40px 40px 35px;
			}

			@include breakPoint($breakPoint){
				padding: 25px 98px;
			}
		}

		&-title{
			font-size: 12px;
			margin-bottom: 15px;

			@include breakPoint($breakPointM){
				font-size: 24px;
				margin-bottom: 30px;
			}

			@include breakPoint($breakPoint){
				font-size: 18px;
				display: inline-block;
				vertical-align: middle;
				margin-bottom: 0;
				margin-right: 50px;
			}

			b{
				color: $colorBlue;
			}
		}

		&-text{

		}

		&-btn{

			@include breakPoint($breakPoint){
				display: inline-block;
				vertical-align: middle;
			}
		}

		&-list{

		}

		.more{

			@include breakPoint(0, $breakPointM){
				margin: -35px 0 85px;
				position: relative;
				top: 66px;
			}

			@include breakPoint($breakPointM, $breakPoint){
				margin: -70px 0 170px;
				position: relative;
				top: 112px;
			}

			@include breakPoint($breakPoint){
				margin: 0;
				padding: 0 10px;
			}
		}
	}

	&__text{
		padding: 20px;
		@include shadow;
		margin-bottom: 30px;

		@include breakPoint($breakPointM){
			padding: 40px;
			margin-bottom: 60px;
		}

		@include breakPoint($breakPoint){
			margin-bottom: 25px;
			padding: 40px 292px;
		}

		p{
			margin-bottom: 10px;
			font-size: 12px;
			line-height: 1.25;

			@include breakPoint($breakPointM){
				margin-bottom: 20px;
				font-size: 24px;
			}

			@include breakPoint($breakPoint){
				font-size: 14px;
			}
		}


		&-btn{
			margin-top: 20px;
			text-align: center;

			@include breakPoint($breakPointM){
				margin-top: 40px;
			}

			@include breakPoint($breakPoint){
				margin-top: 20px;
			}
		}
	}

	&__item{
		padding: 25px 20px;
		border-top: 1px solid #e7e7e7;
		position: relative;

		@include breakPoint($breakPointM){
			padding: 50px 40px;
		}

		@include breakPoint($breakPoint){
			padding: 40px 98px 30px;
		}

		a{
			color: $colorBlue;

			&:hover{
				color: $colorBlueLight;
			}
		}

		&-author{
			font-size: 12px;
			font-weight: bold;
			margin-bottom: 5px;

			@include breakPoint($breakPointM){
				font-size: 24px;
				margin-bottom: 10px;
			}

			@include breakPoint($breakPoint){
				font-size: 18px;
				margin-left: 135px;
			}
		}

		&-date{
			font-size: 9px;
			color: #a2a2a2;
			margin-bottom: 5px;

			@include breakPoint($breakPointM){
				font-size: 18px;
				margin-bottom: 10px;
			}

			@include breakPoint($breakPoint){
				font-size: 14px;
				position: absolute;
				top: 40px;
				right: 98px;
			}
		}

		&-rate{
			font-size: 12px;
			font-weight: bold;

			@include breakPoint($breakPointM){
				font-size: 24px;
			}

			@include breakPoint($breakPoint){
				font-size: 18px;
				margin-left: 135px;
			}

			&-vol{
				display: inline-block;
				vertical-align: middle;
				margin-right: 3px;
				line-height: 1;

				@include breakPoint($breakPointM){
					margin-right: 5px;
				}
			}

			&-stars{
				display: inline-block;
				vertical-align: middle;

				height: 10px;
				width: 62px;
				background: url("../../img/svg/rate_star.svg") repeat-x 0 50%;
				background-size: auto 100%;
				position: relative;

				@include breakPoint($breakPointM){
					height: 21px;
					width: (5 * 25px);
				}

				@include breakPoint($breakPoint){
					height: 15px;
					width: (5 * 18px);
					margin-bottom: 2px;
				}

				&:before{
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					background: url("../../img/svg/rate_star_color.svg") repeat-x 0 50%;
					background-size: auto 100%;
				}

				&_1{
					&:before{
						width: 20%;
					}
				}

				&_2{
					&:before{
						width: 40%;
					}
				}

				&_3{
					&:before{
						width: 60%;
					}
				}

				&_4{
					&:before{
						width: 80%;
					}
				}

				&_5{
					&:before{
						width: 100%;
					}
				}
			}
		}


		&-content{
			font-size: 12px;
			line-height: 1.25;

			@include breakPoint($breakPointM){
				font-size: 24px;
			}

			@include breakPoint($breakPoint){
				font-size: 14px;
			}
		}

		&-stat{
			@include breakPoint($breakPoint){
				display: table;
				width: 100%;
			}
		}

		&-title{
			color: #8b8b8b;
			margin-top: 15px;

			@include breakPoint($breakPointM){
				margin-top: 30px;
			}

			@include breakPoint($breakPoint){
				color: $colorBlack;
				font-weight: bold;
				display: table-cell;
				width: 135px;
				padding-top: 20px;
			}
		}

		&-text{

			@include breakPoint($breakPoint){
				display: table-cell;
				padding-top: 20px;
			}
		}

		&-more{
			@include breakPoint($breakPoint){
				margin-left: 135px;
				margin-top: 8px;
			}
		}

		&-hide{
			display: none;
		}
	}

	&__form{
		@include shadow;
		padding: 20px;

		@include breakPoint($breakPointM){
			padding: 40px;
		}

		@include breakPoint($breakPoint){
			padding: 40px 292px;
		}

		&-title{
			font-size: 26px;
			font-weight: bold;
			text-align: center;
			margin-bottom: 30px;
			text-transform: uppercase;

			@include breakPoint($breakPoint){
				font-size: 18px;
				text-align: left;
				margin-bottom: 25px;
			}
		}
	}
}


.deliverinfo{
	font-size: 11px;
	text-align: center;
	margin: 25px 0;

	@include breakPoint($breakPointM){
		font-size: 22px;
		margin: 50px 0;
	}

	&__title{
		font-weight: bold;
		margin-bottom: 10px;

		@include breakPoint($breakPointM){
			margin-bottom: 20px;
		}

		@include breakPoint($breakPoint){
			font-size: 18px;
			margin-bottom: 30px;
		}
	}
	&__text{
		color: #555;
		line-height: 1.5;

		@include breakPoint($breakPoint){
			font-size: 16px;
		}
	}
}




.wrong{

	text-align: center;

	.inner{
		margin: 17px auto 35px;

		@include breakPoint($breakPointM){
			margin: 35px auto 71px;
		}
	}

	&__image{
		margin: 0 -15px;
		text-align: center;
		font-size: 0;
		margin-bottom: 16px;

		@include breakPoint($breakPointM){
			margin: 0 -30px;
			margin-bottom: 35px;
		}

		img{
			width: 307px;
			height: 130px;

			@include breakPoint($breakPointM){
				width: 615px;
				height: 261px;
			}
		}
	}

	&__title{
		font-size: 15px;
		font-weight: bold;
		margin-bottom: 20px;

		@include breakPoint($breakPointM){
			font-size: 30px;
			margin-bottom: 20px;
		}

		@include breakPoint($breakPoint){
			font-size: 24px;
		}
	}

	&__text{
		font-size: 12px;
		line-height: 1.5;

		@include breakPoint($breakPointM){
			font-size: 24px;
		}

		@include breakPoint($breakPoint){
			font-size: 16px;

		}
	}
	&__btn{
		margin: 20px 0 25px;

		@include breakPoint($breakPointM){
			margin: 40px 0 50px;
		}
	}

	&__menu{
		margin: 0 -15px;

		@include breakPoint($breakPointM){
			margin: 0 -30px;
		}

		@include breakPoint($breakPoint){
			margin: 0;
		}

		&-title{
			font-size: 12px;
			font-weight: bold;
			margin-bottom: 5px;
			padding: 0 15px;

			@include breakPoint($breakPointM){
				font-size: 24px;
				margin-bottom: 10px;
				padding: 0 30px;
			}

			@include breakPoint($breakPoint){
				font-size: 16px;
			}
		}
	}



	.picker{
		&__type{

			&-item{

				@include breakPoint($breakPoint){
					height: 119px;
				}

			}

			&-image{
				@include breakPoint($breakPoint){
					height: 65px;
					margin-bottom: 5px;
				}
			}

			&-card{
				position: relative;

				@include breakPoint($breakPoint){
					border: 1px solid #e0e0e0;
					transition: border 0.3s ease;
					@include shadow;

					&:before{
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						border: 2px solid $colorBlue;
						border-radius: 6px;
						pointer-events: none;
						opacity: 0;
						transition: opacity 0.3s ease;
					}

					&:hover{
						box-shadow: 0 20px 30px rgba(0,0,0,.1);
						&:before{
							opacity: 1;
						}
					}
				}
			}
		}
	}
}


.about{

	&__title{
		font-size: 12px;
		line-height: 1.5;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 15px;

		@include breakPoint($breakPointM){
			font-size: 24px;
			margin-bottom: 30px;
		}

		@include breakPoint($breakPoint){
			font-size: 18px;
			margin-right: 10%;
		}

		span{
			color: $colorBlue;
		}
	}

	&__text{
		font-size: 12px;
		line-height: 1.5;

		@include breakPoint($breakPointM){
			font-size: 24px;
		}

		@include breakPoint($breakPoint){
			font-size: 16px;
			box-sizing: border-box;
			width: 50%;

			&_left{
				float: left;
				padding-right: 15px;
			}

			&_right{
				float: right;
				padding-left: 15px;
			}
		}

		p{
			margin: 15px 0;

			@include breakPoint($breakPointM){
				margin: 30px 0;
			}

			@include breakPoint($breakPoint){
				margin: 0 0 25px 0;

				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}


	&__bouquet{
		position: absolute;

		background: url("../../img/about_bouquet.jpg") no-repeat 0 0;
		background-size: 100% auto ;
		width: 280px;
		height: 145px;
		left: 50%;
		margin-left: -73px;
		top: -145px;

		@include breakPoint($breakPointM){
			width: 561px;
			height: 290px;
			margin-left: -145px;
			top: -290px;
		}

		@include breakPoint($breakPoint){
			width: auto;
			height: 790px;
			margin-left: 0;
			top: -285px;
			right: 0;
			background-size: auto 100%;
		}
	}

	&__conditions{
		position: relative;

		@include breakPoint($breakPoint){

		}

		&-inner{
			background: $colorBlue;
			color: #fff;
			font-size: 0;
			margin-top: 160px;
			margin-bottom: 25px;
			position: relative;

			@include breakPoint($breakPointM){
				margin-top: 320px;
				margin-bottom: 50px;
			}

			@include breakPoint($breakPoint){
				margin-top: 45px;
				margin-bottom: 65px;
			}
		}

		&-list{

			@include breakPoint(0, $breakPointM){
				white-space: nowrap;
				padding: 30px 7px;
				@include scrollHor;
			}

			@include breakPoint($breakPointM, $breakPoint){
				white-space: nowrap;
				padding: 60px 15px;
				@include scrollHor;
			}

			@include breakPoint($breakPoint){
				padding: 38px 82px;
			}


		}

		&-item{
			white-space: normal;
			width: 132px;
			text-align: center;
			box-sizing: border-box;
			padding: 0 7px;
			display: inline-block;
			vertical-align: top;

			@include breakPoint($breakPointM){
				width: 265px;
				padding: 0 15px;
			}

			@include breakPoint($breakPoint){
				width: 20%;
			}
		}
		&-ico{
			margin-bottom: 12px;

			@include breakPoint($breakPointM){
				margin-bottom: 25px;
			}

			@include breakPoint($breakPoint){
				margin-bottom: 15px;
			}

			img{
				width: 82px;
				height: 82px;

				@include breakPoint($breakPointM){
					width: 165px;
					height: 165px;
				}

				@include breakPoint($breakPoint){
					width: 107px;
					height: 107px;
				}
			}
		}

		&-title{
			font-size: 11px;
			font-weight: bold;
			margin-bottom: 7px;
			line-height: 1.5;

			@include breakPoint($breakPointM){
				font-size: 22px;
				margin-bottom: 15px;
			}

			@include breakPoint($breakPoint){
				font-size: 16px;
				margin-bottom: 5px;
			}
		}
		&-text{
			font-size: 11px;
			line-height: 1.5;

			@include breakPoint($breakPointM){
				font-size: 22px;
			}

			@include breakPoint($breakPoint){
				font-size: 14px;
				line-height: 1.42;
			}
		}
	}


	&__logo{
		text-align: center;

		@include breakPoint($breakPoint){
			text-align: left;
			margin-top: 40px;
		}

		img{
			width: 355px;
			height: 355px;

			@include breakPoint($breakPoint){
				width: 385px;
				height: 385px;
			}
		}
	}
}






.article{
	&__image{
		margin: 25px -15px;

		@include breakPoint($breakPointM){
			margin: 50px -30px;
		}

		@include breakPoint($breakPoint){
			margin: 50px  -15px;
		}

		&:first-child{
			margin-top: -60px;

			@include breakPoint($breakPoint){
				margin-top: 15px;
			}
		}


		picture, img{
			width: 100%;
		}
	}

	&__date{
		font-size: 9px;
		color: #838383;
		margin-bottom: 12px;

		@include breakPoint($breakPointM){
			font-size: 18px;
			margin-bottom: 25px;
		}


		@include breakPoint($breakPoint){
			font-size: 12px;
		}
	}

	&__text{
		font-size: 12px;
		line-height: 1.5;

		@include breakPoint($breakPointM){
			font-size: 24px;
		}


		@include breakPoint($breakPoint){
			font-size: 16px;
		}

		p{
			margin: 15px 0;

			@include breakPoint($breakPointM){
				margin: 30px 0;
			}

			@include breakPoint($breakPoint){
				margin: 25px 0;

			}
		}

		ul{

		}

		li{
			position: relative;
			padding-left: 22px;
			margin: 15px 0 20px;

			@include breakPoint($breakPointM){
				padding-left: 45px;
				position: relative;
				margin: 30px 0 40px;
			}

			@include breakPoint($breakPoint){
				padding-left: 40px;
				margin: 25px 0;
			}

			&:before{
				content: '';
				position: absolute;
				display: inline-block;
				border-radius: 50%;
				background: $colorBlack;
				width: 4px;
				height: 4px;
				top: 6px;
				left: 0;

				@include breakPoint($breakPointM){
					width: 9px;
					height: 9px;
					top: 13px;
				}

				@include breakPoint($breakPoint){
					width: 7px;
					height: 7px;
					top: 8px;
				}
			}
		}


		table{

		}

		tr{}

		td{
			padding: 0 0 5px 30px;

			@include breakPoint($breakPointM){
				padding: 0 0 10px 60px;
			}


			@include breakPoint($breakPoint){
				padding-left: 30px;
			}


			&:first-child{
				padding-left: 0;
				min-width: 165px;
			}
		}

		a{
			color: $colorBlue;
		}
	}


	&__title{
		font-size: 12px;
		line-height: 1.5;
		font-weight: 600;
		margin: 15px 0;

		@include breakPoint($breakPointM){
			font-size: 24px;
			margin: 30px 0;
		}

		@include breakPoint($breakPoint){
			font-size: 16px;
			margin: 50px 0 30px;
		}

		&:first-child{
			margin-top: 0;
		}
	}


	&__share{
		text-align: center;
		margin-top: 32px;
		margin-bottom: 22px;

		@include breakPoint($breakPointM){
			margin-top: 65px;
			margin-bottom: 45px;
		}

		@include breakPoint($breakPoint){
			text-align: left;
		}

		&-title{
			font-size: 12px;
			font-weight: 600;
			margin-bottom: 17px;

			@include breakPoint($breakPointM){
				font-size: 24px;
				margin-bottom: 35px;
			}

			@include breakPoint($breakPoint){
				font-size: 16px;
				margin: 0 20px 0 0;
				display: inline-block;
				vertical-align: middle;
			}
		}

		&-list{

			@include breakPoint($breakPoint){
				display: inline-block;
				vertical-align: middle;
			}
		}

		&-item{
			display: inline-block;
			vertical-align: middle;
			width: 35px;
			height: 35px;
			border: 1px solid #d1d1d1;
			border-radius: 50%;
			margin-left: 16px;
			position: relative;
			cursor: pointer;
			transition: all 0.2s ease;

			@include breakPoint($breakPointM){
				width: 70px;
				height: 70px;
				margin-left: 33px;
			}

			@include breakPoint($breakPoint){
				width: 40px;
				height: 40px;
				margin-left: 20px;
			}

			&:hover{
				background: $colorBlue;
				border-color: $colorBlue;

				svg{
					fill: #fff;
				}
			}

			&:first-child{
				margin-left: 0;
			}

			svg{
				fill: $colorBlue;
				width: 50%;
				height: 50%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: fill 0.2s ease;
			}
		}
	}

	&__padding{

		@include breakPoint($breakPoint){
			margin-left: auto;
			margin-right: auto;
			width: 750px;
		}
	}

	&__swipe{
		font-size: 0;

		@include breakPoint(0, $breakPointM){
			margin: 0 -15px;
			padding: 0 7px;
			white-space: nowrap;
			@include scrollHor;
		}

		@include breakPoint($breakPointM, $breakPoint){
			margin: 0 -30px;
			padding: 0 15px;
			white-space: nowrap;
			@include scrollHor;
		}

		@include breakPoint($breakPoint){
			margin: 0 -35px;
		}

		&-item{
			text-align: center;
			width: 137px;
			box-sizing: border-box;
			white-space: normal;
			padding: 0 7px;
			display: inline-block;
			vertical-align: top;

			@include breakPoint($breakPointM){
				width: 275px;
				padding: 0 15px;
			}


			@include breakPoint($breakPoint){
				width: calc(100% / 3);
				margin: 25px 0;
				padding: 0 45px;
			}
		}

		&-image{
			height: 83px;
			width: 83px;
			margin: 0 auto 10px;

			@include breakPoint($breakPointM){
				height: 166px;
				width: 166px;
				margin: 0 auto 20px;
			}

			@include breakPoint($breakPoint){
				height: 108px;
				width: 108px;
			}

			img{
				width: 100%;
			}
		}

		&-text{
			font-size: 11px;
			line-height: 1.35;

			@include breakPoint($breakPointM){
				font-size: 22px;
			}

			@include breakPoint($breakPoint){
				font-size: 16px;
			}
		}
	}


	&__payment{

		&-list{
			font-size: 0;

			@include breakPoint($breakPoint){
				margin: 0 -15px;
			}
		}

		&-item{
			margin-bottom: 15px;
			white-space: nowrap;

			@include breakPoint($breakPointM){
				margin-bottom: 30px;
			}

			@include breakPoint($breakPoint){
				display: inline-block;
				vertical-align: top;
				box-sizing: border-box;
				width: 50%;
				padding: 0 15px;
				margin-bottom: 50px;
			}
		}

		&-ico{
			width: 83px;
			height: 83px;
			display: inline-block;
			margin-right: 17px;
			vertical-align: middle;

			@include breakPoint($breakPointM){
				width: 166px;
				height: 166px;
				margin-right: 35px;
			}

			@include breakPoint($breakPoint){
				width: 106px;
				height: 106px;
				margin-right: 28px;
			}

			img{
				width: 100%;
				height: 100%;
			}
		}
		&-text{
			font-size: 12px;
			display: inline-block;
			white-space: normal;
			vertical-align: middle;
			width: calc(100% - 100px);

			@include breakPoint($breakPointM){
				font-size: 24px;
				width: calc(100% - 200px);
			}

			@include breakPoint($breakPoint){
				font-size: 16px;
				width: calc(100% - 135px);
			}
		}
	}
}


.cart{

	.inner{
		@include clearfix();
	}

	&__main{
		margin-bottom: 11px;

		@include breakPoint($breakPointM){
			margin-bottom: 23px;
		}

		@include breakPoint($breakPoint){
			width: 750px;
			float: left;
		}
	}

	&__aside{

		@include breakPoint($breakPoint){
			margin-left: 780px;
		}
	}



	&__product{

		&-item{
			margin-bottom: 5px;

			@include breakPoint($breakPointM){
				margin-bottom: 10px;
			}

			@include breakPoint($breakPoint){
				margin-bottom: 16px;
			}
		}

		&-inner{
			@include shadow;
			border-radius: 4px;
			position: relative;

			@include breakPoint($breakPointM){
				border-radius: 8px;
			}

			@include breakPoint(0, $breakPointM ){
				padding: 11px 13px 10px;
				@include clearfix();
			}

			@include breakPoint($breakPointM, $breakPoint ){
				padding: 23px 27px 20px;
				@include clearfix();
			}

			@include breakPoint($breakPoint){
				display: flex;
				align-items: center;
				//justify-content: space-between;
			}
		}

		&-image{
			display: block;
			width: 55px;
			height: 55px;
			background: no-repeat 50% 50%;
			background-size: cover;

			@include breakPoint($breakPointM){
				width: 110px;
				height: 110px;
			}

			@include breakPoint(0, $breakPoint ){
				border-radius: 6px;
				float: left;
			}

			@include breakPoint($breakPoint){
				width: 131px;
				height: 126px;
				min-width: 131px;

				border-radius: 8px 0 0 8px;
			}
		}



		&-title{
			font-size: 11px;

			@include breakPoint($breakPointM){
				font-size: 22px;
			}

			@include breakPoint(0, $breakPointM ){
				margin-bottom: 25px;
				margin-left: 70px;
				margin-right: 20px;
			}

			@include breakPoint($breakPointM, $breakPoint ){
				margin-bottom: 50px;
				margin-left: 140px;
				margin-right: 40px;
			}

			@include breakPoint($breakPoint){
				font-size: 14px;
				padding-left: 30px;
				margin-right: auto;
				max-width: calc(100% - 490px);
			}
		}

		&-counter{
			white-space: nowrap;
			user-select: none;

			@include breakPoint(0, $breakPointM ){
				margin-left: 70px;
				position: absolute;
				bottom: 11px;
				cursor: pointer;

				&.is-open{
					.cart__product-counter-list {
						opacity: 1;
						pointer-events: all;
					}

					.cart__product-counter-dim {
						&:after{
							transform: rotate(-90deg);
						}
					}
				}
			}

			@include breakPoint($breakPointM, $breakPoint ){
				margin-left: 140px;
				position: absolute;
				bottom: 22px;
				cursor: pointer;

				&.is-open{
					.cart__product-counter-list {
						opacity: 1;
						pointer-events: all;
					}

					.cart__product-counter-dim {
						&:after{
							transform: rotate(-90deg);
						}
					}
				}
			}

			@include breakPoint($breakPoint){
				border: 1px solid #e3e3e3;
				border-radius: 100px;
				text-align: center;
			}



			&-value{
				display: inline-block;
				vertical-align: middle;
				font-size: 13px;

				@include breakPoint($breakPointM){
					font-size: 26px;
				}

				@include breakPoint($breakPoint){
					font-size: 18px;
					height: 43px;
					line-height: 43px;
					min-width: 43px;
				}
			}

			&-dim{
				vertical-align: middle;
				display: inline-block;
				font-size: 13px;
				position: relative;

				@include breakPoint($breakPointM){
					font-size: 26px;
				}

				&:after{
					content: '';
					width: 31px;
					height: 31px;
					background: url("../../img/svg/ico-next.svg") no-repeat 50% 50%;
					background-size: 90%;
					position: absolute;
					top: 50%;
					right: -30px;
					margin-top: -16px;
					transform: rotate(90deg);
					transition: all 0.2s ease;

					@include breakPoint($breakPointM){
						width: 63px;
						height: 63px;
						right: -60px;
						margin-top: -32px;
					}
				}


				@include breakPoint($breakPoint){
					display: none;
				}
			}

			&-list{
				position: absolute;
				font-size: 13px;
				top: 100%;
				left: 0;
				z-index: 1;
				background: #fff;
				padding: 5px 0 5px 5px;
				box-shadow: 0 1px 3px rgba(0,0,0,.5);
				border-radius: 3px;
				max-height: 100px;
				overflow: auto;
				opacity: 0;
				pointer-events: none;
				transition: all 0.3s ease;

				@include breakPoint($breakPointM){
					font-size: 26px;
					padding: 10px 0 10px 10px;
					border-radius: 6px;
					max-height: 200px;
				}

				@include breakPoint($breakPoint){
					display: none;
				}
			}

			&-item{
				cursor: pointer;

				&.is-active{
					color: $colorBlue;
				}
			}

			&-btn{
				vertical-align: middle;
				display: none;
				width: 18px;
				position: relative;
				height: 21px;
				cursor: pointer;

				@include breakPoint($breakPointM){
					width: 36px;
					height: 43px;
				}

				&:hover{
					&:before,
					&:after{
						background: $colorBlue;
					}
				}

				@include breakPoint($breakPoint){
					display: inline-block;
				}

				&:before,
				&:after{
					content: '';
					display: block;
					background: $colorBlack;
					position: absolute;
					height: 1px;
					width: 6px;
					top: 50%;
					left: 50%;
					margin-top: -1px;
					margin-left: 3px;

					@include breakPoint($breakPointM){
						height: 2px;
						width: 12px;
						margin-left: 6px;
					}
				}

				&_less{
					&:after{
						display: none;
					}
				}

				&_more{
					&:before,
					&:after{
						margin-left: -9px;

						@include breakPoint($breakPointM){
							margin-left: -18px;
						}
					}
					&:after{
						transform: rotate(90deg);
					}
				}
			}
		}

		&-price{

			@include breakPoint(0, $breakPointM ){
				position: absolute;
				right: 45px;
				bottom: 11px;
			}

			@include breakPoint($breakPointM, $breakPoint ){
				position: absolute;
				right: 90px;
				bottom: 22px;
			}

			@include breakPoint($breakPoint){
				padding-left: 30px;
				min-width: 65px;
				text-align: right;
			}

			&-actual{
				font-size: 12px;
				font-weight: bold;
				white-space: nowrap;

				@include breakPoint($breakPointM){
					font-size: 24px;
				}

				@include breakPoint($breakPoint){
					font-size: 16px;
				}
			}

			&-calc{
				font-size: 6px;
				color: #646464;
				white-space: nowrap;

				@include breakPoint($breakPointM){
					font-size: 12px;
				}

				@include breakPoint(0, $breakPoint ){
					display: none;
				}
			}
		}

		&-delete{
			width: 16px;
			height: 16px;
			cursor: pointer;
			fill: $colorBlack;
			transition: fill 0.2s ease;

			@include breakPoint($breakPointM){
				width: 32px;
				height: 32px;
			}

			&:hover{
				fill:$colorBlue;
			}

			svg{
				width: 100%;
				height: 100%;
			}

			@include breakPoint(0, $breakPointM ){
				position: absolute;
				right: 11px;
				bottom: 11px;
			}

			@include breakPoint($breakPointM, $breakPoint ){
				position: absolute;
				right: 22px;
				bottom: 22px;
			}

			@include breakPoint($breakPoint){
				padding: 0 30px;
				width: 24px;
				height: 24px;
			}
		}
	}




	&__bill{
		font-size: 12px;

		@include breakPoint($breakPointM){
			font-size: 24px;
		}

		@include breakPoint($breakPoint){
			font-size: 14px;
		}

		&-inner{
			@include shadow;
			padding: 20px 20px 10px;
			border-radius: 4px;

			@include breakPoint($breakPointM){
				padding: 40px 40px 20px;
				border-radius: 8px;
			}
		}


		&-title{
			font-size: 13px;
			font-weight: bold;
			margin-bottom: 20px;

			@include breakPoint($breakPointM){
				font-size: 26px;
				margin-bottom: 40px;
			}

			@include breakPoint($breakPoint){
				font-size: 14px;
				margin-bottom: 15px;
			}
		}

		&-promo{
			font-size: 0;
			margin: 0 -6px 7px;

			@include breakPoint($breakPointM){
				margin: 0 -12px 15px;
			}

			@include breakPoint($breakPoint){
				margin: 0 -6px 8px;
			}

			&-code{
				display: inline-block;
				vertical-align: middle;
				box-sizing: border-box;
				width: 50%;
				padding: 0 6px;
				font-size: 13px;

				@include breakPoint($breakPointM){
					padding: 0 12px;
					font-size: 26px;
				}

				@include breakPoint($breakPoint){
					font-size: 14px;
					padding: 0 6px;
				}

				input{
					border: 1px solid #dcdcdc;
					border-radius: 4px;
					box-sizing: border-box;
					width: 100%;
					padding: 0 10px;
					height: 45px;
					line-height: $fieldHeightM - 2px;

					@include breakPoint($breakPointM){
						border-radius: 8px;
						padding: 0 20px;
						height: 90px;
						line-height: $fieldHeight - 2px;
					}


					@include breakPoint($breakPoint){
						line-height: $fieldHeightD - 2px;
						padding: 0 10px;
						height: 45px;
						border-radius: 5px;
					}
				}
			}

			&-submit{
				width: 50%;
				padding: 0 6px;
				display: inline-block;
				vertical-align: middle;
				box-sizing: border-box;

				@include breakPoint($breakPointM){
					padding: 0 12px;
				}

				@include breakPoint($breakPoint){
					padding: 0 6px;
				}

				.btn{
					min-width: 0;
					max-width: 100%;
				}
			}


			&-message{
				font-size: 8px;
				padding: 5px 6px;

				@include breakPoint($breakPointM){
					font-size: 16px;
					padding: 10px 12px;
				}

				@include breakPoint($breakPoint){
					padding: 5px 6px;
				}

				&:empty{
					display: none;
				}
			}
		}

		&-list{
			margin-bottom: 25px;

			@include breakPoint($breakPointM){
				margin-bottom: 50px;
			}


			@include breakPoint($breakPoint){
				margin-bottom: 15px;
			}
		}

		&-item{
			display: table;
			width: 100%;
			border-bottom: 1px solid #e7e7e7;
			margin-bottom: 5px;

			@include breakPoint($breakPointM){
				margin-bottom: 10px;
			}

			@include breakPoint($breakPoint){
				margin-bottom: 3px;
			}

			&_result{
				font-weight: bold;

				@include breakPoint($breakPoint){
					font-size: 18px;
				}
			}

			span{
				background: #fff;
				padding: 2px;
				display: inline-block;
				position: relative;
				top: 5px;
				margin: 0 -2px;

				@include breakPoint($breakPointM){
					padding: 5px;
					top: 10px;
					margin: 0 -5px;
				}
			}

			&-key{
				display: table-cell;
			}

			&-val{
				display: table-cell;
				text-align: right;
			}
		}

		&-btn{
			.btn{
				margin-top: 10px;

				@include breakPoint($breakPointM){
					margin-top: 20px;
				}

				@include breakPoint($breakPoint){
					margin-top: 15px;
					width: 100%;
				}
			}
		}
	}
}




.catalog{

	&:after{
		content: '';
		display: table;
		clear: both;
	}

	&__head{

		@include breakPoint($breakPoint){
			display: block;
			height: 75px;
		}

		&-text{

			padding: 8px 0;
			color: #626262;

			@include breakPoint($breakPointM){
				padding: 16px 0;
			}

			b{
				color: $colorBlack;
			}

			@include breakPoint(0, $breakPoint){
				display: none;
			}
		}

		&-sort{


			@include breakPoint(0, $breakPoint){
				display: none;
			}
		}

		&-filter{
			font-size: 13px;
			font-weight: bold;
			text-align: center;
			@include shadow;
			text-transform: uppercase;
			margin-bottom: 12px;
			padding: 10px 0 9px;
			background-image: url("../../img/svg/ico-filter.svg");
			background-repeat: no-repeat;
			background-position: 13px 50%;
			background-size: 26px 26px;
			cursor: pointer;

			@include breakPoint($breakPointM){
				font-size: 26px;
				margin-bottom: 23px;
				padding: 20px 0 19px;
				background-size: 52px 52px;
			}

			@include breakPoint($breakPoint){
				display: none;
			}
		}
	}

	&__filter{

		@include breakPoint($breakPoint){
			float: left;
			width: 263px;
		}

		&-overlay{
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			pointer-events: none;
			opacity: 0;
			background: rgba(#000, 0.2);
			z-index: 90;
			transition: all 0.5s ease;
			cursor: pointer;

			.is-filter-show &{
				pointer-events: all;
				opacity: 1;
			}

			@include breakPoint($breakPoint){
				display: none;
			}
		}

		&-inner{

			@include breakPoint(0, $breakPointM){
				position: fixed;
				width: 270px;
				margin-left: -270px;
				top: 0;
				left: 0;
				bottom: 0;
				overflow: auto;
				background: #fff;
				z-index: 90;
				min-height: 100%;
				transition: all 0.5s ease;

				.is-filter-show &{
					margin-left: 0;
				}
			}

			@include breakPoint($breakPointM, $breakPoint){
				position: fixed;
				width: 540px;
				margin-left: -540px;
				top: 0;
				left: 0;
				bottom: 0;
				overflow: auto;
				background: #fff;
				z-index: 90;
				min-height: 100%;
				transition: all 0.5s ease;

				.is-filter-show &{
					margin-left: 0;
				}
			}


			@include breakPoint($breakPoint){
				background-color: #fff;
				box-shadow: 0 3px 0 #e6e6e6;
				border-radius: 8px;
			}
		}

		&-close{
			@include closeBtn(18px, 2px);
			right: 19px;
			color: $colorBlack;
			top: 15px;

			@include breakPoint($breakPointM){
				@include closeBtn(36px, 4px);
				right: 38px;
				top: 30px;
			}

			@include breakPoint($breakPoint){
				display: none;
			}
		}

		&-head{
			font-size: 13px;
			font-weight: bold;
			text-align: center;
			color: rgba($colorBlack, 0.25);
			background-image: url("../../img/svg/ico-filter.svg");
			background-repeat: no-repeat;
			background-position: 25px 50%;
			background-size: 26px 26px;
			text-transform: uppercase;
			padding: 17px 25px;

			@include breakPoint($breakPointM){
				font-size: 26px;
				background-size: 52px 52px;
				padding: 35px 50px;
			}

			@include breakPoint($breakPoint){
				display: none;
			}
		}

		&-item{
			padding: 17px 25px;
			border-bottom: 1px solid #dddddd;

			@include breakPoint($breakPointM){
				padding: 35px 50px;
				border-bottom: 2px solid #dddddd;
			}

			@include breakPoint($breakPoint){
				padding: 20px 25px;
				border-bottom-width: 1px;

				&_sort{
					position: absolute;
					top: 0;
					right: 0;
					padding: 0;
					white-space: nowrap;
					border: 0;
					font-size: 0;

					.catalog__filter-title{
						display: inline-block!important;
						vertical-align: middle;
						margin-right: 30px;
						pointer-events: none;
						margin-bottom: 25px;

						&:after{
							display: none;
						}
					}

					.catalog__filter-group{
						display: inline-block!important;
						vertical-align: middle;
						white-space: normal;
						padding: 0;
						width: 265px;
					}
				}
			}
		}

		&-control{
			padding: 30px 25px;

			@include breakPoint($breakPointM){
				padding: 60px 50px;
			}

			@include breakPoint($breakPoint){
				padding: 20px 25px;
			}


			.btn{
				margin-top: 12px;

				@include breakPoint($breakPointM){
					margin-top: 25px;
				}

				&:first-child{
					margin-top: 0;
				}

				@include breakPoint($breakPoint){
					margin-top: 0;
					border: none;
					font-size: 14px;
					font-weight: normal;
					text-transform: capitalize;
					min-width: auto;
					width: 100%;
					padding: 0;
				}


				&_fill{

					@include breakPoint($breakPoint){
						display: none;
					}
				}
			}
		}

		&-title{
			font-size: 13px;
			font-weight: bold;
			position: relative;
			cursor: pointer;
			user-select: none;

			@include breakPoint($breakPointM){
				font-size: 26px;
			}

			@include breakPoint($breakPoint){
				font-size: 16px;
			}

			&:after{
				content: '';
				width: 31px;
				height: 31px;
				background: url("../../img/svg/ico-next.svg") no-repeat 50% 50%;
				background-size: cover;
				position: absolute;
				top: 50%;
				right: -12px;
				margin-top: -16px;
				transform: rotate(0deg);
				transition: all 0.2s ease;

				@include breakPoint($breakPointM){
					width: 63px;
					height: 63px;
					right: -25px;
					margin-top: -32px;
				}

				@include breakPoint($breakPoint){
					width: 38px;
					height: 38px;
					margin-top: -20px;
					right: -15px;
				}
			}

			&.is-open{
				&:after{
					transform: rotate(90deg);
				}
			}
		}

		&-group{
			padding: 17px 0 0;
			display: none;

			@include breakPoint($breakPointM){
				padding: 35px 0 0;
			}

			@include breakPoint($breakPoint){
				padding: 20px 0 0;
			}

			&.is-open{
				display: block;
			}

			.form__field{
				margin-bottom: 25px;

				@include breakPoint($breakPointM){
					margin-bottom: 50px;
				}

				@include breakPoint($breakPoint){
					margin-bottom: 25px;
				}
			}

			.form__input{
				margin-bottom: 11px;

				@include breakPoint($breakPointM){
					margin-bottom: 22px;
				}

				@include breakPoint($breakPoint){
					margin-bottom: 11px;
				}

				&:last-child{
					margin-bottom: 0;
				}
			}
		}

	}

	&__list{

		@include breakPoint($breakPoint){
			margin-left: 293px;
		}
	}



	&__enter{

		&-list{
			margin: -5px;
			font-size: 0;

			@include breakPoint($breakPointM){
				margin: -10px;
			}

			@include breakPoint($breakPoint){
				margin: -15px;
			}
		}

		&-item{
			padding: 5px;
			display: inline-block;
			vertical-align: top;
			width: 50%;
			box-sizing: border-box;

			@include breakPoint($breakPointM){
				padding: 10px;
			}

			@include breakPoint($breakPoint){
				width: (100% / 3);
				padding: 15px;
			}

		}

		&-card{
			display: block;
			@include shadow;
			height: 107px;
			text-align: center;
			box-sizing: border-box;
			border: 1px solid #fff;
			transition: border 0.2s ease;
			border-radius: 5px;

			@include breakPoint($breakPointM){
				height: 215px;
				border: 2px solid #fff;
				border-radius: 10px;
			}

			@include breakPoint($breakPoint){
				height: 256px;
				border-radius: 10px;
			}

			&:hover{
				border-color: $colorBlue;

				.catalog__enter-image{
					opacity: 1;
				}
			}

			&:after{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}
		}

		&-inner{
			display: inline-block;
			vertical-align: middle;
		}

		&-image{
			height: 55px;
			opacity: 0.7;

			@include breakPoint($breakPointM){
				height: 110px;
			}

			@include breakPoint($breakPoint){
				margin-bottom: 20px;
			}

			img{
				height: 100%;
			}
		}

		&-text{
			font-size: 12px;
			font-weight: bold;

			@include breakPoint($breakPointM){
				font-size: 24px;
			}

			@include breakPoint($breakPoint){
				font-size: 18px;
			}
		}
	}
}


.contacts{
	position: relative;

	.inner_box{
		padding-bottom: 0;


		@include breakPoint(0, $breakPoint){
			margin-bottom: 0;
		}
	}

	&__title{
		font-size: 13px;
		font-weight: bold;
		margin-bottom: 20px;

		@include breakPoint($breakPointM){
			font-size: 26px;
			margin-bottom: 40px;
		}

		@include breakPoint($breakPoint){
			font-size: 18px;
		}
	}


	&__table{
		font-size: 12px;
		display: table;
		width: 100%;
		line-height: 1.33;

		@include breakPoint($breakPointM){
			font-size: 24px;
		}

		@include breakPoint($breakPoint){
			font-size: 14px;
			margin-bottom: 25px;
		}

		&-item{
			display: table-row;
		}

		&-name{
			display: table-cell;
			width: 127px;
			font-weight: bold;
			padding-bottom: 17px;

			@include breakPoint($breakPointM){
				width: 255px;
				padding-bottom: 35px;
			}

			@include breakPoint($breakPoint){
				width: 165px;
				padding-bottom: 25px;
			}
		}

		&-val{
			display: table-cell;
			padding-bottom: 20px;

			@include breakPoint($breakPointM){
				padding-bottom: 40px;
			}

			@include breakPoint($breakPoint){
				padding-bottom: 25px;
			}
		}

		a{
			color: $colorBlue;

			&:hover{
				color: $colorBlueLight;
			}
		}
	}


	&__map{
		height: 307px;
		background: #dddddd;

		@include breakPoint($breakPointM){
			height: 615px;
		}

		@include breakPoint($breakPoint){
			height: 445px;
			border-radius: 0 0 10px 10px;
			overflow: hidden;
		}
	}


	&__form{
		margin: -75px 15px 0 ;
		@include shadow;
		padding: 20px 18px;
		position: relative;
		box-sizing: border-box;

		@include breakPoint($breakPointM){
			margin: -130px 30px 0 ;
			padding: 40px 37px;
		}

		@include breakPoint($breakPoint){
			width: 390px;
			margin: 0;
			position: absolute;
			top: 143px;
			left: 50%;
			margin-left: 98px;
			border: 1px solid #dedede;
			padding: 40px 40px 30px;
		}


		&-title{
			font-size: 13px;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 17px;

			@include breakPoint($breakPointM){
				font-size: 26px;
				margin-bottom: 35px;
			}

			@include breakPoint($breakPoint){
				font-size: 18px;
				margin-bottom: 20px;
			}
		}



		.form__field_submit{
			.btn{

				@include breakPoint($breakPoint){
					width: 100%;
				}
			}
		}
	}
}


.product{

	.inner{
		@include clearfix;
	}

	&__image{
		background: #fff;
		border-radius: 4px;
		overflow: hidden;
		font-size: 0;

		@include breakPoint($breakPointM){
			border-radius: 8px;
		}

		@include breakPoint(0, $breakPointM){
			box-shadow: 0 2px 0 #e6e6e6;
			margin-bottom: 11px;
		}

		@include breakPoint($breakPointM, $breakPoint){
			box-shadow: 0 3px 0 #e6e6e6;
			margin-bottom: 23px;
		}

		@include breakPoint($breakPoint){
			width: 654px;
			float: left;
			margin-bottom: 35px;
		}

		&-view{
			height: 215px;
			background: #f9f9f9 no-repeat 50% 50%;
			background-size: cover;

			@include breakPoint($breakPointM){
				height: 430px;
			}

			@include breakPoint($breakPoint){
				height: 540px;
				float: right;
				width: calc(100% - 98px);
			}

			.plyr__video-wrapper{
				height: 100%;
			}

			.plyr,
			video{
				width: 100%;
				height: 100%;
				opacity: 0;
				pointer-events: none;
				transition: opacity 0.3s ease;
			}

			&_video{
				.plyr.is-ready,
				.is-ready video{
					opacity: 1;
					pointer-events: all;
				}


			}
		}

		&-preview{
			height: 75px;

			@include breakPoint($breakPointM){
				height: 130px;
			}

			@include breakPoint($breakPoint){
				float: left;
				width: 98px;
				height: 540px;
				text-align: center;

				&:after{
					content: '';
					display: inline-block;
					vertical-align: middle;
					height: 100%;
				}
			}


			&-list{
				padding: 4px 0;
				text-align: center;

				@include breakPoint($breakPointM){
					padding: 8px 0;
				}

				@include breakPoint($breakPoint){
					padding: 0;
					display: inline-block;
					vertical-align: middle;
				}
			}

			&-item{
				display: inline-block;
				opacity: 0.7;

				&.is-active{
					opacity: 1;
				}

				&:hover{
					opacity: 1;
				}
			}

			&-img{
				width: 40px;
				height: 37px;
				margin: 10px;
				background: no-repeat 50% 50%;
				background-size: cover;
				cursor: pointer;

				@include breakPoint($breakPointM){
					width: 80px;
					height: 74px;
					margin: 20px;
				}

				@include breakPoint($breakPoint){
					width: 73px;
					height: 67px;
					margin: 10px 0;
				}


				&[data-video]{
					position: relative;
					&:before{
						content: '';
						width: 40px;
						height: 40px;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						margin: auto;

						border-radius: 50%;
						background:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cpath fill='%23ffffff' d='M15.562 8.1L3.87.225C3.052-.337 2 .225 2 1.125v15.75c0 .9 1.052 1.462 1.87.9L15.563 9.9c.584-.45.584-1.35 0-1.8z'%3E%3C/path%3E%3C/svg%3E") no-repeat 60% 50%;
						background-size: 18px 18px;

						@include breakPoint($breakPointM){
							background-color: $colorBlue;
						}

					}
				}
			}
		}
	}


	&__info{
		background: #fff;
		border-radius: 4px;
		position: relative;
		margin-bottom: 17px;
		padding: 15px 19px 17px;

		@include breakPoint($breakPointM){
			border-radius: 8px;
			margin-bottom: 35px;
			padding: 30px 38px 35px;
		}

		@include breakPoint(0, $breakPoint){
			box-shadow: 0 3px 0 #e6e6e6;
		}

		@include breakPoint($breakPoint){
			margin-left: 683px;
			padding: 30px 35px 35px;
		}



		&-status{
			font-size: 12px;
			color: #878787;
			margin-bottom: 10px;

			@include breakPoint($breakPointM){
				font-size: 24px;
				margin-bottom: 20px;
			}

			@include breakPoint($breakPoint){
				font-size: 14px;
			}

			&:before{
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background: #ccc;
				margin-right: 12px;
				position: relative;
				top: -1px;

				@include breakPoint($breakPointM){
					width: 15px;
					height: 15px;
					margin-right: 25px;
					top: -2px;
				}

				@include breakPoint($breakPoint){
					width: 10px;
					height: 10px;
					margin-right: 11px;
					top: -1;
				}
			}

			&_many{
				&:before{
					background: #10eb40;
				}
			}

			&_no{
				&:before{
					//background: $colorRed;
				}
			}
		}

		&-favorite{
			width: 27px;
			height: 21px;
			position: absolute;
			right: 17px;
			top: 22px;
			cursor: pointer;

			@include breakPoint($breakPointM){
				width: 55px;
				height: 43px;
				right: 35px;
				top: 44px;
			}

			@include breakPoint($breakPoint){
				width: 26px;
				height: 22px;
				top: 29px;
				right: 35px;
			}

			svg{
				width: 100%;
				height: 100%;
			}

			path{
				fill: transparent;
				stroke-width: 3;
				stroke: $colorBlack;
			}

			&:hover{
				path{
					stroke: $colorBlue;
				}
			}

			&.is-active{
				path{
					fill: $colorBlue;
					stroke: $colorBlue;
				}
			}
		}


		&-price{
			margin-bottom: 10px;

			@include breakPoint($breakPointM){
				margin-bottom: 20px;
			}

			&-act{
				display: inline-block;
				vertical-align: baseline;
				font-size: 23px;
				font-weight: bold;
				margin-right: 12px;

				@include breakPoint($breakPointM){
					font-size: 46px;
					margin-right: 25px;
				}

				@include breakPoint($breakPoint){
					font-size: 30px;
					margin-right: 20px;
				}
			}

			&-old{
				display: inline-block;
				vertical-align: baseline;
				font-size: 12px;
				color: #767676;
				position: relative;
				padding: 0 2px;
				top: -2px;

				@include breakPoint($breakPointM){
					font-size: 24px;
					padding: 0 5px;
					top: -5px;
				}

				@include breakPoint($breakPoint){
					font-size: 16px;
				}

				&:before{
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					height: 1px;
					left: 0;
					right: 0;
					background: #767676;
				}

			}
		}

		&-add{


			.btn{

				@include breakPoint($breakPoint){
					width: 100%;
				}
			}
		}
	}

	&__label{
		font-size: 0;

		@include breakPoint($breakPoint){
			width: 654px;
			float: left;
		}

		&-group{
			margin-bottom: 17px;

			@include breakPoint($breakPointM){
				margin-bottom: 35px;
			}

			@include breakPoint($breakPoint){
				margin-bottom: 0;
				box-sizing: border-box;
				display: inline-block;

				&:nth-of-type(2n - 1){
					width: 354px;
					padding-right: 30px;
				}

				&:nth-of-type(2n){
					width: calc(100% - 354px);
				}
			}
		}

		&-title{
			font-size: 12px;
			margin-bottom: 12px;

			@include breakPoint($breakPointM){
				font-size: 24px;
				margin-bottom: 23px;
			}

			@include breakPoint($breakPoint){
				font-size: 14px;
				margin-bottom: 15px;
			}
		}

		&-list{
			font-size: 0;

			@include breakPoint(0, $breakPointM){
				padding: 0 15px;
				margin: 0 -15px;
				white-space: nowrap;
				@include scrollHor;
			}

			@include breakPoint($breakPointM, $breakPoint){
				padding: 0 30px;
				margin: 0 -30px;
				white-space: nowrap;
				@include scrollHor;
			}

		}

		&-item{
			display: inline-block;
			margin-right: 10px;

			@include breakPoint($breakPointM){
				margin-right: 19px;
			}

			&:last-child{
				margin-right: 0;
			}

			@include breakPoint($breakPoint){
				margin: 0 12px 11px 0;
			}

			input{
				&:checked{
					& ~ .product__label-inner{
						color: #fff;
						background: #b5b5b5;
						border-color: #b5b5b5;
					}
				}
			}
		}

		&-inner{
			padding: 0 17px;
			height: 25px;
			line-height: 24px;
			border: 1px solid #e9e9e9;
			border-radius: 3px;
			font-size: 9px;
			background: #fff;

			@include breakPoint($breakPointM){
				padding: 0 35px;
				height: 50px;
				line-height: 48px;
				border-radius: 6px;
				font-size: 18px;
			}

			@include breakPoint($breakPoint){
				font-size: 12px;
				height: 32px;
				line-height: 30px;
				padding: 0 21px;
				border-radius: 4px;
			}
		}
	}


	&__features{

		@include breakPoint($breakPoint){
			margin-bottom: 15px;
			margin-left: 683px;
		}


		&-title{
			font-size: 13px;
			font-weight: bold;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 15px;

			@include breakPoint($breakPointM){
				font-size: 26px;
				margin-bottom: 30px;
			}

			@include breakPoint($breakPoint){
				text-align: left;
				text-transform: none;
				font-size: 16px;
				margin-bottom: 15px;
			}
		}

		&-list{
			font-size: 0;
		}

		&-item{
			display: inline-block;
			width: 50%;
			vertical-align: top;
			position: relative;
			min-height: 30px;
			margin-bottom: 7px;

			@include breakPoint($breakPointM){
				min-height: 60px;
				margin-bottom: 15px;
			}

			@include breakPoint($breakPoint){
				min-height: 48px;
				margin-bottom: 10px;
			}
		}

		&-ico{
			width: 30px;
			height: 30px;
			position: absolute;
			top: 0;
			left: 0;

			@include breakPoint($breakPointM){
				width: 60px;
				height: 60px;
			}

			@include breakPoint($breakPoint){
				width: 48px;
				height: 48px;
			}


			img{
				width: 100%;
				height: 100%;
			}
		}
		&-text{
			font-size: 9px;
			padding: 10px 0 0 40px;

			@include breakPoint($breakPointM){
				font-size: 18px;
				padding: 20px 0 0 80px;
			}

			@include breakPoint($breakPoint){
				font-size: 14px;
				padding: 15px 0 0 60px;
			}
		}

	}


	&__share{
		text-align: center;

		@include breakPoint($breakPoint){
			text-align: left;
			margin-left: 683px;
		}



		&-title{
			font-size: 12px;
			font-weight: bold;
			margin-bottom: 15px;

			@include breakPoint($breakPointM){
				font-size: 24px;
				margin-bottom: 30px;
			}

			@include breakPoint($breakPoint){
				font-size: 16px;
				margin-bottom: 15px;
			}
		}

		&-list{
			font-size: 0;
			margin: -8px;

			@include breakPoint($breakPointM){
				margin: -17px;
			}

			@include breakPoint($breakPoint){
				margin: 0 0 -20px 0;
			}
		}

		&-item{
			width: 36px;
			height: 36px;
			border-radius: 50%;
			box-sizing: border-box;
			color: #adadad;
			border: 1px solid currentColor;
			display: inline-block;
			margin: 8px;
			position: relative;
			cursor: pointer;

			@include breakPoint($breakPointM){
				width: 73px;
				height: 73px;
				margin: 17px;
			}

			@include breakPoint($breakPoint){
				width: 43px;
				height: 43px;
				margin: 0 20px 20px 0;
			}

			&:hover{
				color: $colorBlue;
			}

			svg{
				position: absolute;
				fill: currentColor;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 50%;
				height: 50%;
			}
		}
	}
}



.tabs{

	.inner_box{
		padding-top: 0;
		padding-bottom: 0;
	}

	&__menu{

		&-list{
			font-size: 0;
			text-align: center;

			@include breakPoint(0, $breakPointM){
				padding: 0 6px;
				margin: 0 -15px;
				white-space: nowrap;
				@include scrollHor;
			}

			@include breakPoint($breakPointM, $breakPoint){
				padding: 0 13px;
				margin: 0 -30px;
				white-space: nowrap;
				@include scrollHor;
			}
		}

		&-item{
			display: inline-block;
			font-size: 12px;
			font-weight: bold;
			height: 50px;
			line-height: 50px;
			cursor: pointer;

			margin: 0 8px;
			position: relative;

			@include breakPoint($breakPointM){
				font-size: 24px;
				height: 100px;
				line-height: 100px;
				margin: 0 17px;
			}

			@include breakPoint($breakPoint){
				font-size: 16px;
				margin: 0 6px;
				padding: 0 27px;
				height: 62px;
				line-height: 62px;
			}


			&:after{
				content: '';
				display: block;
				position: absolute;
				height: 3px;
				bottom: 0;
				left: 0;
				width: 100%;

				@include breakPoint($breakPointM){
					height: 5px;
				}

				@include breakPoint($breakPoint){
					height: 3px;
				}
			}

			&.is-active{
				color: $colorBlue;

				&:after{
					background: $colorBlue;
				}
			}
		}
	}
}

.auth{
	&__wrap{
		font-size: 0;
		text-align: center;

		@include breakPoint($breakPoint){
			margin: -15px;

			@include clearfix;
		}
	}

	&__box{
		margin-bottom: 10px;
		text-align: left;

		@include breakPoint($breakPointM){
			margin-bottom: 20px;
		}

		@include breakPoint($breakPoint){
			display: inline-block;
			padding: 15px;
			box-sizing: border-box;
			width: 50%;
			vertical-align: top;

			&_va{
				vertical-align: middle;
			}

			&_1-3{
				width: (100% / 3);
			}


			&_2-3{
				width: (2 * 100% / 3);
			}

			&_order{
				width: (100% / 3);
				float: right;
			}


			&_checkout{
				width:  (7 * 100% / 12);
				float: left;
			}
		}

		&_checkout{

			@include breakPoint(0, $breakPointM){
				margin-bottom: -20px;
			}

			@include breakPoint($breakPointM, $breakPoint){
				margin-bottom: -40px;
			}
		}

		&-inner{

			margin-bottom: 15px;

			@include breakPoint($breakPointM){
				margin-bottom: 30px;
			}

			@include breakPoint($breakPoint){
				margin-bottom: 20px;
			}

			&:last-child{
				margin-bottom: 0;
			}

			.auth__box_fill &{
				@include shadow;
			}
		}

		&-content{
			padding: 20px 0;
			border-top: 1px solid #e7e7e7;

			@include breakPoint($breakPointM){
				padding: 40px 0;
			}

			@include breakPoint($breakPoint){
				padding: 45px 98px;
			}

			.auth__box_fill &{
				padding: 15px 20px;

				@include breakPoint($breakPointM){
					padding: 30px 40px;
				}

				@include breakPoint($breakPoint){
					padding: 30px 82px;
				}
			}


			&:first-child{
				border-top: 0;
				padding-top: 20px;

				@include breakPoint($breakPointM){
					padding-top: 40px;
				}

				@include breakPoint($breakPoint){
					padding-top: 45px;
				}
			}

			&:last-child{
				padding-bottom: 20px;

				@include breakPoint($breakPointM){
					padding-bottom: 40px;
				}

				@include breakPoint($breakPoint){
					padding-bottom: 45px;
				}
			}

			.auth__box_order &{
				padding: 0;
			}

			.auth__box_info &{

				@include breakPoint($breakPoint){
					margin: 0 68px;
					padding-right: 15px;
					padding-left: 15px;
				}
			}
		}
	}

	&__title{
		font-size: 13px;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 12px;

		@include breakPoint($breakPointM){
			font-size: 26px;
			margin-bottom: 25px;
		}

		.auth__box_checkout &{
			text-transform: none;
		}

		@include breakPoint($breakPoint){
			font-size: 18px;
			text-align: left;
			margin-bottom: 20px;
		}
	}

	&__text{
		font-size: 12px;
		line-height: 1.5;
		margin-bottom: 20px;

		@include breakPoint($breakPointM){
			font-size: 24px;
			margin-bottom: 40px;
		}

		@include breakPoint($breakPoint){
			font-size: 14px;
			margin-bottom: 20px;
		}
	}

	&__soc{

		text-align: center;

		@include breakPoint($breakPoint){
			text-align: left;
		}

		&-title{
			font-size: 12px;
			//font-weight: bold;
			margin-bottom: 15px;

			@include breakPoint($breakPointM){
				font-size: 24px;
				margin-bottom: 30px;
			}

			@include breakPoint($breakPoint){
				font-size: 14px;
				font-weight: normal;
				margin-bottom: 15px;
			}
		}

		&-list{
			margin: -10px;

			@include breakPoint($breakPointM){
				margin: -20px;
			}

			@include breakPoint($breakPoint){
				margin: -10px;
			}
		}

		&-item{
			width: 43px;
			height: 43px;
			display: inline-block;
			position: relative;
			border: 1px solid #cfcfcf;
			border-radius: 50%;
			color: $colorBlue;
			margin: 10px;
			cursor: pointer;

			@include breakPoint($breakPointM){
				width: 86px;
				height: 86px;
				margin: 20px;
			}

			&:hover{
				border-color: $colorBlue;
			}

			@include breakPoint($breakPoint){
				width: 43px;
				height: 43px;
				margin: 10px;
			}

			svg{
				position: absolute;
				fill: currentColor;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 50%;
				height: 50%;
			}
		}
	}

	&__btn{
		margin-top: 20px;

		@include breakPoint($breakPointM){
			margin-top: 40px;
		}

		@include breakPoint($breakPoint){
			margin-top: 30px;
		}

		.btn{
			width: 100%;
		}
	}


	&__typo{
		font-size: 12px;

		@include breakPoint($breakPointM){
			font-size: 24px;
		}

		@include breakPoint($breakPoint){
			font-size: 14px;
			margin-bottom: 25px;
		}

		&-title{
			font-size: 13px;
			font-weight: bold;
			margin-bottom: 15px;

			@include breakPoint($breakPointM){
				font-size: 26px;
				margin-bottom: 30px;
			}

			@include breakPoint($breakPoint){
				font-size: 18px;
				margin-bottom: 20px;
			}
		}

		p{

		}

		ul{

		}

		li{
			position: relative;
			margin: 15px 0;
			padding-left: 17px;

			@include breakPoint($breakPointM){
				margin: 30px 0;
				padding-left: 35px;
			}

			@include breakPoint($breakPoint){
				padding-left: 25px;
				margin: 15px 0;
			}

			&:before{
				content: '';
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background-color: currentColor;
				position: absolute;
				top: 5px;
				left: 0;

				@include breakPoint($breakPointM){
					width: 11px;
					height: 11px;
					top: 9px;
				}

				@include breakPoint($breakPoint){
					width: 6px;
					height: 6px;
					top: 5px;
				}
			}

		}
	}

	&__form{
		.btn{
			width: 100%;
		}
	}

	&__info{

		&-title{
			font-weight: bold;
			text-transform: uppercase;
			font-size: 13px;
			margin-bottom: 15px;

			@include breakPoint($breakPointM){
				font-size: 26px;
				margin-bottom: 30px;
			}


			@include breakPoint($breakPoint){
				font-size: 18px;
				margin-bottom: 20px;
			}
		}

		&-table{
			font-size: 12px;

			@include breakPoint($breakPointM){
				font-size: 24px;
			}

			@include breakPoint($breakPoint){
				font-size: 14px;
				margin: -5px 0;
			}
		}

		&-item{
			margin-bottom: 15px;

			@include breakPoint($breakPointM){
				margin-bottom: 30px;
			}

			@include breakPoint($breakPoint){
				margin-bottom: 15px;
				display: table-row;
			}


			&:last-child{
				margin-bottom: 0;
			}
		}

		&-name{
			font-weight: bold;

			@include breakPoint($breakPoint){
				display: table-cell;
				width: 180px;
				padding: 5px 30px 5px 0;
			}
		}

		&-val{

			@include breakPoint($breakPoint){
				display: table-cell;
				padding: 5px 0;
			}
		}
	}

	&__order{

		&-title{
			font-size: 13px;
			font-weight: bold;
			text-transform: uppercase;
			padding: 12px 20px 7px;
			text-align: center;

			@include breakPoint($breakPointM){
				font-size: 26px;
				padding: 25px 40px 15px;
			}

			@include breakPoint($breakPoint){
				font-size: 18px;
				padding: 30px 35px 10px;
				text-align: left;

			}


			&_drop{
				position: relative;
				text-align: left;
				padding-bottom: 15px;
				cursor: pointer;

				@include breakPoint($breakPointM){
					padding-bottom: 30px;
				}

				& ~ .auth__order-inner{

					@include breakPoint(0, $breakPoint){
						display: none;
					}
				}

				& ~ .auth__order-inner .auth__order-list{

					@include breakPoint(0, $breakPointM){
						border-top: 1px solid #939393;
					}

					@include breakPoint($breakPointM, $breakPoint){
						border-top: 2px solid #939393;
					}
				}

				&:after{
					content: '';
					width: 31px;
					height: 31px;
					background: url("../../img/svg/ico-next.svg") no-repeat 50% 50%;
					background-size: cover;
					position: absolute;
					top: 50%;
					right: 5px;
					margin-top: -16px;
					transform: rotate(0deg);
					transition: all 0.2s ease;

					@include breakPoint($breakPointM){
						width: 63px;
						height: 63px;
						right: 10px;
						margin-top: -32px;
					}

					@include breakPoint($breakPoint){
						width: 38px;
						height: 38px;
						margin-top: -20px;
						right: -15px;
					}
				}

				&.is-open{
					&:after{
						transform: rotate(90deg);
					}
				}

				@include breakPoint(0, $breakPoint){
					& ~ .auth__order-inner.is-open{
						display: block;
					}
				}
			}
		}

		&-list{
			border-bottom: 1px solid #939393;

			@include breakPoint($breakPointM){
				border-bottom: 2px solid #939393;
			}

			@include breakPoint($breakPoint){
				border-top: 0;
				border-bottom: 1px solid #dddddd;
			}
		}

		&-item{
			padding: 12px;
			border-top: 1px solid #dddddd;
			overflow: hidden;

			@include breakPoint($breakPointM){
				padding: 25px;
			}

			@include breakPoint($breakPoint){
				padding: 17px 35px;
			}

			&:first-child{
				border: 0;
			}

			&-image{
				width: 55px;
				height: 55px;
				border-radius: 3px;
				background: no-repeat 50% 50%;
				background-size: cover;
				display: block;
				float: left;

				@include breakPoint($breakPointM){
					width: 109px;
					height: 109px;
					border-radius: 6px;
				}

				@include breakPoint($breakPoint){
					width: 79px;
					height: 76px;
					border-radius: 0;
				}

			}

			&-info{
				margin-left: 70px;
				overflow: hidden;

				@include breakPoint($breakPointM){
					margin-left: 140px;
				}

				@include breakPoint($breakPoint){
					margin-left: 96px;
				}
			}

			&-name{
				font-size: 11px;
				float: left;
				width: 100%;
				margin-bottom: 12px;

				@include breakPoint($breakPointM){
					font-size: 22px;
					margin-bottom: 25px;
				}

				@include breakPoint($breakPoint){
					font-size: 14px;
					margin-bottom: 20px;
				}
			}

			&-count{
				font-size: 13px;
				float: left;

				@include breakPoint($breakPointM){
					font-size: 26px;
				}

				@include breakPoint($breakPoint){
					font-size: 14px;
					color: #6c6c6c;
				}
			}

			&-price{
				font-size: 12px;
				font-weight: bold;
				float: right;

				@include breakPoint($breakPointM){
					font-size: 24px;
				}

				@include breakPoint($breakPoint){
					font-size: 16px;
				}
			}
		}

		&-bill{
			font-size: 12px;
			padding: 20px 17px 10px;

			@include breakPoint($breakPointM){
				font-size: 24px;
				padding: 40px 35px 20px;
			}

			@include breakPoint($breakPoint){
				font-size: 14px;
				padding: 20px 35px 30px;
			}


			&-list{
				margin-bottom: 25px;

				@include breakPoint($breakPointM){
					margin-bottom: 50px;
				}

				@include breakPoint($breakPoint){
					margin-bottom: 15px;
				}
			}

			&-item{
				display: table;
				width: 100%;
				margin-bottom: 7px;
				border-bottom: 1px solid #e7e7e7;

				@include breakPoint($breakPointM){
					margin-bottom: 15px;
				}

				@include breakPoint($breakPoint){
					margin-bottom: 3px;
				}

				@include breakPoint($breakPoint){
					margin-bottom: 3px;
				}

				&_result{
					font-weight: bold;

					@include breakPoint($breakPoint){
						font-size: 18px;
					}

					.auth__order-bill-val{
						font-size: 20px;

						@include breakPoint($breakPointM){
							font-size: 40px;
						}

						@include breakPoint($breakPoint){
							font-size: 24px;
						}
					}
				}

				span{
					background: #fff;
					padding: 3px 5px;
					display: inline-block;
					position: relative;
					top: 3px;
					margin: 0 -5px;

					@include breakPoint($breakPointM){
						padding: 5px 10px;
						top: 5px;
						margin: 0 -10px;
					}

					@include breakPoint($breakPoint){
						top: 8px;
					}
				}

				[class^=b-]{
					padding: 0 3px;

					@include breakPoint($breakPointM){
						padding: 0 5px;
					}
				}

			}

			&-key{
				display: table-cell;
			}

			&-val{
				display: table-cell;
				text-align: right;
			}

			&-btn{
				.btn{
					margin-top: 10px;

					@include breakPoint($breakPointM){
						margin-top: 20px;
					}

					@include breakPoint($breakPoint){
						margin-top: 25px;
						width: 100%;
					}
				}
			}

			&-footnote{
				font-size: 12px;
				color: #888888;
				margin: 15px 0;

				@include breakPoint($breakPointM){
					font-size: 24px;
					margin: 30px 0;
				}

				a{
					color: $colorBlack;
					text-decoration: underline;
				}


			}
		}

		&-btn{

			padding: 0 17px 10px;

			@include breakPoint($breakPointM){
				padding: 0 35px 20px;
			}

			@include breakPoint($breakPoint){
				padding: 0 35px 30px;
			}

		}
	}


	&__notificate{

		border: 1px solid $colorBlue;
		border-radius: 5px;
		padding: 45px 15px 15px;
		background: url("../../img/svg/notification-info.svg") no-repeat 50% 10px;
		background-size: 28px 28px;
		text-align: center;
		margin-bottom: 20px;

		@include breakPoint($breakPointM){
			border: 2px solid $colorBlue;
			border-radius: 10px;
			padding: 90px 30px 30px;
			background: url("../../img/svg/notification-info.svg") no-repeat 50% 20px;
			background-size: 56px 56px;
			margin-bottom: 40px;
		}

		@include breakPoint($breakPoint){
			background-position: 23px 50%;
			padding: 20px 20px 20px 90px;
			background-size: 43px 43px;
			text-align: left;
		}

		&-title{
			font-size: 12px;
			font-weight: bold;
			margin-bottom: 5px;

			@include breakPoint($breakPointM){
				font-size: 24px;
				margin-bottom: 10px;
			}

			@include breakPoint($breakPoint){
				font-size: 14px;
			}

		}
		&-text{
			font-size: 10px;

			@include breakPoint($breakPointM){
				font-size: 20px;
			}

			@include breakPoint($breakPoint){
				font-size: 12px;
				color: #505050;
			}
		}


	}

	&__ordering{
		font-size: 12px;

		@include breakPoint($breakPointM){
			font-size: 24px;
		}

		@include breakPoint($breakPoint){
			font-size: 14px;
		}

		&-list{
			margin: -15px 0;

			@include breakPoint($breakPointM){
				margin: -30px 0;
			}

			@include breakPoint($breakPoint){
				margin: -20px 0;
			}
		}

		&-item{
			position: relative;
			border-bottom: 1px solid #e7e7e7;
			padding: 15px 0 15px 30px;

			@include breakPoint($breakPointM){
				padding: 30px 0 30px 60px;
			}


			@include breakPoint($breakPoint){
				margin: 0 -15px;
				padding: 20px 15px 20px 55px;
			}


			&:last-child{
				border-bottom: 0;
			}
		}
		&-ico{
			position: absolute;
			top: 12px;
			left: 0;

			@include breakPoint($breakPointM){
				top: 25px;
			}

			@include breakPoint($breakPoint){
				top: 17px;
				left: 15px;
			}
		}
		&-title{
			font-weight: bold;
			margin-bottom: 3px;
			max-width: calc(100% - 75px);

			@include breakPoint($breakPointM){
				margin-bottom: 5px;
				max-width: calc(100% - 150px);
			}
		}
		&-status{
			color: #6e6e6e;
		}
		&-price{
			font-weight: bold;
			position: absolute;
			top: 15px;
			right: 0;

			@include breakPoint($breakPointM){
				top: 30px;
			}

			@include breakPoint($breakPoint){
				top: 20px;
				right: 15px;
			}
		}

		&-more{
			margin-top: 15px;

			@include breakPoint($breakPointM){
				margin-top: 30px;
			}

			.btn{
				width: 100%;
			}
		}
	}

	.ta-c{
		text-align: center;
	}
}

.order{
	&__status{
		font-size: 12px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 12px;

		@include breakPoint($breakPointM){
			font-size: 24px;
			margin-bottom: 25px;
		}

		@include breakPoint($breakPoint){
			font-size: 14px;
			text-align: right;
			margin-bottom: 15px;
			margin-top: -25px;

		}
	}

	&__comment{
		font-size: 11px;
		text-align: center;
		margin-bottom: 20px;

		@include breakPoint($breakPointM){
			font-size: 22px;
			margin-bottom: 40px;
		}

		@include breakPoint($breakPoint){
			font-size: 14px;
			text-align: left;
			margin-bottom: 25px;
		}

	}
}


