

/// Background Gradient
/// @param {Color} $startColor [#3C3C3C] - Start Color
/// @param {Color} $endColor [#999999] - End Color

@mixin background-gradient($startColor: #3C3C3C, $endColor: #999999) {
	background-color: $startColor;
	background-image: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
	background-image: -webkit-linear-gradient(top, $startColor, $endColor);
	background-image:    -moz-linear-gradient(top, $startColor, $endColor);
	background-image:     -ms-linear-gradient(top, $startColor, $endColor);
	background-image:      -o-linear-gradient(top, $startColor, $endColor);
	background-image:         linear-gradient(top, $startColor, $endColor);
//	filter:            progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$startColor}', endColorStr='#{$endColor}');
}

@mixin background-horizontal($startColor: #3C3C3C, $endColor: #999999) {
	background-color: $startColor;
	background-image: -webkit-gradient(linear, left top, right top, from($startColor), to($endColor));
	background-image: -webkit-linear-gradient(left, $startColor, $endColor);
	background-image:    -moz-linear-gradient(left, $startColor, $endColor);
	background-image:     -ms-linear-gradient(left, $startColor, $endColor);
	background-image:      -o-linear-gradient(left, $startColor, $endColor);
	background-image:         linear-gradient(left, $startColor, $endColor);
//	filter:            progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$startColor}', endColorStr='#{$endColor}', gradientType='1');
}

@mixin background-radial($startColor: #FFFFFF, $startPos: 0%, $endColor: #000000, $endPos:100%) {
	background: -moz-radial-gradient(center, ellipse cover, $startColor $startPos, $endColor $endPos);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop($startPos,$startColor), color-stop($endPos,$endColor));
	background: -webkit-radial-gradient(center, ellipse cover, $startColor $startPos,$endColor $endPos);
	background: -o-radial-gradient(center, ellipse cover, $startColor $startPos,$endColor $endPos);
	background: -ms-radial-gradient(center, ellipse cover, $startColor $startPos,$endColor $endPos);
	background: radial-gradient(ellipse at center, $startColor $startPos,$endColor $endPos);
}



@mixin clearfix(){
	&:before {
		content: "";
		display: table;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}



@function strip-unit($num) {
	@return $num / ($num * 0 + 1);
}

@mixin toRem($property, $values...) {
	$fontSize: 16;
	$max: length($values);
	$pxValues: '';
	$remValues: '';

	@for $i from 1 through $max {
		$value: strip-unit(nth($values, $i));
		$pxValues: #{$pxValues + $value/$fontSize}rem;

		@if $i < $max {
			$pxValues: #{$pxValues + ' '};
		}
	}

	@for $i from 1 through $max {
		$value: strip-unit(nth($values, $i));
		$remValues: #{$remValues + $value}px;

		@if $i < $max {
			$remValues: #{$remValues + ' '};
		}
	}

	#{$property}: $remValues;
	#{$property}: $pxValues;
}



@mixin breakPoint ($min, $max: null){
	@if ($max) {
		@media (min-width: #{$min}) and (max-width: #{$max - 1px}){
			@content;
		}
	}
	@else {
		@media (min-width: #{$min}) {
			@content;
		}
	}
}




@mixin closeBtn($width: 30px, $thickness: 4px){
	position: absolute;
	width: $width;
	height: $width;
	cursor: pointer;
	top: 22px;
	right: 22px;

	&:before,
	&:after{
		content: '';
		width: $width;
		height: $thickness;
		margin-top: -($thickness/2);
		margin-left: -($width/2);
		position: absolute;
		top: 50%;
		left: 50%;
		background: currentColor;
		//border-radius: #{$thickness};
	}

	&:before{
		transform: rotate(45deg);
	}

	&:after{
		transform: rotate(135deg);
	}

}




@mixin burgerButton ($openClass: '.is-open', $handlerWidth: 30px, $handlerHeight: 4px, $handlerRadius: 5px){
	cursor: pointer;

	i{
		display: block;
		width: $handlerWidth;
		height: $handlerHeight;
		background: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -($handlerHeight/2);
		margin-left: -($handlerWidth/2);
		transition: all 0.3s ease;
		border-radius: $handlerRadius;

		#{$openClass} &{
			width: $handlerHeight;
			margin-left: -($handlerHeight/2);
		}

		&:before,
		&:after{
			content: '';
			display: block;
			width: $handlerWidth;
			height: $handlerHeight;
			background: #fff;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-top: -($handlerHeight/2);
			margin-left: -($handlerWidth/2);
			transition: all 0.3s ease;
			border-radius: $handlerRadius;
		}

		&:before{
			top:-(($handlerWidth/3) - ($handlerHeight/2));
			#{$openClass} &{
				top:50%;
				transform: rotate(45deg);
			}
		}

		&:after{
			top: (($handlerWidth/3) + ($handlerHeight/2));
			#{$openClass} &{
				top:50%;
				transform: rotate(135deg);;
			}
		}
	}
}

