$popupZIndex: 100;
$popupOverlayColor: rgba(#dedede, 0.9);

.popup {

	display: none;

	&.is-open {
		display: block !important;
	}

	&__overlay {
		background-color: $popupOverlayColor;
		display: block;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: $popupZIndex;
	}

	&__inner {
		height: 100%;
		left: 0;
		overflow: auto;
		position: fixed;
		text-align: center;
		top: 0;
		width: 100%;
		z-index: $popupZIndex;
		display: block;
		background: transparent;
		overflow-y: scroll;
		font-size: 0;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

	}

	&__layout {
		background-color: white;
		box-sizing: border-box;
		display: inline-block;
		margin: 0 auto;
		padding: 0;
		position: relative;
		vertical-align: middle;
		width: 100%;
		max-width: 290px;
		min-height: 50px;
		text-align: left;
		font-size: 8px;
		border-radius: 10px;

		@include breakPoint($breakPointM){
			font-size: 16px;
			border-radius: 20px;
			max-width: 580px;
			min-height: 100px;
		}

		@include breakPoint($breakPoint){
			max-width: 750px;
			border-radius: 8px;
		}
	}

	&__close {
		width: 14px;
		height: 14px;
		position: absolute;
		cursor: pointer;
		top: 10px;
		right: 10px;
		@include closeBtn(16px, 2px);

		@include breakPoint($breakPointM){
			width: 28px;
			height: 28px;
			top: 19px;
			right: 19px;
			@include closeBtn(32px, 3px);
		}


		@include breakPoint($breakPoint){
			@include closeBtn(20px, 2px);
		}
	}



	&__content{
		padding: 50px 16px 30px;
		text-align: center;

		@include breakPoint($breakPointM){
			padding: 100px 35px 60px;
		}


		@include breakPoint($breakPoint){
			padding: 65px 45px 45px;
		}
	}

	&__title{
		font-weight: bold;
		text-transform: uppercase;
		font-size: 13px;
		margin-bottom: 20px;

		@include breakPoint($breakPointM){
			font-size: 26px;
			margin-bottom: 40px;
		}

		@include breakPoint($breakPoint){
			font-size: 18px;
			margin-bottom: 60px;
		}
	}

	&__text{
		font-size: 12px;

		@include breakPoint($breakPointM){
			font-size: 24px;
		}

		p{
			margin: 7px 0;

			@include breakPoint($breakPointM){
				margin: 15px 0;
			}
		}

		@include breakPoint($breakPoint){
			font-size: 16px;
		}
	}

	&__btn{
		margin-top: 10px;

		@include breakPoint($breakPointM){
			margin-top: 20px;
		}

		@include breakPoint($breakPoint){
			margin-top: 40px;
		}

		.btn{
			margin-top: 15px;

			@include breakPoint($breakPointM){
				margin-top: 30px;
			}

			@include breakPoint($breakPoint){
				margin-top: 10px;
			}
		}
	}


	&__form{
		text-align: left;
	}

	&_feedback{
		.popup__layout{

			@include breakPoint($breakPoint){
				max-width: 400px;
			}
		}
	}

	&_info{

		.popup__close{
			display: none;
		}

		.popup__content{

			@include breakPoint($breakPoint){
				padding: 100px 98px;
			}
		}

		.btn{

			@include breakPoint($breakPoint){
				min-width: 330px;
			}
		}
	}

	&_add{
		.popup__title{

			@include breakPoint($breakPoint){
				text-align: left;
				margin-left: 233px;
			}
		}
		.popup__product{

			&-image{
				@include breakPoint($breakPoint){
					display: block;
					float: left;
					margin-top: -60px;
				}
			}

			&-info{

				@include breakPoint($breakPoint){
					display: block;
					margin-left: 233px;
				}
			}
		}

		.popup__btn{

			@include breakPoint($breakPoint){
				margin-left: 233px;
				margin-top: 0;

				display: flex;
				flex-direction: row-reverse;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-content: stretch;
				align-items: center;
			}


			.btn{

				@include breakPoint($breakPoint){
					min-width: auto;
					padding-right: 30px;
					padding-left: 30px;
				}

			}
		}
	}


	&__product{
		display: table;
		text-align: left;

		&-image{
			display: table-cell;
			vertical-align: middle;
			padding-right: 22px;
			width: 95px;

			@include breakPoint($breakPointM){
				padding-right: 45px;
				width: 190px;
			}


			img{
				width: 95px;

				@include breakPoint($breakPointM){
					width: 190px;
				}
			}
		}

		&-info{
			display: table-cell;
			vertical-align: middle;
		}

		&-name{
			font-size: 10px;
			margin-bottom: 7px;

			@include breakPoint($breakPointM){
				font-size: 20px;
				margin-bottom: 15px;
			}

			@include breakPoint($breakPoint){
				font-size: 14px;
				margin-bottom: 30px;
			}
		}

		&-price{
			font-size: 12px;
			font-weight: bold;

			@include breakPoint($breakPointM){
				font-size: 24px;
			}

			@include breakPoint($breakPoint){
				font-size: 16px;
			}
		}


	}
}
