$fontMain: 'Montserrat', sans-serif;
$fontSize: 26px;
$breakPointM: 640px;
$breakPoint: 1200px;


$formHeightM: 45px;
$formHeight: 90px;
$formHeightD: 45px;
$formBorderRadiusM: 4px;
$formBorderRadius: 8px;
$formBorderRadiusD: 4px;



$colorBlue: #278ef6;
$colorBlueLight: #26abff;
$colorBlack: #000;
$colorGreen: #609d52;
$colorYellow: #fce83f;
$colorRed: #ff0042;
$colorGrey: #838383;
$colorBorder: #dcdcdc;



$headerHeightM: 56px;
$headerHeight: 112px;
$navWidthM: 270px;
$navWidth: 540px;


.c{
	&-yellow{
		color: $colorYellow;
	}
	&-green{
		color: $colorGreen;
	}
	&-blue{
		color: $colorBlue;
	}
	&-red{
		color: $colorRed;
	}
}

.b{
	&-yellow{
		background-color: $colorYellow;
	}
	&-green{
		background-color: $colorGreen;
	}
	&-blue{
		background-color: $colorBlue;
	}
	&-red{
		background-color: $colorRed;
	}
}

@mixin shadow(){
	background-color: #fff;
	box-shadow: 0 3px 0 #e6e6e6;
	border-radius: 4px;

	@include breakPoint($breakPointM){
		border-radius: 8px;
	}

	@include breakPoint($breakPoint){
		border-radius: 6px;
	}
}

@mixin scrollHor() {
	overflow: auto;
	overflow-x: scroll;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-overflow-scrolling: touch;
	overflow-y: hidden;

	&::-webkit-scrollbar {
		display: none;
		width: 0;
		height: 0;
	}
	::-webkit-scrollbar-track-piece{
		background-color: transparent;
		-webkit-border-radius: 6px;
	}
}