.article.article_delivery
	.inner.inner_box
		.article__title Условия и способы доставки товаров в&nbsp;интернет-магазине

		.article__text
			p Если Вы хоть однажды заказывали доставку букета на дом в спб для своих близких, то наверняка получили массу положительных эмоций в благодарность от них. Авторский букет с доставкой на дом по спб легко получить от высококлассных флористов Цветочной Ярмарки. Также букет цветов с доставкой на дом с 10 утра до 9 вечера можно приобрести через наш интернет-магазин или забрать самостоятельно в любое время суток. Наши специалисты дадут исчерпывающие ответы на все Ваши вопросы, выполнят заказ аккуратно в срок и несомненно в наилучшем качестве.
			p Купить букет с доставкой на дом по спб у нас экономично и просто!



		.article__swipe
			.article__swipe-item
				.article__swipe-image: img(src='../img/svg/delivery_cond_1.svg')
				.article__swipe-text Доставка осуществляется только для букетов стоимостью от 1000&nbsp;руб
			.article__swipe-item
				.article__swipe-image: img(src='../img/svg/delivery_cond_2.svg')
				.article__swipe-text Доставка букетов по&nbsp;адресу ежедневно от 1&nbsp;часа
			.article__swipe-item
				.article__swipe-image: img(src='../img/svg/delivery_cond_3.svg')
				.article__swipe-text Городская доставка букетов будет бесплатной, если стоимость покупки составила более 3900&nbsp;рублей
			.article__swipe-item
				.article__swipe-image: img(src='../img/svg/delivery_cond_4.svg')
				.article__swipe-text Мы вернем Вам деньги, если&nbsp;у&nbsp;Вас есть претензии к&nbsp;уровню обслуживания
			.article__swipe-item
				.article__swipe-image: img(src='../img/svg/delivery_cond_5.svg')
				.article__swipe-text За заказ возможно расплатиться любым путем
			.article__swipe-item
				.article__swipe-image: img(src='../img/svg/delivery_cond_6.svg')
				.article__swipe-text Мы не скупы на скидки для верных нам клиентов и&nbsp;регулярно проводим выгодные акции
