.feedback
	.inner
		.feedback__collect
			.feedback__collect-head
				.feedback__collect-title Общая оценка покупателей: #[b 4,8]
				.feedback__collect-btn
					.btn.btn_fill(data-scroll='.feedback__form') написать отзыв
			.feedback__collect-list
				.feedback__item
					.feedback__item-author Наталья
					.feedback__item-date 19 Июля 2017
					.feedback__item-rate
						.feedback__item-rate-vol 5
						.feedback__item-rate-stars.feedback__item-rate-stars_5
					.feedback__item-content
						.feedback__item-stat
							.feedback__item-title Плюсы
							.feedback__item-text Огромное спасибо! Заказывала доставку на полседьмого утра, привезли вовремя, именинница в восторге!
						.feedback__item-stat
							.feedback__item-title Минусы
							.feedback__item-text Букет шикарный, сервис замечательный, до последнего принимали все дополнения (вечером перед доставкой меня осенило, что доставка не подписана, выслушали, сказали что напишут записку)
						.feedback__item-stat
							.feedback__item-title Отзыв
							.feedback__item-text
								| Огромное спасибо! Заказывала доставку на полседьмого утра, привезли вовремя, именинница в восторге! Букет шикарный, сервис замечательный, до
								span.feedback__item-hide полседьмого утра, привезли вовремя, именинница в восторге! Букет шикарный, сервис замечательный, дополседьмого утра, привезли вовремя, именинница в восторге! Букет шикарный, сервис замечательный, до полседьмого утра, привезли вовремя, именинница в восторге! Букет шикарный, сервис замечательный.
						.feedback__item-more: a(href='#') Читать полностью
				.feedback__item
					.feedback__item-author Наталья
					.feedback__item-date 19 Июля 2017
					.feedback__item-rate
						.feedback__item-rate-vol 5
						.feedback__item-rate-stars.feedback__item-rate-stars_3
					.feedback__item-content
						.feedback__item-stat
							.feedback__item-title Плюсы
							.feedback__item-text Огромное спасибо! Заказывала доставку на полседьмого утра, привезли вовремя, именинница в восторге!
						.feedback__item-stat
							.feedback__item-title Минусы
							.feedback__item-text Букет шикарный, сервис замечательный, до последнего принимали все дополнения (вечером перед доставкой меня осенило, что доставка не подписана, выслушали, сказали что напишут записку)
						.feedback__item-stat
							.feedback__item-title Отзыв
							.feedback__item-text
								| Огромное спасибо! Заказывала доставку на полседьмого утра, привезли вовремя, именинница в восторге! Букет шикарный, сервис замечательный, до
								span.feedback__item-hide полседьмого утра, привезли вовремя, именинница в восторге! Букет шикарный, сервис замечательный, до полседьмого утра, привезли вовремя, именинница в восторге! Букет шикарный, сервис замечательный, до полседьмого утра, привезли вовремя, именинница в восторге! Букет шикарный, сервис замечательный.
						.feedback__item-more: a(href='#') Читать полностью


			.more
				a(href='#').btn.btn_fill Показать еще


		.feedback__text
			p Добавьте отзыв, заполнив личные данные,  или сначала войдите на&nbsp;сайт, тогда информация будет автоматически взята из&nbsp;профиля
			.feedback__text-btn
				a(href="/login/").btn.btn_fill войти

		.feedback__form
			.feedback__form-title Оставьте отзыв
			form.form(action='', method='post', novalidate, autocomplete='off')

				.form__field.form__field_dhalf
					.form__title Имя покупателя*
					.form__input
						input(type='text', name='fio', data-require='true')

				.form__field.form__field_dhalf
					.form__title E-mail или телефон*
					.form__input
						input(type='text', name='login', data-require='true')

				.form__field.form__field_rate
					.form__title Рейтинг*
					.form__input
						input#rate5(type='radio', name='rate', value='5', data-require='rate')
						label(for='rate5').form__input-rate
						input#rate4(type='radio', name='rate', value='4', data-require='rate')
						label(for='rate4').form__input-rate
						input#rate3(type='radio', name='rate', value='3', data-require='rate')
						label(for='rate3').form__input-rate
						input#rate2(type='radio', name='rate', value='2', data-require='rate')
						label(for='rate2').form__input-rate
						input#rate1(type='radio', name='rate', value='1', data-require='rate')
						label(for='rate1').form__input-rate

				.form__field
					.form__title Плюсы*
					.form__input
						input(type='text', name='plus', data-require='true')

				.form__field
					.form__title Минусы*
					.form__input
						input(type='text', name='minus', data-require='true')

				.form__field
					.form__title Текст отзыва*
					.form__input
						textarea(name='text', data-require='true')

				.form__field.form__field_submit
					.form__input
						button(type='submit').btn.btn_fill отправить

				//-.form__field
					.form__footnote * - Поля. обязательные для заполнения

block append
