.article
	.inner.inner_box
		.article__title После того, как Вы сделали заказ, выберите удобный способ оплаты.

		.article__payment
			.article__payment-list
				.article__payment-item
					.article__payment-ico: img(src='../img/svg/payment_1.svg')
					.article__payment-text Наличными курьеру при доставке цветов
				.article__payment-item
					.article__payment-ico: img(src='../img/svg/payment_2.svg')
					.article__payment-text При помощи платежной системы Яндекс.Деньги на&nbsp;Яндекс.Кошелек 410013964851124
				.article__payment-item
					.article__payment-ico: img(src='../img/svg/payment_3.svg')
					.article__payment-text Оплата банковской картой на&nbsp;сайте через платежную систему RoboKassa
				.article__payment-item
					.article__payment-ico: img(src='../img/svg/payment_4.svg')
					.article__payment-text Безналичные расчеты. Оплата на&nbsp;банковкий счет

		.article__text
			p Оплата банковской картой по #[a(href='#') номеру заказа] или просто сумму #[a(href='#') за заказ]. #[br]p Для постоянных клиентов заключаются договоры на постоянное обслуживание - вы всегда сможете поздравить своих сотрудников с существенными скидками!
			p: b Напоминаем, что доставку мы осуществляем только при заказе букетов стоимостью от 1000 рублей!
			p Обратите внимание:#[br] Оплата по банковским картам производится путем переадресации на сайт системы электронных платежей RoboKassa (#[a(href='#') robokassa.ru]). В системе RoboKassa безопасность платежей обеспечивается использованием SSL протокола для передачи конфиденциальной информации от клиента на сервер системы для дальнейшей обработки. Дальнейшая передача информации осуществляется по закрытым банковским сетям высшей степени защиты. Сбор и обработка полученных конфиденциальных данных клиента (реквизиты карты, регистрационные данные и т.д.) производится в процессинговом центре, а не на сайте продавца. Таким образом, Интернет-магазин "Цветочная Ярмарка" не может получить персональные и банковские данные клиента, включая информацию о его покупках, сделанных в других магазинах.
